
<div *ngIf="kmLoans">
    <h2><span jhiTranslate="cbsMiddlewareApp.kmLoans.detail.title">Km Loans</span> {{kmLoans.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.cropName">Crop Name</span></dt>
        <dd>
            <span>{{kmLoans.cropName}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.cropNameMr">Crop Name Mr</span></dt>
        <dd>
            <span>{{kmLoans.cropNameMr}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.loanDate">Loan Date</span></dt>
        <dd>
            <span>{{kmLoans.loanDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.loanAmount">Loan Amount</span></dt>
        <dd>
            <span>{{kmLoans.loanAmount}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.loanAmountMr">Loan Amount Mr</span></dt>
        <dd>
            <span>{{kmLoans.loanAmountMr}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.are">Are</span></dt>
        <dd>
            <span>{{kmLoans.are}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.areMr">Are Mr</span></dt>
        <dd>
            <span>{{kmLoans.areMr}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.receivableAmt">Receivable Amt</span></dt>
        <dd>
            <span>{{kmLoans.receivableAmt}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.receivableAmtMr">Receivable Amt Mr</span></dt>
        <dd>
            <span>{{kmLoans.receivableAmtMr}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.dueAmt">Due Amt</span></dt>
        <dd>
            <span>{{kmLoans.dueAmt}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.dueAmtMr">Due Amt Mr</span></dt>
        <dd>
            <span>{{kmLoans.dueAmtMr}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.dueDate">Due Date</span></dt>
        <dd>
            <span>{{kmLoans.dueDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmLoans.kmDetails">Km Details</span></dt>
        <dd>
            <div *ngIf="kmLoans.kmDetails">
                <a [routerLink]="['/km-details', kmLoans.kmDetails?.id]">{{kmLoans.kmDetails?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'km-loans/'+ kmLoans.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
