<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cropRateMaster">
      <h2 data-cy="cropRateMasterDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.cropRateMaster.detail.title">Crop Rate Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cropRateMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.financialYear">Financial Year</span></dt>
        <dd>
          <span>{{ cropRateMaster.financialYear }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.currentAmount">Current Amount</span></dt>
        <dd>
          <span>{{ cropRateMaster.currentAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.currentAmountMr">Current Amount Mr</span></dt>
        <dd>
          <span>{{ cropRateMaster.currentAmountMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.percentage">Percentage</span></dt>
        <dd>
          <span>{{ cropRateMaster.percentage }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.activeFlag">Active Flag</span></dt>
        <dd>
          <span>{{ cropRateMaster.activeFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropRateMaster.cropMaster">Crop Master</span></dt>
        <dd>
          <div *ngIf="cropRateMaster.cropMaster">
            <a [routerLink]="['/crop-master', cropRateMaster.cropMaster.id, 'view']">{{ cropRateMaster.cropMaster.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crop-rate-master', cropRateMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
