<div>
  <h2 id="page-heading" data-cy="IsCalculateTempHeading">
    <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.home.title">Is Calculate Temps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-is-calculate-temp"
        [routerLink]="['/is-calculate-temp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.home.createLabel"> Create a new Is Calculate Temp </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="isCalculateTemps?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.home.notFound">No Is Calculate Temps found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="isCalculateTemps && isCalculateTemps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serialNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.serialNo">Serial No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="financialYear">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.financialYear">Financial Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="issFileParserId">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.issFileParserId">Iss File Parser Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branchCode">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.branchCode">Branch Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanAccountNumberKcc">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanAccountNumberKcc">Loan Account Number Kcc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="farmerName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.farmerName">Farmer Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="aadharNumber">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.aadharNumber">Aadhar Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mobileNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.mobileNo">Mobile No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="farmerType">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.farmerType">Farmer Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="socialCategory">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.socialCategory">Social Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountNumber">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.accountNumber">Account Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanSanctionDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanSanctionDate">Loan Sanction Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanSanctionAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanSanctionAmount">Loan Sanction Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disbursementDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.disbursementDate">Disbursement Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disburseAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.disburseAmount">Disburse Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maturityLoanDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.maturityLoanDate">Maturity Loan Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.bankDate">Bank Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cropName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.cropName">Crop Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recoveryAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryAmount">Recovery Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recoveryInterest">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryInterest">Recovery Interest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recoveryDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryDate">Recovery Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balanceAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.balanceAmount">Balance Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prevDays">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.prevDays">Prev Days</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="presDays">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.presDays">Pres Days</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actualDays">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.actualDays">Actual Days</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nProd">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.nProd">N Prod</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productAmount">Product Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productBank">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productBank">Product Bank</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productAbh3Lakh">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productAbh3Lakh">Product Abh 3 Lakh</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestFirst15">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirst15">Interest First 15</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestFirst25">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirst25">Interest First 25</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestSecond15">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecond15">Interest Second 15</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestSecond25">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecond25">Interest Second 25</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestStateFirst3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestStateFirst3">Interest State First 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestStateSecond3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestStateSecond3">Interest State Second 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestFirstAbh3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirstAbh3">Interest First Abh 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestSecondAbh3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecondAbh3">Interest Second Abh 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestAbove3Lakh">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestAbove3Lakh">Interest Above 3 Lakh</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="panjabraoInt3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.panjabraoInt3">Panjabrao Int 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isRecover">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.isRecover">Is Recover</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="abh3LakhAmt">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.abh3LakhAmt">Abh 3 Lakh Amt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="upto50000">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.upto50000">Upto 50000</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let isCalculateTemp of isCalculateTemps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/is-calculate-temp', isCalculateTemp.id, 'view']">{{ isCalculateTemp.id }}</a>
          </td>
          <td>{{ isCalculateTemp.serialNo }}</td>
          <td>{{ isCalculateTemp.financialYear }}</td>
          <td>{{ isCalculateTemp.issFileParserId }}</td>
          <td>{{ isCalculateTemp.branchCode }}</td>
          <td>{{ isCalculateTemp.loanAccountNumberKcc }}</td>
          <td>{{ isCalculateTemp.farmerName }}</td>
          <td>{{ isCalculateTemp.gender }}</td>
          <td>{{ isCalculateTemp.aadharNumber }}</td>
          <td>{{ isCalculateTemp.mobileNo }}</td>
          <td>{{ isCalculateTemp.farmerType }}</td>
          <td>{{ isCalculateTemp.socialCategory }}</td>
          <td>{{ isCalculateTemp.accountNumber }}</td>
          <td>{{ isCalculateTemp.loanSanctionDate }}</td>
          <td>{{ isCalculateTemp.loanSanctionAmount }}</td>
          <td>{{ isCalculateTemp.disbursementDate }}</td>
          <td>{{ isCalculateTemp.disburseAmount }}</td>
          <td>{{ isCalculateTemp.maturityLoanDate }}</td>
          <td>{{ isCalculateTemp.bankDate }}</td>
          <td>{{ isCalculateTemp.cropName }}</td>
          <td>{{ isCalculateTemp.recoveryAmount }}</td>
          <td>{{ isCalculateTemp.recoveryInterest }}</td>
          <td>{{ isCalculateTemp.recoveryDate }}</td>
          <td>{{ isCalculateTemp.balanceAmount }}</td>
          <td>{{ isCalculateTemp.prevDays }}</td>
          <td>{{ isCalculateTemp.presDays }}</td>
          <td>{{ isCalculateTemp.actualDays }}</td>
          <td>{{ isCalculateTemp.nProd }}</td>
          <td>{{ isCalculateTemp.productAmount }}</td>
          <td>{{ isCalculateTemp.productBank }}</td>
          <td>{{ isCalculateTemp.productAbh3Lakh }}</td>
          <td>{{ isCalculateTemp.interestFirst15 }}</td>
          <td>{{ isCalculateTemp.interestFirst25 }}</td>
          <td>{{ isCalculateTemp.interestSecond15 }}</td>
          <td>{{ isCalculateTemp.interestSecond25 }}</td>
          <td>{{ isCalculateTemp.interestStateFirst3 }}</td>
          <td>{{ isCalculateTemp.interestStateSecond3 }}</td>
          <td>{{ isCalculateTemp.interestFirstAbh3 }}</td>
          <td>{{ isCalculateTemp.interestSecondAbh3 }}</td>
          <td>{{ isCalculateTemp.interestAbove3Lakh }}</td>
          <td>{{ isCalculateTemp.panjabraoInt3 }}</td>
          <td>{{ isCalculateTemp.isRecover }}</td>
          <td>{{ isCalculateTemp.abh3LakhAmt }}</td>
          <td>{{ isCalculateTemp.upto50000 }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/is-calculate-temp', isCalculateTemp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/is-calculate-temp', isCalculateTemp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(isCalculateTemp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isCalculateTemps && isCalculateTemps.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
