<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-kamal-crop-heading"
        data-cy="KamalCropCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.kamalCrop.home.createOrEditLabel"
      >
        Create or edit a Kamal Crop
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.pacsNumber" for="field_pacsNumber">Pacs Number</label>
          <input
            type="number"
            class="form-control"
            name="pacsNumber"
            id="field_pacsNumber"
            data-cy="pacsNumber"
            formControlName="pacsNumber"
          />
          <div *ngIf="editForm.get('pacsNumber')!.invalid && (editForm.get('pacsNumber')!.dirty || editForm.get('pacsNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pacsNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pacsNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memNo" for="field_memNo">Mem No</label>
          <input type="number" class="form-control" name="memNo" id="field_memNo" data-cy="memNo" formControlName="memNo" />
          <div *ngIf="editForm.get('memNo')!.invalid && (editForm.get('memNo')!.dirty || editForm.get('memNo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('memNo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('memNo')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memHector" for="field_memHector">Mem Hector</label>
          <input type="number" class="form-control" name="memHector" id="field_memHector" data-cy="memHector" formControlName="memHector" />
          <div *ngIf="editForm.get('memHector')!.invalid && (editForm.get('memHector')!.dirty || editForm.get('memHector')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('memHector')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('memHector')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memNoMr" for="field_memNoMr">Mem No Mr</label>
          <input type="text" class="form-control" name="memNoMr" id="field_memNoMr" data-cy="memNoMr" formControlName="memNoMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memHectorMr" for="field_memHectorMr">Mem Hector Mr</label>
          <input
            type="text"
            class="form-control"
            name="memHectorMr"
            id="field_memHectorMr"
            data-cy="memHectorMr"
            formControlName="memHectorMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memAar" for="field_memAar">Mem Aar</label>
          <input type="number" class="form-control" name="memAar" id="field_memAar" data-cy="memAar" formControlName="memAar" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.memAarMr" for="field_memAarMr">Mem Aar Mr</label>
          <input type="text" class="form-control" name="memAarMr" id="field_memAarMr" data-cy="memAarMr" formControlName="memAarMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.farmerTypeMaster" for="field_farmerTypeMaster"
            >Farmer Type Master</label
          >
          <select
            class="form-control"
            id="field_farmerTypeMaster"
            data-cy="farmerTypeMaster"
            name="farmerTypeMaster"
            formControlName="farmerTypeMaster"
            [compareWith]="compareFarmerTypeMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="farmerTypeMasterOption" *ngFor="let farmerTypeMasterOption of farmerTypeMastersSharedCollection">
              {{ farmerTypeMasterOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.cropHangam" for="field_cropHangam">Crop Hangam</label>
          <select
            class="form-control"
            id="field_cropHangam"
            data-cy="cropHangam"
            name="cropHangam"
            formControlName="cropHangam"
            [compareWith]="compareCropHangam"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="cropHangamOption" *ngFor="let cropHangamOption of cropHangamsSharedCollection">
              {{ cropHangamOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.cropMaster" for="field_cropMaster">Crop Master</label>
          <select
            class="form-control"
            id="field_cropMaster"
            data-cy="cropMaster"
            name="cropMaster"
            formControlName="cropMaster"
            [compareWith]="compareCropMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="cropMasterOption" *ngFor="let cropMasterOption of cropMastersSharedCollection">
              {{ cropMasterOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalCrop.kamalSociety" for="field_kamalSociety">Kamal Society</label>
          <select
            class="form-control"
            id="field_kamalSociety"
            data-cy="kamalSociety"
            name="kamalSociety"
            formControlName="kamalSociety"
            [compareWith]="compareKamalSociety"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="kamalSocietyOption" *ngFor="let kamalSocietyOption of kamalSocietiesSharedCollection">
              {{ kamalSocietyOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
