<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cast-category-master-heading"
        data-cy="CastCategoryMasterCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.castCategoryMaster.home.createOrEditLabel"
      >
        Create or edit a Cast Category Master
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.castCategoryMaster.castCategoryCode" for="field_castCategoryCode"
            >Cast Category Code</label
          >
          <input
            type="number"
            class="form-control"
            name="castCategoryCode"
            id="field_castCategoryCode"
            data-cy="castCategoryCode"
            formControlName="castCategoryCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.castCategoryMaster.castCategoryName" for="field_castCategoryName"
            >Cast Category Name</label
          >
          <input
            type="text"
            class="form-control"
            name="castCategoryName"
            id="field_castCategoryName"
            data-cy="castCategoryName"
            formControlName="castCategoryName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
