<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-kamal-society-heading"
        data-cy="KamalSocietyCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.kamalSociety.home.createOrEditLabel"
      >
        Create or edit a Kamal Society
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.financialYear" for="field_financialYear"
            >Financial Year</label
          >
          <input
            type="text"
            class="form-control"
            name="financialYear"
            id="field_financialYear"
            data-cy="financialYear"
            formControlName="financialYear"
          />
          <div
            *ngIf="
              editForm.get('financialYear')!.invalid && (editForm.get('financialYear')!.dirty || editForm.get('financialYear')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('financialYear')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDate" for="field_kmDate">Km Date</label>
          <div class="d-flex">
            <input
              id="field_kmDate"
              data-cy="kmDate"
              type="datetime-local"
              class="form-control"
              name="kmDate"
              formControlName="kmDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDateMr" for="field_kmDateMr">Km Date Mr</label>
          <input type="text" class="form-control" name="kmDateMr" id="field_kmDateMr" data-cy="kmDateMr" formControlName="kmDateMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDate" for="field_kmFromDate">Km From Date</label>
          <div class="d-flex">
            <input
              id="field_kmFromDate"
              data-cy="kmFromDate"
              type="datetime-local"
              class="form-control"
              name="kmFromDate"
              formControlName="kmFromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDateMr" for="field_kmFromDateMr"
            >Km From Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="kmFromDateMr"
            id="field_kmFromDateMr"
            data-cy="kmFromDateMr"
            formControlName="kmFromDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDate" for="field_kmToDate">Km To Date</label>
          <div class="d-flex">
            <input
              id="field_kmToDate"
              data-cy="kmToDate"
              type="datetime-local"
              class="form-control"
              name="kmToDate"
              formControlName="kmToDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDateMr" for="field_kmToDateMr">Km To Date Mr</label>
          <input
            type="text"
            class="form-control"
            name="kmToDateMr"
            id="field_kmToDateMr"
            data-cy="kmToDateMr"
            formControlName="kmToDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsNumber" for="field_pacsNumber">Pacs Number</label>
          <input
            type="text"
            class="form-control"
            name="pacsNumber"
            id="field_pacsNumber"
            data-cy="pacsNumber"
            formControlName="pacsNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsName" for="field_pacsName">Pacs Name</label>
          <input type="text" class="form-control" name="pacsName" id="field_pacsName" data-cy="pacsName" formControlName="pacsName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.branchId" for="field_branchId">Branch Id</label>
          <input type="number" class="form-control" name="branchId" id="field_branchId" data-cy="branchId" formControlName="branchId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.branchName" for="field_branchName">Branch Name</label>
          <input
            type="text"
            class="form-control"
            name="branchName"
            id="field_branchName"
            data-cy="branchName"
            formControlName="branchName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.talukaId" for="field_talukaId">Taluka Id</label>
          <input type="number" class="form-control" name="talukaId" id="field_talukaId" data-cy="talukaId" formControlName="talukaId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.talukaName" for="field_talukaName">Taluka Name</label>
          <input
            type="text"
            class="form-control"
            name="talukaName"
            id="field_talukaName"
            data-cy="talukaName"
            formControlName="talukaName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDate" for="field_zindagiPatrakDate"
            >Zindagi Patrak Date</label
          >
          <div class="d-flex">
            <input
              id="field_zindagiPatrakDate"
              data-cy="zindagiPatrakDate"
              type="datetime-local"
              class="form-control"
              name="zindagiPatrakDate"
              formControlName="zindagiPatrakDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDateMr" for="field_zindagiPatrakDateMr"
            >Zindagi Patrak Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="zindagiPatrakDateMr"
            id="field_zindagiPatrakDateMr"
            data-cy="zindagiPatrakDateMr"
            formControlName="zindagiPatrakDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDate" for="field_bankTapasaniDate"
            >Bank Tapasani Date</label
          >
          <div class="d-flex">
            <input
              id="field_bankTapasaniDate"
              data-cy="bankTapasaniDate"
              type="datetime-local"
              class="form-control"
              name="bankTapasaniDate"
              formControlName="bankTapasaniDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDateMr" for="field_bankTapasaniDateMr"
            >Bank Tapasani Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="bankTapasaniDateMr"
            id="field_bankTapasaniDateMr"
            data-cy="bankTapasaniDateMr"
            formControlName="bankTapasaniDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDate" for="field_govTapasaniDate"
            >Gov Tapasani Date</label
          >
          <div class="d-flex">
            <input
              id="field_govTapasaniDate"
              data-cy="govTapasaniDate"
              type="datetime-local"
              class="form-control"
              name="govTapasaniDate"
              formControlName="govTapasaniDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDateMr" for="field_govTapasaniDateMr"
            >Gov Tapasani Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="govTapasaniDateMr"
            id="field_govTapasaniDateMr"
            data-cy="govTapasaniDateMr"
            formControlName="govTapasaniDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDate" for="field_sansthaTapasaniDate"
            >Sanstha Tapasani Date</label
          >
          <div class="d-flex">
            <input
              id="field_sansthaTapasaniDate"
              data-cy="sansthaTapasaniDate"
              type="datetime-local"
              class="form-control"
              name="sansthaTapasaniDate"
              formControlName="sansthaTapasaniDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDateMr" for="field_sansthaTapasaniDateMr"
            >Sanstha Tapasani Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="sansthaTapasaniDateMr"
            id="field_sansthaTapasaniDateMr"
            data-cy="sansthaTapasaniDateMr"
            formControlName="sansthaTapasaniDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLand" for="field_totalLand">Total Land</label>
          <input type="text" class="form-control" name="totalLand" id="field_totalLand" data-cy="totalLand" formControlName="totalLand" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bagayat" for="field_bagayat">Bagayat</label>
          <input type="text" class="form-control" name="bagayat" id="field_bagayat" data-cy="bagayat" formControlName="bagayat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.jirayat" for="field_jirayat">Jirayat</label>
          <input type="text" class="form-control" name="jirayat" id="field_jirayat" data-cy="jirayat" formControlName="jirayat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.totalFarmer" for="field_totalFarmer">Total Farmer</label>
          <input
            type="text"
            class="form-control"
            name="totalFarmer"
            id="field_totalFarmer"
            data-cy="totalFarmer"
            formControlName="totalFarmer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.memberFarmer" for="field_memberFarmer">Member Farmer</label>
          <input
            type="text"
            class="form-control"
            name="memberFarmer"
            id="field_memberFarmer"
            data-cy="memberFarmer"
            formControlName="memberFarmer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.nonMemberFarmer" for="field_nonMemberFarmer"
            >Non Member Farmer</label
          >
          <input
            type="text"
            class="form-control"
            name="nonMemberFarmer"
            id="field_nonMemberFarmer"
            data-cy="nonMemberFarmer"
            formControlName="nonMemberFarmer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.talebandDate" for="field_talebandDate">Taleband Date</label>
          <div class="d-flex">
            <input
              id="field_talebandDate"
              data-cy="talebandDate"
              type="datetime-local"
              class="form-control"
              name="talebandDate"
              formControlName="talebandDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoan" for="field_memLoan">Mem Loan</label>
          <input type="text" class="form-control" name="memLoan" id="field_memLoan" data-cy="memLoan" formControlName="memLoan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.memDue" for="field_memDue">Mem Due</label>
          <input type="text" class="form-control" name="memDue" id="field_memDue" data-cy="memDue" formControlName="memDue" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuli" for="field_memVasuli">Mem Vasuli</label>
          <input type="text" class="form-control" name="memVasuli" id="field_memVasuli" data-cy="memVasuli" formControlName="memVasuli" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuliPer" for="field_memVasuliPer"
            >Mem Vasuli Per</label
          >
          <input
            type="text"
            class="form-control"
            name="memVasuliPer"
            id="field_memVasuliPer"
            data-cy="memVasuliPer"
            formControlName="memVasuliPer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoan" for="field_bankLoan">Bank Loan</label>
          <input type="text" class="form-control" name="bankLoan" id="field_bankLoan" data-cy="bankLoan" formControlName="bankLoan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDue" for="field_bankDue">Bank Due</label>
          <input type="text" class="form-control" name="bankDue" id="field_bankDue" data-cy="bankDue" formControlName="bankDue" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuli" for="field_bankVasuli">Bank Vasuli</label>
          <input
            type="text"
            class="form-control"
            name="bankVasuli"
            id="field_bankVasuli"
            data-cy="bankVasuli"
            formControlName="bankVasuli"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuliPer" for="field_bankVasuliPer"
            >Bank Vasuli Per</label
          >
          <input
            type="text"
            class="form-control"
            name="bankVasuliPer"
            id="field_bankVasuliPer"
            data-cy="bankVasuliPer"
            formControlName="bankVasuliPer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDate" for="field_balanceSheetDate"
            >Balance Sheet Date</label
          >
          <div class="d-flex">
            <input
              id="field_balanceSheetDate"
              data-cy="balanceSheetDate"
              type="datetime-local"
              class="form-control"
              name="balanceSheetDate"
              formControlName="balanceSheetDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDateMr" for="field_balanceSheetDateMr"
            >Balance Sheet Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="balanceSheetDateMr"
            id="field_balanceSheetDateMr"
            data-cy="balanceSheetDateMr"
            formControlName="balanceSheetDateMr"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityAdhikrutShareCapital"
            for="field_liabilityAdhikrutShareCapital"
            >Liability Adhikrut Share Capital</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityAdhikrutShareCapital"
            id="field_liabilityAdhikrutShareCapital"
            data-cy="liabilityAdhikrutShareCapital"
            formControlName="liabilityAdhikrutShareCapital"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityVasulShareCapital"
            for="field_liabilityVasulShareCapital"
            >Liability Vasul Share Capital</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityVasulShareCapital"
            id="field_liabilityVasulShareCapital"
            data-cy="liabilityVasulShareCapital"
            formControlName="liabilityVasulShareCapital"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityFund" for="field_liabilityFund"
            >Liability Fund</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityFund"
            id="field_liabilityFund"
            data-cy="liabilityFund"
            formControlName="liabilityFund"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilitySpareFund" for="field_liabilitySpareFund"
            >Liability Spare Fund</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilitySpareFund"
            id="field_liabilitySpareFund"
            data-cy="liabilitySpareFund"
            formControlName="liabilitySpareFund"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityDeposite" for="field_liabilityDeposite"
            >Liability Deposite</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityDeposite"
            id="field_liabilityDeposite"
            data-cy="liabilityDeposite"
            formControlName="liabilityDeposite"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityBalanceSheetBankLoan"
            for="field_liabilityBalanceSheetBankLoan"
            >Liability Balance Sheet Bank Loan</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityBalanceSheetBankLoan"
            id="field_liabilityBalanceSheetBankLoan"
            data-cy="liabilityBalanceSheetBankLoan"
            formControlName="liabilityBalanceSheetBankLoan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityOtherPayable" for="field_liabilityOtherPayable"
            >Liability Other Payable</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityOtherPayable"
            id="field_liabilityOtherPayable"
            data-cy="liabilityOtherPayable"
            formControlName="liabilityOtherPayable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityProfit" for="field_liabilityProfit"
            >Liability Profit</label
          >
          <input
            type="text"
            class="form-control"
            name="liabilityProfit"
            id="field_liabilityProfit"
            data-cy="liabilityProfit"
            formControlName="liabilityProfit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetCash" for="field_assetCash">Asset Cash</label>
          <input type="text" class="form-control" name="assetCash" id="field_assetCash" data-cy="assetCash" formControlName="assetCash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetInvestment" for="field_assetInvestment"
            >Asset Investment</label
          >
          <input
            type="text"
            class="form-control"
            name="assetInvestment"
            id="field_assetInvestment"
            data-cy="assetInvestment"
            formControlName="assetInvestment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetImaratFund" for="field_assetImaratFund"
            >Asset Imarat Fund</label
          >
          <input
            type="text"
            class="form-control"
            name="assetImaratFund"
            id="field_assetImaratFund"
            data-cy="assetImaratFund"
            formControlName="assetImaratFund"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetMemberLoan" for="field_assetMemberLoan"
            >Asset Member Loan</label
          >
          <input
            type="text"
            class="form-control"
            name="assetMemberLoan"
            id="field_assetMemberLoan"
            data-cy="assetMemberLoan"
            formControlName="assetMemberLoan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetDeadStock" for="field_assetDeadStock"
            >Asset Dead Stock</label
          >
          <input
            type="text"
            class="form-control"
            name="assetDeadStock"
            id="field_assetDeadStock"
            data-cy="assetDeadStock"
            formControlName="assetDeadStock"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetOtherReceivable" for="field_assetOtherReceivable"
            >Asset Other Receivable</label
          >
          <input
            type="text"
            class="form-control"
            name="assetOtherReceivable"
            id="field_assetOtherReceivable"
            data-cy="assetOtherReceivable"
            formControlName="assetOtherReceivable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.assetLoss" for="field_assetLoss">Asset Loss</label>
          <input type="text" class="form-control" name="assetLoss" id="field_assetLoss" data-cy="assetLoss" formControlName="assetLoss" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLiability" for="field_totalLiability"
            >Total Liability</label
          >
          <input
            type="text"
            class="form-control"
            name="totalLiability"
            id="field_totalLiability"
            data-cy="totalLiability"
            formControlName="totalLiability"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.totalAsset" for="field_totalAsset">Total Asset</label>
          <input
            type="text"
            class="form-control"
            name="totalAsset"
            id="field_totalAsset"
            data-cy="totalAsset"
            formControlName="totalAsset"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.villageCode" for="field_villageCode">Village Code</label>
          <input
            type="text"
            class="form-control"
            name="villageCode"
            id="field_villageCode"
            data-cy="villageCode"
            formControlName="villageCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsVerifiedFlag" for="field_pacsVerifiedFlag"
            >Pacs Verified Flag</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="pacsVerifiedFlag"
            id="field_pacsVerifiedFlag"
            data-cy="pacsVerifiedFlag"
            formControlName="pacsVerifiedFlag"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedFlag" for="field_branchVerifiedFlag"
            >Branch Verified Flag</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="branchVerifiedFlag"
            id="field_branchVerifiedFlag"
            data-cy="branchVerifiedFlag"
            formControlName="branchVerifiedFlag"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedFlag" for="field_headOfficeVerifiedFlag"
            >Head Office Verified Flag</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="headOfficeVerifiedFlag"
            id="field_headOfficeVerifiedFlag"
            data-cy="headOfficeVerifiedFlag"
            formControlName="headOfficeVerifiedFlag"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedFlag"
            for="field_divisionalOfficeVerifiedFlag"
            >Divisional Office Verified Flag</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="divisionalOfficeVerifiedFlag"
            id="field_divisionalOfficeVerifiedFlag"
            data-cy="divisionalOfficeVerifiedFlag"
            formControlName="divisionalOfficeVerifiedFlag"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.isSupplimenteryFlag" for="field_isSupplimenteryFlag"
            >Is Supplimentery Flag</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isSupplimenteryFlag"
            id="field_isSupplimenteryFlag"
            data-cy="isSupplimenteryFlag"
            formControlName="isSupplimenteryFlag"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniVarg" for="field_sansthaTapasaniVarg"
            >Sanstha Tapasani Varg</label
          >
          <input
            type="text"
            class="form-control"
            name="sansthaTapasaniVarg"
            id="field_sansthaTapasaniVarg"
            data-cy="sansthaTapasaniVarg"
            formControlName="sansthaTapasaniVarg"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedBy" for="field_branchVerifiedBy"
            >Branch Verified By</label
          >
          <input
            type="text"
            class="form-control"
            name="branchVerifiedBy"
            id="field_branchVerifiedBy"
            data-cy="branchVerifiedBy"
            formControlName="branchVerifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedDate" for="field_branchVerifiedDate"
            >Branch Verified Date</label
          >
          <div class="d-flex">
            <input
              id="field_branchVerifiedDate"
              data-cy="branchVerifiedDate"
              type="datetime-local"
              class="form-control"
              name="branchVerifiedDate"
              formControlName="branchVerifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedBy" for="field_headOfficeVerifiedBy"
            >Head Office Verified By</label
          >
          <input
            type="text"
            class="form-control"
            name="headOfficeVerifiedBy"
            id="field_headOfficeVerifiedBy"
            data-cy="headOfficeVerifiedBy"
            formControlName="headOfficeVerifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedDate" for="field_headOfficeVerifiedDate"
            >Head Office Verified Date</label
          >
          <div class="d-flex">
            <input
              id="field_headOfficeVerifiedDate"
              data-cy="headOfficeVerifiedDate"
              type="datetime-local"
              class="form-control"
              name="headOfficeVerifiedDate"
              formControlName="headOfficeVerifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedBy"
            for="field_divisionalOfficeVerifiedBy"
            >Divisional Office Verified By</label
          >
          <input
            type="text"
            class="form-control"
            name="divisionalOfficeVerifiedBy"
            id="field_divisionalOfficeVerifiedBy"
            data-cy="divisionalOfficeVerifiedBy"
            formControlName="divisionalOfficeVerifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedDate"
            for="field_divisionalOfficeVerifiedDate"
            >Divisional Office Verified Date</label
          >
          <div class="d-flex">
            <input
              id="field_divisionalOfficeVerifiedDate"
              data-cy="divisionalOfficeVerifiedDate"
              type="datetime-local"
              class="form-control"
              name="divisionalOfficeVerifiedDate"
              formControlName="divisionalOfficeVerifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.doshPurtataDate" for="field_doshPurtataDate"
            >Dosh Purtata Date</label
          >
          <div class="d-flex">
            <input
              id="field_doshPurtataDate"
              data-cy="doshPurtataDate"
              type="datetime-local"
              class="form-control"
              name="doshPurtataDate"
              formControlName="doshPurtataDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kamalSociety.gambhirDosh" for="field_gambhirDosh">Gambhir Dosh</label>
          <input
            type="text"
            class="form-control"
            name="gambhirDosh"
            id="field_gambhirDosh"
            data-cy="gambhirDosh"
            formControlName="gambhirDosh"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
