<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-km-details-heading"
        data-cy="KmDetailsCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.kmDetails.home.createOrEditLabel"
      >
        Create or edit a Km Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.shares" for="field_shares">Shares</label>
          <input type="number" class="form-control" name="shares" id="field_shares" data-cy="shares" formControlName="shares" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.sharesMr" for="field_sharesMr">Shares Mr</label>
          <input type="text" class="form-control" name="sharesMr" id="field_sharesMr" data-cy="sharesMr" formControlName="sharesMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.sugarShares" for="field_sugarShares">Sugar Shares</label>
          <input
            type="number"
            class="form-control"
            name="sugarShares"
            id="field_sugarShares"
            data-cy="sugarShares"
            formControlName="sugarShares"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.sugarSharesMr" for="field_sugarSharesMr"
            >Sugar Shares Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="sugarSharesMr"
            id="field_sugarSharesMr"
            data-cy="sugarSharesMr"
            formControlName="sugarSharesMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.deposite" for="field_deposite">Deposite</label>
          <input type="number" class="form-control" name="deposite" id="field_deposite" data-cy="deposite" formControlName="deposite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.depositeMr" for="field_depositeMr">Deposite Mr</label>
          <input
            type="text"
            class="form-control"
            name="depositeMr"
            id="field_depositeMr"
            data-cy="depositeMr"
            formControlName="depositeMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueLoan" for="field_dueLoan">Due Loan</label>
          <input type="number" class="form-control" name="dueLoan" id="field_dueLoan" data-cy="dueLoan" formControlName="dueLoan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueLoanMr" for="field_dueLoanMr">Due Loan Mr</label>
          <input type="text" class="form-control" name="dueLoanMr" id="field_dueLoanMr" data-cy="dueLoanMr" formControlName="dueLoanMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueAmount" for="field_dueAmount">Due Amount</label>
          <input type="number" class="form-control" name="dueAmount" id="field_dueAmount" data-cy="dueAmount" formControlName="dueAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueAmountMr" for="field_dueAmountMr">Due Amount Mr</label>
          <input
            type="text"
            class="form-control"
            name="dueAmountMr"
            id="field_dueAmountMr"
            data-cy="dueAmountMr"
            formControlName="dueAmountMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueDateMr" for="field_dueDateMr">Due Date Mr</label>
          <input type="text" class="form-control" name="dueDateMr" id="field_dueDateMr" data-cy="dueDateMr" formControlName="dueDateMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.dueDate" for="field_dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmDate" for="field_kmDate">Km Date</label>
          <div class="d-flex">
            <input
              id="field_kmDate"
              data-cy="kmDate"
              type="datetime-local"
              class="form-control"
              name="kmDate"
              formControlName="kmDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmDateMr" for="field_kmDateMr">Km Date Mr</label>
          <input type="text" class="form-control" name="kmDateMr" id="field_kmDateMr" data-cy="kmDateMr" formControlName="kmDateMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmFromDate" for="field_kmFromDate">Km From Date</label>
          <div class="d-flex">
            <input
              id="field_kmFromDate"
              data-cy="kmFromDate"
              type="datetime-local"
              class="form-control"
              name="kmFromDate"
              formControlName="kmFromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmFromDateMr" for="field_kmFromDateMr">Km From Date Mr</label>
          <input
            type="text"
            class="form-control"
            name="kmFromDateMr"
            id="field_kmFromDateMr"
            data-cy="kmFromDateMr"
            formControlName="kmFromDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmToDate" for="field_kmToDate">Km To Date</label>
          <div class="d-flex">
            <input
              id="field_kmToDate"
              data-cy="kmToDate"
              type="datetime-local"
              class="form-control"
              name="kmToDate"
              formControlName="kmToDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmToDateMr" for="field_kmToDateMr">Km To Date Mr</label>
          <input
            type="text"
            class="form-control"
            name="kmToDateMr"
            id="field_kmToDateMr"
            data-cy="kmToDateMr"
            formControlName="kmToDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatHector" for="field_bagayatHector">Bagayat Hector</label>
          <input
            type="number"
            class="form-control"
            name="bagayatHector"
            id="field_bagayatHector"
            data-cy="bagayatHector"
            formControlName="bagayatHector"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatHectorMr" for="field_bagayatHectorMr"
            >Bagayat Hector Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="bagayatHectorMr"
            id="field_bagayatHectorMr"
            data-cy="bagayatHectorMr"
            formControlName="bagayatHectorMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatAre" for="field_bagayatAre">Bagayat Are</label>
          <input
            type="number"
            class="form-control"
            name="bagayatAre"
            id="field_bagayatAre"
            data-cy="bagayatAre"
            formControlName="bagayatAre"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatAreMr" for="field_bagayatAreMr">Bagayat Are Mr</label>
          <input
            type="text"
            class="form-control"
            name="bagayatAreMr"
            id="field_bagayatAreMr"
            data-cy="bagayatAreMr"
            formControlName="bagayatAreMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatHector" for="field_jirayatHector">Jirayat Hector</label>
          <input
            type="number"
            class="form-control"
            name="jirayatHector"
            id="field_jirayatHector"
            data-cy="jirayatHector"
            formControlName="jirayatHector"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatHectorMr" for="field_jirayatHectorMr"
            >Jirayat Hector Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="jirayatHectorMr"
            id="field_jirayatHectorMr"
            data-cy="jirayatHectorMr"
            formControlName="jirayatHectorMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatAre" for="field_jirayatAre">Jirayat Are</label>
          <input
            type="number"
            class="form-control"
            name="jirayatAre"
            id="field_jirayatAre"
            data-cy="jirayatAre"
            formControlName="jirayatAre"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatAreMr" for="field_jirayatAreMr">Jirayat Are Mr</label>
          <input
            type="text"
            class="form-control"
            name="jirayatAreMr"
            id="field_jirayatAreMr"
            data-cy="jirayatAreMr"
            formControlName="jirayatAreMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.zindagiAmt" for="field_zindagiAmt">Zindagi Amt</label>
          <input
            type="number"
            class="form-control"
            name="zindagiAmt"
            id="field_zindagiAmt"
            data-cy="zindagiAmt"
            formControlName="zindagiAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.zindagiNo" for="field_zindagiNo">Zindagi No</label>
          <input type="number" class="form-control" name="zindagiNo" id="field_zindagiNo" data-cy="zindagiNo" formControlName="zindagiNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.surveyNo" for="field_surveyNo">Survey No</label>
          <input type="number" class="form-control" name="surveyNo" id="field_surveyNo" data-cy="surveyNo" formControlName="surveyNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.landValue" for="field_landValue">Land Value</label>
          <input type="number" class="form-control" name="landValue" id="field_landValue" data-cy="landValue" formControlName="landValue" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.landValueMr" for="field_landValueMr">Land Value Mr</label>
          <input
            type="text"
            class="form-control"
            name="landValueMr"
            id="field_landValueMr"
            data-cy="landValueMr"
            formControlName="landValueMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementAmt" for="field_eAgreementAmt"
            >E Agreement Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="eAgreementAmt"
            id="field_eAgreementAmt"
            data-cy="eAgreementAmt"
            formControlName="eAgreementAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementAmtMr" for="field_eAgreementAmtMr"
            >E Agreement Amt Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="eAgreementAmtMr"
            id="field_eAgreementAmtMr"
            data-cy="eAgreementAmtMr"
            formControlName="eAgreementAmtMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementDate" for="field_eAgreementDate"
            >E Agreement Date</label
          >
          <div class="d-flex">
            <input
              id="field_eAgreementDate"
              data-cy="eAgreementDate"
              type="datetime-local"
              class="form-control"
              name="eAgreementDate"
              formControlName="eAgreementDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementDateMr" for="field_eAgreementDateMr"
            >E Agreement Date Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="eAgreementDateMr"
            id="field_eAgreementDateMr"
            data-cy="eAgreementDateMr"
            formControlName="eAgreementDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bojaAmount" for="field_bojaAmount">Boja Amount</label>
          <input
            type="number"
            class="form-control"
            name="bojaAmount"
            id="field_bojaAmount"
            data-cy="bojaAmount"
            formControlName="bojaAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bojaAmountMr" for="field_bojaAmountMr">Boja Amount Mr</label>
          <input
            type="text"
            class="form-control"
            name="bojaAmountMr"
            id="field_bojaAmountMr"
            data-cy="bojaAmountMr"
            formControlName="bojaAmountMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bojaDate" for="field_bojaDate">Boja Date</label>
          <div class="d-flex">
            <input
              id="field_bojaDate"
              data-cy="bojaDate"
              type="datetime-local"
              class="form-control"
              name="bojaDate"
              formControlName="bojaDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.bojaDateMr" for="field_bojaDateMr">Boja Date Mr</label>
          <input
            type="text"
            class="form-control"
            name="bojaDateMr"
            id="field_bojaDateMr"
            data-cy="bojaDateMr"
            formControlName="bojaDateMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmDetails.kmMaster" for="field_kmMaster">Km Master</label>
          <select
            class="form-control"
            id="field_kmMaster"
            data-cy="kmMaster"
            name="kmMaster"
            formControlName="kmMaster"
            [compareWith]="compareKmMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="kmMasterOption" *ngFor="let kmMasterOption of kmMastersSharedCollection">{{ kmMasterOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
