<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-km-magani-crop-heading"
        data-cy="KmMaganiCropCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.kmMaganiCrop.home.createOrEditLabel"
      >
        Create or edit a Km Magani Crop
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaganiCrop.cropName" for="field_cropName">Crop Name</label>
          <input type="text" class="form-control" name="cropName" id="field_cropName" data-cy="cropName" formControlName="cropName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaganiCrop.kmMagani" for="field_kmMagani">Km Magani</label>
          <select
            class="form-control"
            id="field_kmMagani"
            data-cy="kmMagani"
            name="kmMagani"
            formControlName="kmMagani"
            [compareWith]="compareKmMagani"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="kmMaganiOption" *ngFor="let kmMaganiOption of kmMaganisSharedCollection">{{ kmMaganiOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
