<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cropMaster">
      <h2 data-cy="cropMasterDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.cropMaster.detail.title">Crop Master</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cropMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.cropCode">Crop Code</span></dt>
        <dd>
          <span>{{ cropMaster.cropCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.cropName">Crop Name</span></dt>
        <dd>
          <span>{{ cropMaster.cropName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.categoryCode">Category Code</span></dt>
        <dd>
          <span>{{ cropMaster.categoryCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.categoryName">Category Name</span></dt>
        <dd>
          <span>{{ cropMaster.categoryName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.vatapFromDay">Vatap From Day</span></dt>
        <dd>
          <span>{{ cropMaster.vatapFromDay | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.vatapToMonth">Vatap To Month</span></dt>
        <dd>
          <span>{{ cropMaster.vatapToMonth | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.lastToDay">Last To Day</span></dt>
        <dd>
          <span>{{ cropMaster.lastToDay | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.lastToMonth">Last To Month</span></dt>
        <dd>
          <span>{{ cropMaster.lastToMonth | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.dueDay">Due Day</span></dt>
        <dd>
          <span>{{ cropMaster.dueDay | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.dueMonth">Due Month</span></dt>
        <dd>
          <span>{{ cropMaster.dueMonth | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.cropPeriod">Crop Period</span></dt>
        <dd>
          <span>{{ cropMaster.cropPeriod }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.sanctionAmt">Sanction Amt</span></dt>
        <dd>
          <span>{{ cropMaster.sanctionAmt }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropMaster.previousAmt">Previous Amt</span></dt>
        <dd>
          <span>{{ cropMaster.previousAmt }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crop-master', cropMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
