<div>
  <h2 id="page-heading" data-cy="KamalSocietyHeading">
    <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.title">Kamal Societies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-kamal-society"
        [routerLink]="['/kamal-society/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.createLabel"> Create a new Kamal Society </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="kamalSocieties?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.notFound">No Kamal Societies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="kamalSocieties && kamalSocieties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pacsNumber">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsNumber">Pacs Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zindagiDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiDate">Zindagi Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zindagiDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiDateMr">Zindagi Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village1">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village1">Village 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village1Mr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village1Mr">Village 1 Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village2">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village2">Village 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village2Mr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village2Mr">Village 2 Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village3">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village3">Village 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="village3Mr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.village3Mr">Village 3 Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLand">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLand">Total Land</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLandMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLandMr">Total Land Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalMem">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalMem">Total Mem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalMemMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalMemMr">Total Mem Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalNonMem">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalNonMem">Total Non Mem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalNonMemMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalNonMemMr">Total Non Mem Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalGMem">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalGMem">Total G Mem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalGMemMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalGMemMr">Total G Mem Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoan">Mem Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memLoanMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoanMr">Mem Loan Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memDue">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDue">Mem Due</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memDueMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueMr">Mem Due Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memDueper">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueper">Mem Dueper</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memDueperMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueperMr">Mem Dueper Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasulpatra">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulpatra">Mem Vasulpatra</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasulpatraMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulpatraMr">Mem Vasulpatra Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasul">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasul">Mem Vasul</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasulMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulMr">Mem Vasul Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasulPer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulPer">Mem Vasul Per</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasulPerMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulPerMr">Mem Vasul Per Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoan">Bank Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankLoanMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoanMr">Bank Loan Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDue">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDue">Bank Due</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDueMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueMr">Bank Due Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDueper">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueper">Bank Dueper</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDueperMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueperMr">Bank Dueper Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasulpatra">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulpatra">Bank Vasulpatra</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasulpatraMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulpatraMr">Bank Vasulpatra Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasul">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasul">Bank Vasul</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasulMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulMr">Bank Vasul Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasulPer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulPer">Bank Vasul Per</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasulPerMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulPerMr">Bank Vasul Per Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shareCapital">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareCapital">Share Capital</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shareCapitalMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareCapitalMr">Share Capital Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="share">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.share">Share</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shareMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareMr">Share Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="funds">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.funds">Funds</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fundsMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.fundsMr">Funds Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deposit">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.deposit">Deposit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="depositMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.depositMr">Deposit Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payable">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.payable">Payable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payableMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.payableMr">Payable Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profit">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.profit">Profit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profitMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.profitMr">Profit Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cashInHand">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.cashInHand">Cash In Hand</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cashInHandMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.cashInHandMr">Cash In Hand Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="investment">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.investment">Investment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="investmentMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.investmentMr">Investment Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deadStock">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.deadStock">Dead Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deadStockMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.deadStockMr">Dead Stock Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="otherPay">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.otherPay">Other Pay</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="otherPayMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.otherPayMr">Other Pay Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loss">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.loss">Loss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lossMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.lossMr">Loss Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalBagayat">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalBagayat">Total Bagayat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalBagayatMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalBagayatMr">Total Bagayat Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalJirayat">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalJirayat">Total Jirayat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalJirayatMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalJirayatMr">Total Jirayat Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kamalSociety of kamalSocieties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/kamal-society', kamalSociety.id, 'view']">{{ kamalSociety.id }}</a>
          </td>
          <td>{{ kamalSociety.pacsNumber }}</td>
          <td>{{ kamalSociety.zindagiDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.zindagiDateMr }}</td>
          <td>{{ kamalSociety.village1 }}</td>
          <td>{{ kamalSociety.village1Mr }}</td>
          <td>{{ kamalSociety.village2 }}</td>
          <td>{{ kamalSociety.village2Mr }}</td>
          <td>{{ kamalSociety.village3 }}</td>
          <td>{{ kamalSociety.village3Mr }}</td>
          <td>{{ kamalSociety.totalLand }}</td>
          <td>{{ kamalSociety.totalLandMr }}</td>
          <td>{{ kamalSociety.totalMem }}</td>
          <td>{{ kamalSociety.totalMemMr }}</td>
          <td>{{ kamalSociety.totalNonMem }}</td>
          <td>{{ kamalSociety.totalNonMemMr }}</td>
          <td>{{ kamalSociety.totalGMem }}</td>
          <td>{{ kamalSociety.totalGMemMr }}</td>
          <td>{{ kamalSociety.memLoan }}</td>
          <td>{{ kamalSociety.memLoanMr }}</td>
          <td>{{ kamalSociety.memDue }}</td>
          <td>{{ kamalSociety.memDueMr }}</td>
          <td>{{ kamalSociety.memDueper }}</td>
          <td>{{ kamalSociety.memDueperMr }}</td>
          <td>{{ kamalSociety.memVasulpatra }}</td>
          <td>{{ kamalSociety.memVasulpatraMr }}</td>
          <td>{{ kamalSociety.memVasul }}</td>
          <td>{{ kamalSociety.memVasulMr }}</td>
          <td>{{ kamalSociety.memVasulPer }}</td>
          <td>{{ kamalSociety.memVasulPerMr }}</td>
          <td>{{ kamalSociety.bankLoan }}</td>
          <td>{{ kamalSociety.bankLoanMr }}</td>
          <td>{{ kamalSociety.bankDue }}</td>
          <td>{{ kamalSociety.bankDueMr }}</td>
          <td>{{ kamalSociety.bankDueper }}</td>
          <td>{{ kamalSociety.bankDueperMr }}</td>
          <td>{{ kamalSociety.bankVasulpatra }}</td>
          <td>{{ kamalSociety.bankVasulpatraMr }}</td>
          <td>{{ kamalSociety.bankVasul }}</td>
          <td>{{ kamalSociety.bankVasulMr }}</td>
          <td>{{ kamalSociety.bankVasulPer }}</td>
          <td>{{ kamalSociety.bankVasulPerMr }}</td>
          <td>{{ kamalSociety.shareCapital }}</td>
          <td>{{ kamalSociety.shareCapitalMr }}</td>
          <td>{{ kamalSociety.share }}</td>
          <td>{{ kamalSociety.shareMr }}</td>
          <td>{{ kamalSociety.funds }}</td>
          <td>{{ kamalSociety.fundsMr }}</td>
          <td>{{ kamalSociety.deposit }}</td>
          <td>{{ kamalSociety.depositMr }}</td>
          <td>{{ kamalSociety.payable }}</td>
          <td>{{ kamalSociety.payableMr }}</td>
          <td>{{ kamalSociety.profit }}</td>
          <td>{{ kamalSociety.profitMr }}</td>
          <td>{{ kamalSociety.cashInHand }}</td>
          <td>{{ kamalSociety.cashInHandMr }}</td>
          <td>{{ kamalSociety.investment }}</td>
          <td>{{ kamalSociety.investmentMr }}</td>
          <td>{{ kamalSociety.deadStock }}</td>
          <td>{{ kamalSociety.deadStockMr }}</td>
          <td>{{ kamalSociety.otherPay }}</td>
          <td>{{ kamalSociety.otherPayMr }}</td>
          <td>{{ kamalSociety.loss }}</td>
          <td>{{ kamalSociety.lossMr }}</td>
          <td>{{ kamalSociety.totalBagayat }}</td>
          <td>{{ kamalSociety.totalBagayatMr }}</td>
          <td>{{ kamalSociety.totalJirayat }}</td>
          <td>{{ kamalSociety.totalJirayatMr }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/kamal-crop']"
                [queryParams]="{ 'filter[kamalSocietyId.in]': kamalSociety.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('cbsMiddlewareApp.kamalSociety.kamalCrop' | translate) }"
                  >Show Kamal Crop</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/kamal-society', kamalSociety.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/kamal-society', kamalSociety.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(kamalSociety)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="kamalSocieties && kamalSocieties.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
