<div>
  <h2 id="page-heading" data-cy="KamalSocietyHeading">
    <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.title">Kamal Societies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-kamal-society"
        [routerLink]="['/kamal-society/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.createLabel"> Create a new Kamal Society </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="kamalSocieties?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.kamalSociety.home.notFound">No Kamal Societies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="kamalSocieties && kamalSocieties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="financialYear">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.financialYear">Financial Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDate">Km Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDateMr">Km Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmFromDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDate">Km From Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmFromDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDateMr">Km From Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmToDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDate">Km To Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmToDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDateMr">Km To Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pacsNumber">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsNumber">Pacs Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zindagiPatrakDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDate">Zindagi Patrak Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zindagiPatrakDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDateMr">Zindagi Patrak Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankTapasaniDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDate">Bank Tapasani Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankTapasaniDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDateMr">Bank Tapasani Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="govTapasaniDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDate">Gov Tapasani Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="govTapasaniDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDateMr">Gov Tapasani Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sansthaTapasaniDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDate">Sanstha Tapasani Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sansthaTapasaniDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDateMr">Sanstha Tapasani Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLand">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLand">Total Land</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bagayat">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bagayat">Bagayat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jirayat">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.jirayat">Jirayat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalFarmer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalFarmer">Total Farmer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memberFarmer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memberFarmer">Member Farmer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nonMemberFarmer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.nonMemberFarmer">Non Member Farmer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="talebandDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.talebandDate">Taleband Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoan">Mem Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memDue">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDue">Mem Due</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasuli">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuli">Mem Vasuli</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="memVasuliPer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuliPer">Mem Vasuli Per</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoan">Bank Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankDue">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDue">Bank Due</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasuli">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuli">Bank Vasuli</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bankVasuliPer">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuliPer">Bank Vasuli Per</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balanceSheetDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDate">Balance Sheet Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balanceSheetDateMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDateMr">Balance Sheet Date Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityAdhikrutShareCapital">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityAdhikrutShareCapital">Liability Adhikrut Share Capital</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityVasulShareCapital">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityVasulShareCapital">Liability Vasul Share Capital</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityFund">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityFund">Liability Fund</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilitySpareFund">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilitySpareFund">Liability Spare Fund</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityDeposite">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityDeposite">Liability Deposite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityBalanceSheetBankLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityBalanceSheetBankLoan">Liability Balance Sheet Bank Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityOtherPayable">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityOtherPayable">Liability Other Payable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liabilityProfit">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityProfit">Liability Profit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetCash">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetCash">Asset Cash</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetInvestment">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetInvestment">Asset Investment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetImaratFund">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetImaratFund">Asset Imarat Fund</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetMemberLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetMemberLoan">Asset Member Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetDeadStock">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetDeadStock">Asset Dead Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetOtherReceivable">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetOtherReceivable">Asset Other Receivable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetLoss">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetLoss">Asset Loss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalLiability">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLiability">Total Liability</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAsset">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalAsset">Total Asset</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="villageCode">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.villageCode">Village Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pacsVerifiedFlag">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsVerifiedFlag">Pacs Verified Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branchVerifiedFlag">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedFlag">Branch Verified Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="headOfficeVerifiedFlag">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedFlag">Head Office Verified Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isSupplimenteryFlag">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kamalSociety.isSupplimenteryFlag">Is Supplimentery Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kamalSociety of kamalSocieties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/kamal-society', kamalSociety.id, 'view']">{{ kamalSociety.id }}</a>
          </td>
          <td>{{ kamalSociety.financialYear }}</td>
          <td>{{ kamalSociety.kmDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.kmDateMr }}</td>
          <td>{{ kamalSociety.kmFromDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.kmFromDateMr }}</td>
          <td>{{ kamalSociety.kmToDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.kmToDateMr }}</td>
          <td>{{ kamalSociety.pacsNumber }}</td>
          <td>{{ kamalSociety.zindagiPatrakDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.zindagiPatrakDateMr }}</td>
          <td>{{ kamalSociety.bankTapasaniDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.bankTapasaniDateMr }}</td>
          <td>{{ kamalSociety.govTapasaniDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.govTapasaniDateMr }}</td>
          <td>{{ kamalSociety.sansthaTapasaniDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.sansthaTapasaniDateMr }}</td>
          <td>{{ kamalSociety.totalLand }}</td>
          <td>{{ kamalSociety.bagayat }}</td>
          <td>{{ kamalSociety.jirayat }}</td>
          <td>{{ kamalSociety.totalFarmer }}</td>
          <td>{{ kamalSociety.memberFarmer }}</td>
          <td>{{ kamalSociety.nonMemberFarmer }}</td>
          <td>{{ kamalSociety.talebandDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.memLoan }}</td>
          <td>{{ kamalSociety.memDue }}</td>
          <td>{{ kamalSociety.memVasuli }}</td>
          <td>{{ kamalSociety.memVasuliPer }}</td>
          <td>{{ kamalSociety.bankLoan }}</td>
          <td>{{ kamalSociety.bankDue }}</td>
          <td>{{ kamalSociety.bankVasuli }}</td>
          <td>{{ kamalSociety.bankVasuliPer }}</td>
          <td>{{ kamalSociety.balanceSheetDate | formatMediumDatetime }}</td>
          <td>{{ kamalSociety.balanceSheetDateMr }}</td>
          <td>{{ kamalSociety.liabilityAdhikrutShareCapital }}</td>
          <td>{{ kamalSociety.liabilityVasulShareCapital }}</td>
          <td>{{ kamalSociety.liabilityFund }}</td>
          <td>{{ kamalSociety.liabilitySpareFund }}</td>
          <td>{{ kamalSociety.liabilityDeposite }}</td>
          <td>{{ kamalSociety.liabilityBalanceSheetBankLoan }}</td>
          <td>{{ kamalSociety.liabilityOtherPayable }}</td>
          <td>{{ kamalSociety.liabilityProfit }}</td>
          <td>{{ kamalSociety.assetCash }}</td>
          <td>{{ kamalSociety.assetInvestment }}</td>
          <td>{{ kamalSociety.assetImaratFund }}</td>
          <td>{{ kamalSociety.assetMemberLoan }}</td>
          <td>{{ kamalSociety.assetDeadStock }}</td>
          <td>{{ kamalSociety.assetOtherReceivable }}</td>
          <td>{{ kamalSociety.assetLoss }}</td>
          <td>{{ kamalSociety.totalLiability }}</td>
          <td>{{ kamalSociety.totalAsset }}</td>
          <td>{{ kamalSociety.villageCode }}</td>
          <td>{{ kamalSociety.pacsVerifiedFlag }}</td>
          <td>{{ kamalSociety.branchVerifiedFlag }}</td>
          <td>{{ kamalSociety.headOfficeVerifiedFlag }}</td>
          <td>{{ kamalSociety.isSupplimenteryFlag }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/kamal-society', kamalSociety.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/kamal-society', kamalSociety.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(kamalSociety)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="kamalSocieties && kamalSocieties.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
