<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-km-master-heading" data-cy="KmMasterCreateUpdateHeading" jhiTranslate="cbsMiddlewareApp.kmMaster.home.createOrEditLabel">
        Create or edit a Km Master
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.branchCode" for="field_branchCode">Branch Code</label>
          <input
            type="text"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.branchCodeMr" for="field_branchCodeMr">Branch Code Mr</label>
          <input
            type="text"
            class="form-control"
            name="branchCodeMr"
            id="field_branchCodeMr"
            data-cy="branchCodeMr"
            formControlName="branchCodeMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.farmerName" for="field_farmerName">Farmer Name</label>
          <input
            type="text"
            class="form-control"
            name="farmerName"
            id="field_farmerName"
            data-cy="farmerName"
            formControlName="farmerName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.farmerNameMr" for="field_farmerNameMr">Farmer Name Mr</label>
          <input
            type="text"
            class="form-control"
            name="farmerNameMr"
            id="field_farmerNameMr"
            data-cy="farmerNameMr"
            formControlName="farmerNameMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.farmerAddress" for="field_farmerAddress">Farmer Address</label>
          <input
            type="text"
            class="form-control"
            name="farmerAddress"
            id="field_farmerAddress"
            data-cy="farmerAddress"
            formControlName="farmerAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.farmerAddressMr" for="field_farmerAddressMr"
            >Farmer Address Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="farmerAddressMr"
            id="field_farmerAddressMr"
            data-cy="farmerAddressMr"
            formControlName="farmerAddressMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.gender" for="field_gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.genderMr" for="field_genderMr">Gender Mr</label>
          <input type="text" class="form-control" name="genderMr" id="field_genderMr" data-cy="genderMr" formControlName="genderMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.caste" for="field_caste">Caste</label>
          <input type="text" class="form-control" name="caste" id="field_caste" data-cy="caste" formControlName="caste" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.casteMr" for="field_casteMr">Caste Mr</label>
          <input type="text" class="form-control" name="casteMr" id="field_casteMr" data-cy="casteMr" formControlName="casteMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.pacsNumber" for="field_pacsNumber">Pacs Number</label>
          <input
            type="text"
            class="form-control"
            name="pacsNumber"
            id="field_pacsNumber"
            data-cy="pacsNumber"
            formControlName="pacsNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.areaHector" for="field_areaHector">Area Hector</label>
          <input
            type="text"
            class="form-control"
            name="areaHector"
            id="field_areaHector"
            data-cy="areaHector"
            formControlName="areaHector"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.areaHectorMr" for="field_areaHectorMr">Area Hector Mr</label>
          <input
            type="text"
            class="form-control"
            name="areaHectorMr"
            id="field_areaHectorMr"
            data-cy="areaHectorMr"
            formControlName="areaHectorMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.aadharNo" for="field_aadharNo">Aadhar No</label>
          <input type="number" class="form-control" name="aadharNo" id="field_aadharNo" data-cy="aadharNo" formControlName="aadharNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.aadharNoMr" for="field_aadharNoMr">Aadhar No Mr</label>
          <input
            type="text"
            class="form-control"
            name="aadharNoMr"
            id="field_aadharNoMr"
            data-cy="aadharNoMr"
            formControlName="aadharNoMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.panNo" for="field_panNo">Pan No</label>
          <input type="number" class="form-control" name="panNo" id="field_panNo" data-cy="panNo" formControlName="panNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.panNoMr" for="field_panNoMr">Pan No Mr</label>
          <input type="text" class="form-control" name="panNoMr" id="field_panNoMr" data-cy="panNoMr" formControlName="panNoMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.mobileNo" for="field_mobileNo">Mobile No</label>
          <input type="text" class="form-control" name="mobileNo" id="field_mobileNo" data-cy="mobileNo" formControlName="mobileNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.mobileNoMr" for="field_mobileNoMr">Mobile No Mr</label>
          <input
            type="text"
            class="form-control"
            name="mobileNoMr"
            id="field_mobileNoMr"
            data-cy="mobileNoMr"
            formControlName="mobileNoMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.kccNo" for="field_kccNo">Kcc No</label>
          <input type="text" class="form-control" name="kccNo" id="field_kccNo" data-cy="kccNo" formControlName="kccNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.kccNoMr" for="field_kccNoMr">Kcc No Mr</label>
          <input type="text" class="form-control" name="kccNoMr" id="field_kccNoMr" data-cy="kccNoMr" formControlName="kccNoMr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.savingAcNo" for="field_savingAcNo">Saving Ac No</label>
          <input
            type="number"
            class="form-control"
            name="savingAcNo"
            id="field_savingAcNo"
            data-cy="savingAcNo"
            formControlName="savingAcNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.savingAcNoMr" for="field_savingAcNoMr">Saving Ac No Mr</label>
          <input
            type="text"
            class="form-control"
            name="savingAcNoMr"
            id="field_savingAcNoMr"
            data-cy="savingAcNoMr"
            formControlName="savingAcNoMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.pacsMemberCode" for="field_pacsMemberCode"
            >Pacs Member Code</label
          >
          <input
            type="text"
            class="form-control"
            name="pacsMemberCode"
            id="field_pacsMemberCode"
            data-cy="pacsMemberCode"
            formControlName="pacsMemberCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.pacsMemberCodeMr" for="field_pacsMemberCodeMr"
            >Pacs Member Code Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="pacsMemberCodeMr"
            id="field_pacsMemberCodeMr"
            data-cy="pacsMemberCodeMr"
            formControlName="pacsMemberCodeMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.entryFlag" for="field_entryFlag">Entry Flag</label>
          <input type="text" class="form-control" name="entryFlag" id="field_entryFlag" data-cy="entryFlag" formControlName="entryFlag" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.kmMaster.farmerTypeMaster" for="field_farmerTypeMaster"
            >Farmer Type Master</label
          >
          <select
            class="form-control"
            id="field_farmerTypeMaster"
            data-cy="farmerTypeMaster"
            name="farmerTypeMaster"
            formControlName="farmerTypeMaster"
            [compareWith]="compareFarmerTypeMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="farmerTypeMasterOption" *ngFor="let farmerTypeMasterOption of farmerTypeMastersSharedCollection">
              {{ farmerTypeMasterOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
