<div>
  <h2 id="page-heading" data-cy="KmLoansHeading">
    <span jhiTranslate="cbsMiddlewareApp.kmLoans.home.title">Km Loans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kmLoans.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-km-loans"
        [routerLink]="['/km-loans/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.kmLoans.home.createLabel">Create a new Km Loans</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="kmLoans?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.kmLoans.home.notFound">No Km Loans found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="kmLoans && kmLoans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cropName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.cropName">Crop Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cropNameMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.cropNameMr">Crop Name Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.loanDate">Loan Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.loanAmount">Loan Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanAmountMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.loanAmountMr">Loan Amount Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="are">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.are">Are</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="areMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.areMr">Are Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receivableAmt">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.receivableAmt">Receivable Amt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receivableAmtMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.receivableAmtMr">Receivable Amt Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueAmt">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.dueAmt">Due Amt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueAmtMr">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.dueAmtMr">Due Amt Mr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.dueDate">Due Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kmDetails.id">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.kmLoans.kmDetails">Km Details</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kmLoans of kmLoans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/km-loans', kmLoans.id, 'view']">{{ kmLoans.id }}</a>
          </td>
          <td>{{ kmLoans.cropName }}</td>
          <td>{{ kmLoans.cropNameMr }}</td>
          <td>{{ kmLoans.loanDate | formatMediumDatetime }}</td>
          <td>{{ kmLoans.loanAmount }}</td>
          <td>{{ kmLoans.loanAmountMr }}</td>
          <td>{{ kmLoans.are }}</td>
          <td>{{ kmLoans.areMr }}</td>
          <td>{{ kmLoans.receivableAmt }}</td>
          <td>{{ kmLoans.receivableAmtMr }}</td>
          <td>{{ kmLoans.dueAmt }}</td>
          <td>{{ kmLoans.dueAmtMr }}</td>
          <td>{{ kmLoans.dueDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="kmLoans.kmDetails">
              <a [routerLink]="['/km-details', kmLoans.kmDetails.id, 'view']">{{ kmLoans.kmDetails.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/km-loans', kmLoans.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/km-loans', kmLoans.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(kmLoans)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="kmLoans && kmLoans.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
