<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-court-case-setting-heading"
        data-cy="CourtCaseSettingCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.courtCaseSetting.home.createOrEditLabel"
      >
        Create or edit a Court Case Setting
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliAdhikariName" for="field_vasuliAdhikariName"
            >Vasuli Adhikari Name</label
          >
          <input
            type="text"
            class="form-control"
            name="vasuliAdhikariName"
            id="field_vasuliAdhikariName"
            data-cy="vasuliAdhikariName"
            formControlName="vasuliAdhikariName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.arOfficeName" for="field_arOfficeName"
            >Ar Office Name</label
          >
          <input
            type="text"
            class="form-control"
            name="arOfficeName"
            id="field_arOfficeName"
            data-cy="arOfficeName"
            formControlName="arOfficeName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.chairmanName" for="field_chairmanName"
            >Chairman Name</label
          >
          <input
            type="text"
            class="form-control"
            name="chairmanName"
            id="field_chairmanName"
            data-cy="chairmanName"
            formControlName="chairmanName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.sachivName" for="field_sachivName">Sachiv Name</label>
          <input
            type="text"
            class="form-control"
            name="sachivName"
            id="field_sachivName"
            data-cy="sachivName"
            formControlName="sachivName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.suchakName" for="field_suchakName">Suchak Name</label>
          <input
            type="text"
            class="form-control"
            name="suchakName"
            id="field_suchakName"
            data-cy="suchakName"
            formControlName="suchakName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.anumodakName" for="field_anumodakName"
            >Anumodak Name</label
          >
          <input
            type="text"
            class="form-control"
            name="anumodakName"
            id="field_anumodakName"
            data-cy="anumodakName"
            formControlName="anumodakName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliExpense" for="field_vasuliExpense"
            >Vasuli Expense</label
          >
          <input
            type="number"
            class="form-control"
            name="vasuliExpense"
            id="field_vasuliExpense"
            data-cy="vasuliExpense"
            formControlName="vasuliExpense"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.otherExpense" for="field_otherExpense"
            >Other Expense</label
          >
          <input
            type="number"
            class="form-control"
            name="otherExpense"
            id="field_otherExpense"
            data-cy="otherExpense"
            formControlName="otherExpense"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.noticeExpense" for="field_noticeExpense"
            >Notice Expense</label
          >
          <input
            type="number"
            class="form-control"
            name="noticeExpense"
            id="field_noticeExpense"
            data-cy="noticeExpense"
            formControlName="noticeExpense"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingNo" for="field_meetingNo">Meeting No</label>
          <input type="number" class="form-control" name="meetingNo" id="field_meetingNo" data-cy="meetingNo" formControlName="meetingNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDate" for="field_meetingDate"
            >Meeting Date</label
          >
          <div class="input-group">
            <input
              id="field_meetingDate"
              data-cy="meetingDate"
              type="text"
              class="form-control"
              name="meetingDate"
              ngbDatepicker
              #meetingDateDp="ngbDatepicker"
              formControlName="meetingDate"
            />
            <button type="button" class="btn btn-secondary" (click)="meetingDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.subjectNo" for="field_subjectNo">Subject No</label>
          <input type="number" class="form-control" name="subjectNo" id="field_subjectNo" data-cy="subjectNo" formControlName="subjectNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDay" for="field_meetingDay">Meeting Day</label>
          <input
            type="text"
            class="form-control"
            name="meetingDay"
            id="field_meetingDay"
            data-cy="meetingDay"
            formControlName="meetingDay"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingTime" for="field_meetingTime"
            >Meeting Time</label
          >
          <input
            type="text"
            class="form-control"
            name="meetingTime"
            id="field_meetingTime"
            data-cy="meetingTime"
            formControlName="meetingTime"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
