<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="relativeMaster">
      <h2 data-cy="relativeMasterDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.relativeMaster.detail.title">Relative Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ relativeMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.relativeMaster.relativeCode">Relative Code</span></dt>
        <dd>
          <span>{{ relativeMaster.relativeCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.relativeMaster.relativeName">Relative Name</span></dt>
        <dd>
          <span>{{ relativeMaster.relativeName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/relative-master', relativeMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
