<div>
  <h2 id="page-heading" data-cy="CourtCaseHeading">
    <span jhiTranslate="cbsMiddlewareApp.courtCase.home.title">Court Cases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.courtCase.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-court-case"
        [routerLink]="['/court-case/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.courtCase.home.createLabel"> Create a new Court Case </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="courtCases?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.courtCase.home.notFound">No Court Cases found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="courtCases && courtCases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.srNo">Sr No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.accountNo">Account No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nameOfDefaulter">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.nameOfDefaulter">Name Of Defaulter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanType">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.loanType">Loan Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.loanAmount">Loan Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.loanDate">Loan Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="termOfLoan">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.termOfLoan">Term Of Loan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestRate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.interestRate">Interest Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="installmentAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.installmentAmount">Installment Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalCredit">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.totalCredit">Total Credit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.balance">Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestPaid">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.interestPaid">Interest Paid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="penalInterestPaid">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.penalInterestPaid">Penal Interest Paid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueAmount">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.dueAmount">Due Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.dueDate">Due Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueInterest">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.dueInterest">Due Interest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duePenalInterest">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.duePenalInterest">Due Penal Interest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueMoreInterest">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.dueMoreInterest">Due More Interest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="interestRecivable">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.interestRecivable">Interest Recivable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gaurentorOne">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOne">Gaurentor One</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gaurentorOneAddress">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOneAddress">Gaurentor One Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gaurentorTwo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwo">Gaurentor Two</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gaurentorTwoAddress">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwoAddress">Gaurentor Two Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstNoticeDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.firstNoticeDate">First Notice Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="secondNoticeDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCase.secondNoticeDate">Second Notice Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courtCase of courtCases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/court-case', courtCase.id, 'view']">{{ courtCase.id }}</a>
          </td>
          <td>{{ courtCase.srNo }}</td>
          <td>{{ courtCase.accountNo }}</td>
          <td>{{ courtCase.nameOfDefaulter }}</td>
          <td>{{ courtCase.address }}</td>
          <td>{{ courtCase.loanType }}</td>
          <td>{{ courtCase.loanAmount }}</td>
          <td>{{ courtCase.loanDate | formatMediumDate }}</td>
          <td>{{ courtCase.termOfLoan }}</td>
          <td>{{ courtCase.interestRate }}</td>
          <td>{{ courtCase.installmentAmount }}</td>
          <td>{{ courtCase.totalCredit }}</td>
          <td>{{ courtCase.balance }}</td>
          <td>{{ courtCase.interestPaid }}</td>
          <td>{{ courtCase.penalInterestPaid }}</td>
          <td>{{ courtCase.dueAmount }}</td>
          <td>{{ courtCase.dueDate | formatMediumDate }}</td>
          <td>{{ courtCase.dueInterest }}</td>
          <td>{{ courtCase.duePenalInterest }}</td>
          <td>{{ courtCase.dueMoreInterest }}</td>
          <td>{{ courtCase.interestRecivable }}</td>
          <td>{{ courtCase.gaurentorOne }}</td>
          <td>{{ courtCase.gaurentorOneAddress }}</td>
          <td>{{ courtCase.gaurentorTwo }}</td>
          <td>{{ courtCase.gaurentorTwoAddress }}</td>
          <td>{{ courtCase.firstNoticeDate | formatMediumDate }}</td>
          <td>{{ courtCase.secondNoticeDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/court-case', courtCase.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/court-case', courtCase.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courtCase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courtCases && courtCases.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
