<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-crop-rate-master-heading"
        data-cy="CropRateMasterCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.cropRateMaster.home.createOrEditLabel"
      >
        Create or edit a Crop Rate Master
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.financialYear" for="field_financialYear"
            >Financial Year</label
          >
          <input
            type="text"
            class="form-control"
            name="financialYear"
            id="field_financialYear"
            data-cy="financialYear"
            formControlName="financialYear"
          />
          <div
            *ngIf="
              editForm.get('financialYear')!.invalid && (editForm.get('financialYear')!.dirty || editForm.get('financialYear')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('financialYear')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.currentAmount" for="field_currentAmount"
            >Current Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="currentAmount"
            id="field_currentAmount"
            data-cy="currentAmount"
            formControlName="currentAmount"
          />
          <div
            *ngIf="
              editForm.get('currentAmount')!.invalid && (editForm.get('currentAmount')!.dirty || editForm.get('currentAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('currentAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('currentAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.currentAmountMr" for="field_currentAmountMr"
            >Current Amount Mr</label
          >
          <input
            type="text"
            class="form-control"
            name="currentAmountMr"
            id="field_currentAmountMr"
            data-cy="currentAmountMr"
            formControlName="currentAmountMr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.percentage" for="field_percentage">Percentage</label>
          <input
            type="number"
            class="form-control"
            name="percentage"
            id="field_percentage"
            data-cy="percentage"
            formControlName="percentage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.activeFlag" for="field_activeFlag">Active Flag</label>
          <input
            type="checkbox"
            class="form-check"
            name="activeFlag"
            id="field_activeFlag"
            data-cy="activeFlag"
            formControlName="activeFlag"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.cropRateMaster.cropMaster" for="field_cropMaster">Crop Master</label>
          <select
            class="form-control"
            id="field_cropMaster"
            data-cy="cropMaster"
            name="cropMaster"
            formControlName="cropMaster"
            [compareWith]="compareCropMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="cropMasterOption" *ngFor="let cropMasterOption of cropMastersSharedCollection">
              {{ cropMasterOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
