<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cropCategoryMaster">
      <h2 data-cy="cropCategoryMasterDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.cropCategoryMaster.detail.title">Crop Category Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cropCategoryMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropCategoryMaster.categoryCode">Category Code</span></dt>
        <dd>
          <span>{{ cropCategoryMaster.categoryCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.cropCategoryMaster.categoryName">Category Name</span></dt>
        <dd>
          <span>{{ cropCategoryMaster.categoryName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crop-category-master', cropCategoryMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
