<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="isCalculateTemp">
      <h2 data-cy="isCalculateTempDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.detail.title">Is Calculate Temp</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ isCalculateTemp.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.serialNo">Serial No</span></dt>
        <dd>
          <span>{{ isCalculateTemp.serialNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.isCalculateTemp.financialYear">Financial Year</span></dt>
        <dd>
          <span>{{ isCalculateTemp.financialYear }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/is-calculate-temp', isCalculateTemp.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
