<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kmMagani">
      <h2 data-cy="kmMaganiDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.kmMagani.detail.title">Km Magani</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kmMagani.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.kmNumber">Km Number</span></dt>
        <dd>
          <span>{{ kmMagani.kmNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.memberNumber">Member Number</span></dt>
        <dd>
          <span>{{ kmMagani.memberNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.memberName">Member Name</span></dt>
        <dd>
          <span>{{ kmMagani.memberName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.pacsNumber">Pacs Number</span></dt>
        <dd>
          <span>{{ kmMagani.pacsNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.share">Share</span></dt>
        <dd>
          <span>{{ kmMagani.share }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.financialYear">Financial Year</span></dt>
        <dd>
          <span>{{ kmMagani.financialYear }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.kmDate">Km Date</span></dt>
        <dd>
          <span>{{ kmMagani.kmDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmMagani.maganiDate">Magani Date</span></dt>
        <dd>
          <span>{{ kmMagani.maganiDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/km-magani', kmMagani.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
