<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kmDetails">
      <h2 data-cy="kmDetailsDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.kmDetails.detail.title">Km Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kmDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.shares">Shares</span></dt>
        <dd>
          <span>{{ kmDetails.shares }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.sharesMr">Shares Mr</span></dt>
        <dd>
          <span>{{ kmDetails.sharesMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.sugarShares">Sugar Shares</span></dt>
        <dd>
          <span>{{ kmDetails.sugarShares }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.sugarSharesMr">Sugar Shares Mr</span></dt>
        <dd>
          <span>{{ kmDetails.sugarSharesMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.deposite">Deposite</span></dt>
        <dd>
          <span>{{ kmDetails.deposite }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.depositeMr">Deposite Mr</span></dt>
        <dd>
          <span>{{ kmDetails.depositeMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueLoan">Due Loan</span></dt>
        <dd>
          <span>{{ kmDetails.dueLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueLoanMr">Due Loan Mr</span></dt>
        <dd>
          <span>{{ kmDetails.dueLoanMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueAmount">Due Amount</span></dt>
        <dd>
          <span>{{ kmDetails.dueAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueAmountMr">Due Amount Mr</span></dt>
        <dd>
          <span>{{ kmDetails.dueAmountMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueDateMr">Due Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.dueDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.dueDate">Due Date</span></dt>
        <dd>
          <span>{{ kmDetails.dueDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmDate">Km Date</span></dt>
        <dd>
          <span>{{ kmDetails.kmDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmDateMr">Km Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.kmDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmFromDate">Km From Date</span></dt>
        <dd>
          <span>{{ kmDetails.kmFromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmFromDateMr">Km From Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.kmFromDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmToDate">Km To Date</span></dt>
        <dd>
          <span>{{ kmDetails.kmToDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmToDateMr">Km To Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.kmToDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatHector">Bagayat Hector</span></dt>
        <dd>
          <span>{{ kmDetails.bagayatHector }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatHectorMr">Bagayat Hector Mr</span></dt>
        <dd>
          <span>{{ kmDetails.bagayatHectorMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatAre">Bagayat Are</span></dt>
        <dd>
          <span>{{ kmDetails.bagayatAre }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bagayatAreMr">Bagayat Are Mr</span></dt>
        <dd>
          <span>{{ kmDetails.bagayatAreMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatHector">Jirayat Hector</span></dt>
        <dd>
          <span>{{ kmDetails.jirayatHector }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatHectorMr">Jirayat Hector Mr</span></dt>
        <dd>
          <span>{{ kmDetails.jirayatHectorMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatAre">Jirayat Are</span></dt>
        <dd>
          <span>{{ kmDetails.jirayatAre }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.jirayatAreMr">Jirayat Are Mr</span></dt>
        <dd>
          <span>{{ kmDetails.jirayatAreMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.zindagiAmt">Zindagi Amt</span></dt>
        <dd>
          <span>{{ kmDetails.zindagiAmt }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.zindagiNo">Zindagi No</span></dt>
        <dd>
          <span>{{ kmDetails.zindagiNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.surveyNo">Survey No</span></dt>
        <dd>
          <span>{{ kmDetails.surveyNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.landValue">Land Value</span></dt>
        <dd>
          <span>{{ kmDetails.landValue }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.landValueMr">Land Value Mr</span></dt>
        <dd>
          <span>{{ kmDetails.landValueMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementAmt">E Agreement Amt</span></dt>
        <dd>
          <span>{{ kmDetails.eAgreementAmt }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementAmtMr">E Agreement Amt Mr</span></dt>
        <dd>
          <span>{{ kmDetails.eAgreementAmtMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementDate">E Agreement Date</span></dt>
        <dd>
          <span>{{ kmDetails.eAgreementDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.eAgreementDateMr">E Agreement Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.eAgreementDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bojaAmount">Boja Amount</span></dt>
        <dd>
          <span>{{ kmDetails.bojaAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bojaAmountMr">Boja Amount Mr</span></dt>
        <dd>
          <span>{{ kmDetails.bojaAmountMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bojaDate">Boja Date</span></dt>
        <dd>
          <span>{{ kmDetails.bojaDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.bojaDateMr">Boja Date Mr</span></dt>
        <dd>
          <span>{{ kmDetails.bojaDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kmDetails.kmMaster">Km Master</span></dt>
        <dd>
          <div *ngIf="kmDetails.kmMaster">
            <a [routerLink]="['/km-master', kmDetails.kmMaster.id, 'view']">{{ kmDetails.kmMaster.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/km-details', kmDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
