<div>
  <h2 id="page-heading" data-cy="CourtCaseSettingHeading">
    <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.home.title">Court Case Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-court-case-setting"
        [routerLink]="['/court-case-setting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.home.createLabel"> Create a new Court Case Setting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="courtCaseSettings?.length === 0">
    <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.home.notFound">No Court Case Settings found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="courtCaseSettings && courtCaseSettings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vasuliAdhikariName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliAdhikariName">Vasuli Adhikari Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="arOfficeName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.arOfficeName">Ar Office Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="chairmanName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.chairmanName">Chairman Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sachivName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.sachivName">Sachiv Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="suchakName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.suchakName">Suchak Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="anumodakName">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.anumodakName">Anumodak Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vasuliExpense">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliExpense">Vasuli Expense</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="otherExpense">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.otherExpense">Other Expense</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="noticeExpense">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.noticeExpense">Notice Expense</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="meetingNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingNo">Meeting No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="meetingDate">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDate">Meeting Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subjectNo">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.subjectNo">Subject No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="meetingDay">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDay">Meeting Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="meetingTime">
            <div class="d-flex">
              <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingTime">Meeting Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courtCaseSetting of courtCaseSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/court-case-setting', courtCaseSetting.id, 'view']">{{ courtCaseSetting.id }}</a>
          </td>
          <td>{{ courtCaseSetting.vasuliAdhikariName }}</td>
          <td>{{ courtCaseSetting.arOfficeName }}</td>
          <td>{{ courtCaseSetting.chairmanName }}</td>
          <td>{{ courtCaseSetting.sachivName }}</td>
          <td>{{ courtCaseSetting.suchakName }}</td>
          <td>{{ courtCaseSetting.anumodakName }}</td>
          <td>{{ courtCaseSetting.vasuliExpense }}</td>
          <td>{{ courtCaseSetting.otherExpense }}</td>
          <td>{{ courtCaseSetting.noticeExpense }}</td>
          <td>{{ courtCaseSetting.meetingNo }}</td>
          <td>{{ courtCaseSetting.meetingDate | formatMediumDate }}</td>
          <td>{{ courtCaseSetting.subjectNo }}</td>
          <td>{{ courtCaseSetting.meetingDay }}</td>
          <td>{{ courtCaseSetting.meetingTime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/court-case-setting', courtCaseSetting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/court-case-setting', courtCaseSetting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courtCaseSetting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courtCaseSettings && courtCaseSettings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
