<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-is-calculate-temp-heading"
        data-cy="IsCalculateTempCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.isCalculateTemp.home.createOrEditLabel"
      >
        Create or edit a Is Calculate Temp
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.serialNo" for="field_serialNo">Serial No</label>
          <input type="number" class="form-control" name="serialNo" id="field_serialNo" data-cy="serialNo" formControlName="serialNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.financialYear" for="field_financialYear"
            >Financial Year</label
          >
          <input
            type="text"
            class="form-control"
            name="financialYear"
            id="field_financialYear"
            data-cy="financialYear"
            formControlName="financialYear"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.issFileParserId" for="field_issFileParserId"
            >Iss File Parser Id</label
          >
          <input
            type="number"
            class="form-control"
            name="issFileParserId"
            id="field_issFileParserId"
            data-cy="issFileParserId"
            formControlName="issFileParserId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.branchCode" for="field_branchCode">Branch Code</label>
          <input
            type="text"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanAccountNumberKcc" for="field_loanAccountNumberKcc"
            >Loan Account Number Kcc</label
          >
          <input
            type="text"
            class="form-control"
            name="loanAccountNumberKcc"
            id="field_loanAccountNumberKcc"
            data-cy="loanAccountNumberKcc"
            formControlName="loanAccountNumberKcc"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.farmerName" for="field_farmerName">Farmer Name</label>
          <input
            type="text"
            class="form-control"
            name="farmerName"
            id="field_farmerName"
            data-cy="farmerName"
            formControlName="farmerName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.gender" for="field_gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.cast" for="field_cast">Cast</label>
          <input type="text" class="form-control" name="cast" id="field_cast" data-cy="cast" formControlName="cast" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.aadharNumber" for="field_aadharNumber"
            >Aadhar Number</label
          >
          <input
            type="text"
            class="form-control"
            name="aadharNumber"
            id="field_aadharNumber"
            data-cy="aadharNumber"
            formControlName="aadharNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.mobileNo" for="field_mobileNo">Mobile No</label>
          <input type="text" class="form-control" name="mobileNo" id="field_mobileNo" data-cy="mobileNo" formControlName="mobileNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.farmerType" for="field_farmerType">Farmer Type</label>
          <input
            type="text"
            class="form-control"
            name="farmerType"
            id="field_farmerType"
            data-cy="farmerType"
            formControlName="farmerType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.socialCategory" for="field_socialCategory"
            >Social Category</label
          >
          <input
            type="text"
            class="form-control"
            name="socialCategory"
            id="field_socialCategory"
            data-cy="socialCategory"
            formControlName="socialCategory"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.accountNumber" for="field_accountNumber"
            >Account Number</label
          >
          <input
            type="text"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanSanctionDate" for="field_loanSanctionDate"
            >Loan Sanction Date</label
          >
          <input
            type="text"
            class="form-control"
            name="loanSanctionDate"
            id="field_loanSanctionDate"
            data-cy="loanSanctionDate"
            formControlName="loanSanctionDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.loanSanctionAmount" for="field_loanSanctionAmount"
            >Loan Sanction Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="loanSanctionAmount"
            id="field_loanSanctionAmount"
            data-cy="loanSanctionAmount"
            formControlName="loanSanctionAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.disbursementDate" for="field_disbursementDate"
            >Disbursement Date</label
          >
          <input
            type="text"
            class="form-control"
            name="disbursementDate"
            id="field_disbursementDate"
            data-cy="disbursementDate"
            formControlName="disbursementDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.disburseAmount" for="field_disburseAmount"
            >Disburse Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="disburseAmount"
            id="field_disburseAmount"
            data-cy="disburseAmount"
            formControlName="disburseAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.maturityLoanDate" for="field_maturityLoanDate"
            >Maturity Loan Date</label
          >
          <input
            type="text"
            class="form-control"
            name="maturityLoanDate"
            id="field_maturityLoanDate"
            data-cy="maturityLoanDate"
            formControlName="maturityLoanDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.bankDate" for="field_bankDate">Bank Date</label>
          <input type="text" class="form-control" name="bankDate" id="field_bankDate" data-cy="bankDate" formControlName="bankDate" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.cropName" for="field_cropName">Crop Name</label>
          <input type="text" class="form-control" name="cropName" id="field_cropName" data-cy="cropName" formControlName="cropName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryAmount" for="field_recoveryAmount"
            >Recovery Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="recoveryAmount"
            id="field_recoveryAmount"
            data-cy="recoveryAmount"
            formControlName="recoveryAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryInterest" for="field_recoveryInterest"
            >Recovery Interest</label
          >
          <input
            type="text"
            class="form-control"
            name="recoveryInterest"
            id="field_recoveryInterest"
            data-cy="recoveryInterest"
            formControlName="recoveryInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.recoveryDate" for="field_recoveryDate"
            >Recovery Date</label
          >
          <input
            type="text"
            class="form-control"
            name="recoveryDate"
            id="field_recoveryDate"
            data-cy="recoveryDate"
            formControlName="recoveryDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.balanceAmount" for="field_balanceAmount"
            >Balance Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="balanceAmount"
            id="field_balanceAmount"
            data-cy="balanceAmount"
            formControlName="balanceAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.prevDays" for="field_prevDays">Prev Days</label>
          <input type="number" class="form-control" name="prevDays" id="field_prevDays" data-cy="prevDays" formControlName="prevDays" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.presDays" for="field_presDays">Pres Days</label>
          <input type="number" class="form-control" name="presDays" id="field_presDays" data-cy="presDays" formControlName="presDays" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.actualDays" for="field_actualDays">Actual Days</label>
          <input
            type="number"
            class="form-control"
            name="actualDays"
            id="field_actualDays"
            data-cy="actualDays"
            formControlName="actualDays"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.nProd" for="field_nProd">N Prod</label>
          <input type="number" class="form-control" name="nProd" id="field_nProd" data-cy="nProd" formControlName="nProd" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productAmount" for="field_productAmount"
            >Product Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="productAmount"
            id="field_productAmount"
            data-cy="productAmount"
            formControlName="productAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productBank" for="field_productBank">Product Bank</label>
          <input
            type="text"
            class="form-control"
            name="productBank"
            id="field_productBank"
            data-cy="productBank"
            formControlName="productBank"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.productAbh3Lakh" for="field_productAbh3Lakh"
            >Product Abh 3 Lakh</label
          >
          <input
            type="text"
            class="form-control"
            name="productAbh3Lakh"
            id="field_productAbh3Lakh"
            data-cy="productAbh3Lakh"
            formControlName="productAbh3Lakh"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirst15" for="field_interestFirst15"
            >Interest First 15</label
          >
          <input
            type="number"
            class="form-control"
            name="interestFirst15"
            id="field_interestFirst15"
            data-cy="interestFirst15"
            formControlName="interestFirst15"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirst25" for="field_interestFirst25"
            >Interest First 25</label
          >
          <input
            type="number"
            class="form-control"
            name="interestFirst25"
            id="field_interestFirst25"
            data-cy="interestFirst25"
            formControlName="interestFirst25"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecond15" for="field_interestSecond15"
            >Interest Second 15</label
          >
          <input
            type="number"
            class="form-control"
            name="interestSecond15"
            id="field_interestSecond15"
            data-cy="interestSecond15"
            formControlName="interestSecond15"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecond25" for="field_interestSecond25"
            >Interest Second 25</label
          >
          <input
            type="number"
            class="form-control"
            name="interestSecond25"
            id="field_interestSecond25"
            data-cy="interestSecond25"
            formControlName="interestSecond25"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestStateFirst3" for="field_interestStateFirst3"
            >Interest State First 3</label
          >
          <input
            type="number"
            class="form-control"
            name="interestStateFirst3"
            id="field_interestStateFirst3"
            data-cy="interestStateFirst3"
            formControlName="interestStateFirst3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestStateSecond3" for="field_interestStateSecond3"
            >Interest State Second 3</label
          >
          <input
            type="number"
            class="form-control"
            name="interestStateSecond3"
            id="field_interestStateSecond3"
            data-cy="interestStateSecond3"
            formControlName="interestStateSecond3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestFirstAbh3" for="field_interestFirstAbh3"
            >Interest First Abh 3</label
          >
          <input
            type="number"
            class="form-control"
            name="interestFirstAbh3"
            id="field_interestFirstAbh3"
            data-cy="interestFirstAbh3"
            formControlName="interestFirstAbh3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.interestSecondAbh3" for="field_interestSecondAbh3"
            >Interest Second Abh 3</label
          >
          <input
            type="number"
            class="form-control"
            name="interestSecondAbh3"
            id="field_interestSecondAbh3"
            data-cy="interestSecondAbh3"
            formControlName="interestSecondAbh3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.panjabraoInt3" for="field_panjabraoInt3"
            >Panjabrao Int 3</label
          >
          <input
            type="number"
            class="form-control"
            name="panjabraoInt3"
            id="field_panjabraoInt3"
            data-cy="panjabraoInt3"
            formControlName="panjabraoInt3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.isRecover" for="field_isRecover">Is Recover</label>
          <input type="number" class="form-control" name="isRecover" id="field_isRecover" data-cy="isRecover" formControlName="isRecover" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.abh3Lakh" for="field_abh3Lakh">Abh 3 Lakh</label>
          <input type="number" class="form-control" name="abh3Lakh" id="field_abh3Lakh" data-cy="abh3Lakh" formControlName="abh3Lakh" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.isCalculateTemp.amt50000" for="field_amt50000">Amt 50000</label>
          <input type="number" class="form-control" name="amt50000" id="field_amt50000" data-cy="amt50000" formControlName="amt50000" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
