<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="districtMaster">
      <h2 data-cy="districtMasterDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.districtMaster.detail.title">District Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ districtMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.districtMaster.districtCode">District Code</span></dt>
        <dd>
          <span>{{ districtMaster.districtCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.districtMaster.districtName">District Name</span></dt>
        <dd>
          <span>{{ districtMaster.districtName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.districtMaster.stateCode">State Code</span></dt>
        <dd>
          <span>{{ districtMaster.stateCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/district-master', districtMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
