<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loan Demand</title>
</head>
<body style="box-sizing: border-box;">
<table width="100%">
  <tr style="font-size: 14px;">
    <th width="50%" style="border: 1px solid black; border-collapse: collapse;">
      <p style="text-align: center; margin: 8px 0;">भारत माता महिला नागरी पत  संस्था लि.</p>
      <p style="text-align: center; margin: 0;">
        <small style="font-weight: 400;">केडगाव</small>
      </p>
    </th>
    <th width="50%" style="border: 1px solid black; border-collapse: collapse;">
      <p style="text-align: center; margin: 8px 0;">सिंधुदुर्ग जिल्हा मध्यवर्ती सहकारी बँक लि. सिंधुदुर्ग </p>
      <p style="text-align: center; margin: 0;">
        <small>सन  <span style="font-weight: 400;">२०१५ - २०१८ </span>अल्प मुदत शेती कर्जाचे डिमांड स्टेटमेंट (मागणी पत्रक) खरीप / रब्बी हंगाम </small>
      </p>
      <div style="width: 60%; float: right;"><p style="margin: 5px; "><small>सन</small> </p></div>
    </th>
  </tr>
</table>
<table width="100%" style="border: 1px solid black; border-collapse: collapse;">
  <tr style="border: 1px solid black; border-collapse: collapse;">
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">अ. न.</th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">क. म. पत्रक नंबर </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">सभासद क्रमांक</th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">सभासद </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">धारण केलेले शेअर्स  </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">कर्ज खाते क्रमांक  </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">कर्ज प्रकार   </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">एकूण येणे बाकी  </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">एकूण थक बाकी   </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">वसूल पात्र कर्ज परतफेड दिनांक </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">पीका खालील क्षेत्र</th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">कर्जाची कमल मर्यादा </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">वसूल करावयाचे भाग </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">नक्त बँक कर्ज  </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">चालू हंगामात वाटप कर्ज </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">वैय. सेव्हिंग खाते जमा रक्कम </th>
    <th colspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">इ. करार बोजा </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">इकरार करून दिलेले क्षेत्र </th>
    <th rowspan="2" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">सही </th>
  </tr>
  <tr>
    <th style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">नं.</th>
    <th style="border: 1px solid black; border-collapse: collapse; font-size: 12px;">रक्कम</th>
  </tr>
  <tr style="border: 1px solid black; border-collapse: collapse;">
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">1</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">2</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">3</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">4</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">5</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">6</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">7</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">8</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">9</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">10</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">11</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">12</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">13</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">14</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">15</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">16</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">17</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">18</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">19</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">20</td>
  </tr>
  <tr style="border: 1px solid black; border-collapse: collapse;">
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">Jill</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">Smith</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: end;">43</td>
  </tr>
</table>

<div style="padding-top: 50px;">
  <div style="margin-top: 50px; border-bottom: 2px solid black;">
    <div style="display: inline-block; width: 50%;  text-align: end;">
      <strong><u>संस्थेचा शिक्का</u> </strong>
    </div>
    <div style="display: inline-block; width: 40%;  text-align: end;">
      <small style="font-size: 14px;">भारत माता महिला नागरी पत संस्था लि.</small>
    </div>
  </div>
</div>

<div style="margin-top: 20px;">
  <h4><u>तालुका विकास अधिकारी / विकास अधिकारी शेरा :</u></h4>
  <div style="font-size: 12px;">
    <div style="margin-bottom: 8px;">
                <pre style="display: inline-block; margin: 0;"><span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;"></span>संस्थेने आपल्या सभासदांसाठी अ. मुदत भात / ऊस / आंबा / काजु / नारळ / केळी / कलिंगड              /                  /                   / शेती पूरक खावटी डिमांड
   कर्जाचे स्टेटमेंट सादर केलेले असून ते मंजूर क. म. पत्रकाशी पडताळून तपासले ते बरोबर आढळले. </pre>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">पुरेशा रक्कमेचे 'इ' करार केलेले आहेत.</label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for=""> कर्ज रक्कमेचे वेळी कर्ज रोखा घेण्यात यावा. </label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">
        रु. ३०००० वरील कर्ज उचल दि. जून नंतर देण्यात यावी. तसेच संस्था व सचिव यांचा भट पीक लागवडी खालील पाहणी अहवाल घेण्यात यावा व बोजा नोंद ७/१२ उतारा घेण्यात यावा.
      </label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for=""> कर्ज उचल किसान क्रेडिट कार्ड द्वारे देण्यात यावी. </label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for=""> डिमांड स्टेटमेंट कॉ. नं. १३ प्रमाणे शेअर्स रक्कम रोखीने वसुल करून खाती वर्ग करण्यात यावी</label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for=""> केसीसी कार्ड धारकाचे बोजा नोंद ७/१२ घेण्यात तावी </label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">विमा उतरविणेस पाच सभासदांचा विमा उतरविणेस यावा</label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">ऊस पीक कर्जाचे उचली बाबतीत डॉ. डी. वाय. पाटील साखर कारखाना मर्या. ज्ञानशांतीनगर यांचा उचलगन दाखल घेण्यात याव.</label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">
        ............................................................................................................................................................................................................
      </label>
    </div>
    <div style="margin-bottom: 8px;">
      <span style="font-size: 10; border: 1px solid gray; display: inline-block; width: 12px; height: 12px; margin-right: 4px;" ></span>
      <label for="">
        ............................................................................................................................................................................................................
      </label>
    </div>
  </div>
</div>

<div style="margin-top: 50px;">
  <div style="width: 80%; text-align: end;">
    <h5>तालुका विकास अधिकारी / विकास अधिकारी</h5>
    <h6 style="font-size: 12px;">शाखा </h6>
  </div>
</div>

</body>
</html></html>
