<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kamalSociety">
      <h2 data-cy="kamalSocietyDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.kamalSociety.detail.title">Kamal Society</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kamalSociety.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.financialYear">Financial Year</span></dt>
        <dd>
          <span>{{ kamalSociety.financialYear }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDate">Km Date</span></dt>
        <dd>
          <span>{{ kamalSociety.kmDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmDateMr">Km Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.kmDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDate">Km From Date</span></dt>
        <dd>
          <span>{{ kamalSociety.kmFromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmFromDateMr">Km From Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.kmFromDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDate">Km To Date</span></dt>
        <dd>
          <span>{{ kamalSociety.kmToDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.kmToDateMr">Km To Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.kmToDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsNumber">Pacs Number</span></dt>
        <dd>
          <span>{{ kamalSociety.pacsNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsName">Pacs Name</span></dt>
        <dd>
          <span>{{ kamalSociety.pacsName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchId">Branch Id</span></dt>
        <dd>
          <span>{{ kamalSociety.branchId }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchName">Branch Name</span></dt>
        <dd>
          <span>{{ kamalSociety.branchName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.talukaId">Taluka Id</span></dt>
        <dd>
          <span>{{ kamalSociety.talukaId }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.talukaName">Taluka Name</span></dt>
        <dd>
          <span>{{ kamalSociety.talukaName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDate">Zindagi Patrak Date</span></dt>
        <dd>
          <span>{{ kamalSociety.zindagiPatrakDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiPatrakDateMr">Zindagi Patrak Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.zindagiPatrakDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDate">Bank Tapasani Date</span></dt>
        <dd>
          <span>{{ kamalSociety.bankTapasaniDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankTapasaniDateMr">Bank Tapasani Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankTapasaniDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDate">Gov Tapasani Date</span></dt>
        <dd>
          <span>{{ kamalSociety.govTapasaniDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.govTapasaniDateMr">Gov Tapasani Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.govTapasaniDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDate">Sanstha Tapasani Date</span></dt>
        <dd>
          <span>{{ kamalSociety.sansthaTapasaniDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniDateMr">Sanstha Tapasani Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.sansthaTapasaniDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLand">Total Land</span></dt>
        <dd>
          <span>{{ kamalSociety.totalLand }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bagayat">Bagayat</span></dt>
        <dd>
          <span>{{ kamalSociety.bagayat }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.jirayat">Jirayat</span></dt>
        <dd>
          <span>{{ kamalSociety.jirayat }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalFarmer">Total Farmer</span></dt>
        <dd>
          <span>{{ kamalSociety.totalFarmer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memberFarmer">Member Farmer</span></dt>
        <dd>
          <span>{{ kamalSociety.memberFarmer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.nonMemberFarmer">Non Member Farmer</span></dt>
        <dd>
          <span>{{ kamalSociety.nonMemberFarmer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.talebandDate">Taleband Date</span></dt>
        <dd>
          <span>{{ kamalSociety.talebandDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoan">Mem Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.memLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDue">Mem Due</span></dt>
        <dd>
          <span>{{ kamalSociety.memDue }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuli">Mem Vasuli</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasuli }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasuliPer">Mem Vasuli Per</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasuliPer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoan">Bank Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.bankLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDue">Bank Due</span></dt>
        <dd>
          <span>{{ kamalSociety.bankDue }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuli">Bank Vasuli</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasuli }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasuliPer">Bank Vasuli Per</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasuliPer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDate">Balance Sheet Date</span></dt>
        <dd>
          <span>{{ kamalSociety.balanceSheetDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.balanceSheetDateMr">Balance Sheet Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.balanceSheetDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityAdhikrutShareCapital">Liability Adhikrut Share Capital</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityAdhikrutShareCapital }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityVasulShareCapital">Liability Vasul Share Capital</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityVasulShareCapital }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityFund">Liability Fund</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityFund }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilitySpareFund">Liability Spare Fund</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilitySpareFund }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityDeposite">Liability Deposite</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityDeposite }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityBalanceSheetBankLoan">Liability Balance Sheet Bank Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityBalanceSheetBankLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityOtherPayable">Liability Other Payable</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityOtherPayable }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.liabilityProfit">Liability Profit</span></dt>
        <dd>
          <span>{{ kamalSociety.liabilityProfit }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetCash">Asset Cash</span></dt>
        <dd>
          <span>{{ kamalSociety.assetCash }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetInvestment">Asset Investment</span></dt>
        <dd>
          <span>{{ kamalSociety.assetInvestment }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetImaratFund">Asset Imarat Fund</span></dt>
        <dd>
          <span>{{ kamalSociety.assetImaratFund }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetMemberLoan">Asset Member Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.assetMemberLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetDeadStock">Asset Dead Stock</span></dt>
        <dd>
          <span>{{ kamalSociety.assetDeadStock }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetOtherReceivable">Asset Other Receivable</span></dt>
        <dd>
          <span>{{ kamalSociety.assetOtherReceivable }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.assetLoss">Asset Loss</span></dt>
        <dd>
          <span>{{ kamalSociety.assetLoss }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLiability">Total Liability</span></dt>
        <dd>
          <span>{{ kamalSociety.totalLiability }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalAsset">Total Asset</span></dt>
        <dd>
          <span>{{ kamalSociety.totalAsset }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.villageCode">Village Code</span></dt>
        <dd>
          <span>{{ kamalSociety.villageCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsVerifiedFlag">Pacs Verified Flag</span></dt>
        <dd>
          <span>{{ kamalSociety.pacsVerifiedFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedFlag">Branch Verified Flag</span></dt>
        <dd>
          <span>{{ kamalSociety.branchVerifiedFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedFlag">Head Office Verified Flag</span></dt>
        <dd>
          <span>{{ kamalSociety.headOfficeVerifiedFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedFlag">Divisional Office Verified Flag</span></dt>
        <dd>
          <span>{{ kamalSociety.divisionalOfficeVerifiedFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.isSupplimenteryFlag">Is Supplimentery Flag</span></dt>
        <dd>
          <span>{{ kamalSociety.isSupplimenteryFlag }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.sansthaTapasaniVarg">Sanstha Tapasani Varg</span></dt>
        <dd>
          <span>{{ kamalSociety.sansthaTapasaniVarg }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedBy">Branch Verified By</span></dt>
        <dd>
          <span>{{ kamalSociety.branchVerifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.branchVerifiedDate">Branch Verified Date</span></dt>
        <dd>
          <span>{{ kamalSociety.branchVerifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedBy">Head Office Verified By</span></dt>
        <dd>
          <span>{{ kamalSociety.headOfficeVerifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.headOfficeVerifiedDate">Head Office Verified Date</span></dt>
        <dd>
          <span>{{ kamalSociety.headOfficeVerifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedBy">Divisional Office Verified By</span></dt>
        <dd>
          <span>{{ kamalSociety.divisionalOfficeVerifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.divisionalOfficeVerifiedDate">Divisional Office Verified Date</span></dt>
        <dd>
          <span>{{ kamalSociety.divisionalOfficeVerifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.doshPurtataDate">Dosh Purtata Date</span></dt>
        <dd>
          <span>{{ kamalSociety.doshPurtataDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.gambhirDosh">Gambhir Dosh</span></dt>
        <dd>
          <span>{{ kamalSociety.gambhirDosh }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/kamal-society', kamalSociety.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
