<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kamalSociety">
      <h2 data-cy="kamalSocietyDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.kamalSociety.detail.title">Kamal Society</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kamalSociety.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.pacsNumber">Pacs Number</span></dt>
        <dd>
          <span>{{ kamalSociety.pacsNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiDate">Zindagi Date</span></dt>
        <dd>
          <span>{{ kamalSociety.zindagiDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.zindagiDateMr">Zindagi Date Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.zindagiDateMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village1">Village 1</span></dt>
        <dd>
          <span>{{ kamalSociety.village1 }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village1Mr">Village 1 Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.village1Mr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village2">Village 2</span></dt>
        <dd>
          <span>{{ kamalSociety.village2 }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village2Mr">Village 2 Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.village2Mr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village3">Village 3</span></dt>
        <dd>
          <span>{{ kamalSociety.village3 }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.village3Mr">Village 3 Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.village3Mr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLand">Total Land</span></dt>
        <dd>
          <span>{{ kamalSociety.totalLand }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalLandMr">Total Land Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalLandMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalMem">Total Mem</span></dt>
        <dd>
          <span>{{ kamalSociety.totalMem }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalMemMr">Total Mem Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalMemMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalNonMem">Total Non Mem</span></dt>
        <dd>
          <span>{{ kamalSociety.totalNonMem }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalNonMemMr">Total Non Mem Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalNonMemMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalGMem">Total G Mem</span></dt>
        <dd>
          <span>{{ kamalSociety.totalGMem }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalGMemMr">Total G Mem Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalGMemMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoan">Mem Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.memLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memLoanMr">Mem Loan Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memLoanMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDue">Mem Due</span></dt>
        <dd>
          <span>{{ kamalSociety.memDue }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueMr">Mem Due Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memDueMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueper">Mem Dueper</span></dt>
        <dd>
          <span>{{ kamalSociety.memDueper }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memDueperMr">Mem Dueper Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memDueperMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulpatra">Mem Vasulpatra</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasulpatra }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulpatraMr">Mem Vasulpatra Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasulpatraMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasul">Mem Vasul</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasul }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulMr">Mem Vasul Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasulMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulPer">Mem Vasul Per</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasulPer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.memVasulPerMr">Mem Vasul Per Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.memVasulPerMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoan">Bank Loan</span></dt>
        <dd>
          <span>{{ kamalSociety.bankLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankLoanMr">Bank Loan Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankLoanMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDue">Bank Due</span></dt>
        <dd>
          <span>{{ kamalSociety.bankDue }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueMr">Bank Due Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankDueMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueper">Bank Dueper</span></dt>
        <dd>
          <span>{{ kamalSociety.bankDueper }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankDueperMr">Bank Dueper Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankDueperMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulpatra">Bank Vasulpatra</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasulpatra }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulpatraMr">Bank Vasulpatra Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasulpatraMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasul">Bank Vasul</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasul }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulMr">Bank Vasul Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasulMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulPer">Bank Vasul Per</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasulPer }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.bankVasulPerMr">Bank Vasul Per Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.bankVasulPerMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareCapital">Share Capital</span></dt>
        <dd>
          <span>{{ kamalSociety.shareCapital }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareCapitalMr">Share Capital Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.shareCapitalMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.share">Share</span></dt>
        <dd>
          <span>{{ kamalSociety.share }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.shareMr">Share Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.shareMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.funds">Funds</span></dt>
        <dd>
          <span>{{ kamalSociety.funds }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.fundsMr">Funds Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.fundsMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.deposit">Deposit</span></dt>
        <dd>
          <span>{{ kamalSociety.deposit }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.depositMr">Deposit Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.depositMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.payable">Payable</span></dt>
        <dd>
          <span>{{ kamalSociety.payable }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.payableMr">Payable Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.payableMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.profit">Profit</span></dt>
        <dd>
          <span>{{ kamalSociety.profit }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.profitMr">Profit Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.profitMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.cashInHand">Cash In Hand</span></dt>
        <dd>
          <span>{{ kamalSociety.cashInHand }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.cashInHandMr">Cash In Hand Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.cashInHandMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.investment">Investment</span></dt>
        <dd>
          <span>{{ kamalSociety.investment }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.investmentMr">Investment Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.investmentMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.deadStock">Dead Stock</span></dt>
        <dd>
          <span>{{ kamalSociety.deadStock }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.deadStockMr">Dead Stock Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.deadStockMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.otherPay">Other Pay</span></dt>
        <dd>
          <span>{{ kamalSociety.otherPay }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.otherPayMr">Other Pay Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.otherPayMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.loss">Loss</span></dt>
        <dd>
          <span>{{ kamalSociety.loss }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.lossMr">Loss Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.lossMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalBagayat">Total Bagayat</span></dt>
        <dd>
          <span>{{ kamalSociety.totalBagayat }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalBagayatMr">Total Bagayat Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalBagayatMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalJirayat">Total Jirayat</span></dt>
        <dd>
          <span>{{ kamalSociety.totalJirayat }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalSociety.totalJirayatMr">Total Jirayat Mr</span></dt>
        <dd>
          <span>{{ kamalSociety.totalJirayatMr }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/kamal-society', kamalSociety.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
