<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bank Gahan Khat</title>
</head>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd; /* Add a border around the table */
    }

    th,
    td {
      border: 1px solid #ddd; /* Add a border to each table cell */
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2; /* Add a background color to the table header */
    }
  </style>
<body>
<p>कर्ज खाते क्रमांक: ____</p>
<h2 style="text-align: center;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</h2>
<p>संस्थेचे नाव _____________ तपासणी वर्ग ______________ कर्ज क्रमांक _____________________ कर्ज दिल्याचा दिनांक ______________ तपासणी दिनांक ___________</p>
<p>रक्कम रूपये ____________ मुदत महिने ___________</p>

<h3 style="text-align: center;">- बँकेस लिहून दिलेले कर्ज खत -</h3>
<ol type="1">
  <li>  आम्ही खाली सह्या करणारे सभासद यांना संस्थेच्या पोट नियमाप्रमाणे संपूर्ण अधिकृत नाव ____________________ हिच्या समितीकडून सदरहू सोसायटीच्या पोटनियान्वये या संबंधाने अधिकार देण्यात
    आल्यावरून पुणे जिल्हा मध्यवर्ती सहकारी बँक म मर्यादित पुणे कडून आमचे सोसायटीस कर्ज म्हणून (रु. _______ ) अक्षरी रु. _____________ ची रक्कम पोचल्याची पावती देत आहोत आणि
    आम्ही त्या सोसायटीच्या वतीने ते कर्ज दरसाल दर शेकडा रूपये ____ % प्रमाणे किंवा बैंक वेळोवेळी ठरविल त्या व्याजाच्या दराने व खाली सांगितलेल्या ______ हप्त्यांनी फेडण्याचे कबूल करतो. दर हप्त्याची फेड
    त्यांच्यासमोर दर्शविलेल्या दिनांकास व्हावयाची आहे. मुदतीत कर्ज फेड न केल्यामुळे आमच्या संस्थेकडे बैंक कर्ज बाकी थकल्यास त्या थकबाकीवर बाकी थकल्या दिनांकापासून दरसाल दर शेकडा _________% दराने
    किंवा बँक वेळोवेळी ठरविल त्या व्याजाच्या दराने व्याज देत जाऊ.
    <table>
      <tr>
        <td>मुद्दल रूपये</td>
        <td>हप्ता भरण्याचा दिनांक</td>
        <td>शेरा</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </li>
  <li>सोसायटीने कर्जाऊ घेतलेली रक्कम मुदतीचे आत केव्हाही परत केल्यास बँकेने घ्यावी.</li>
  <li>व्याजाची परतफेड बँकेने कर्जासाठी कळविलेल्या अटीप्रमाणे करू.</li>
  <li>कोणत्याही हप्त्याची परतफेड मुदतीत न केल्यास बँकेने पुढील मुदतीत वाट न पाहता येणे असलेली सर्व रक्कम व्याजासह कायदेशीर उपायांनी एकदम वसूल करून घ्यावी.</li>
  <li>सोसायटीच्या अवस्थेमुळे सदरहू कर्जाच्या रकमेचा दुरूपयोग होत आहे अगर सदरहू रकमेस सोसायटीतील काही सभासदांनी राजीनामा दिल्यामुळे धोका आहे असे बँकेचे संचालक किंवा कार्यकारी व्यवस्थापक यांस
    वाटल्यास बैंकने सोसायटीला एक महिन्याची नोटीस देऊन सर्व रक्कम व्याजासह एकदम वसूल करून घ्यावी.</li>
  <li>सोसायटीच्या कोणा सभासदाने राजीनामा दिला तर ती गोष्ट ताबडतोब बँकेला कळवायला आम्ही दांधलेलो आहोत.</li>
  <li>आम्ही असा करार करतो की, पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादितकडे कर्ज मागणी अर्ज करण्यात आल्या दिनांकापासून या करारनाम्याची दिनांकापर्यंत नसलेल्या लोकांची किंवा इतर सहकारी संस्था
    अगर संस्थांची कर्जे व ठेवी मिळून रु. ______ घेण्यात आले आहेत.</li>
  <li>कर्ज मंजुरीबद्दल अलहिदा बँकेने संस्थेस कळविलेल्या अटी आमच्या संस्थेस बंधनकारक असल्याचे आम्ही संस्थेतर्फे मान्य करीत आहोत व त्या अटी या कर्ज खात्याचा भाग समजणेचा असून सोबत जोडल्या
    आहेत.</li>
</ol>

<table style="border: none;">
  <tr>
    <td style="border: none;">दिनांक : ______________</td>
    <td style="border: none;">माहे : ________________</td>
    <td style="border: none;">सन : ________________</td>
  </tr>
</table>
<table style="border: none;">
  <tr style="border: none;">
    <td style="border: none;"><p>
      साक्ष <br>
      ___________________________<br>
      ___________________________
    </p>
    </td>
    <td style="border: none;">
      <table style="border: none;">
        <tr style="border: none;">
          <td style="border: none; padding: 0px">अध्यक्ष : </td>
          <td style="border: none; padding: 0px">______________________</td>
        </tr>
        <tr style="border: none;">
          <td style="border: none; padding: 0px">पंच :</td>
          <td style="border: none; padding: 0px">______________________</td>
        </tr>
        <tr style="border: none;">
          <td style="border: none; padding: 0px">पंच :</td>
          <td style="border: none; padding: 0px">______________________</td>
        </tr>
        <tr style="border: none; padding: 0px">
          <td style="border: none; padding: 0px">संस्थेचे नाव :</td>
          <td style="border: none; padding: 0px">______________________</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div style="page-break-before: always;">
  <h2 style="text-align: center;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे कडून</h2>
  <p style="text-indent: 35px;">सहकारी संस्थेस मंजुरी झालेल्या कर्ज क्रेडीटपैकी मागिल बाजूस दर्शविल्याप्रमाणे कर्ज क्रेडीट रु. _____  ची उचल केली. या कर्जाबद्दल आपल्या संस्थेतर्फे बँकेत कर्जरोखा व वचन पत्रिका लिहून देण्याचा
    अधिकार संस्थेचा व्यवस्थापक समितीचा ठराव क्रमांक _________ दिनांक __________ प्रमाणे खालील पंचांना देण्यात आला आहे.</p>

  <table style="border: none;">
    <tr style="border: none;">
      <td style="border: none; width: 50%; vertical-align: middle; text-align: center;">
        <p>
          संस्थेचा गोल <br> शिक्का
        </p>
      </td>
      <td style="border: none; width: 50%;">
        पदाधिकाऱ्यांची नावे
        <table style="border: none;">
          <tr style="border: none;">
            <td style="border: none; padding: 0px">अध्यक्ष : </td>
            <td style="border: none; padding: 0px">______________________</td>
          </tr>
          <tr style="border: none;">
            <td style="border: none; padding: 0px">पंच :</td>
            <td style="border: none; padding: 0px">______________________</td>
          </tr>
          <tr style="border: none;">
            <td style="border: none; padding: 0px">पंच :</td>
            <td style="border: none; padding: 0px">______________________</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p>सही ____________________</p>
  <p>नाव ____________________ चिटणीस ________________________ संस्थेतर्फे</p>
</div>
</body>
</html>
