<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>karj Vatap Slip</title>
  <style>
      table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd; /* Add a border around the table */
    }

    th,
    td {
      border: 1px solid #ddd; /* Add a border to each table cell */
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
<div style="display: flex; page-break-before: always; font-size: 12px;">

  <div style="width: 34%; padding: 10px; box-sizing: border-box;">
    <p style="text-align: justify;">
      सस्थेची क. क. म. रु. ______________  या कर्जवाटपासह संस्थेकडील येणे बाकी रु संस्थेच्या कजवाटपाचे ठरावावरून वरिल सभासदाना बँकेच्या पीककर्जविषयक धोरणाप्रमाणे सभासदवार देता
      येणारी कर्जाची रक्कम पडताळून पाहिली आहे. सभासदास दयावयाची रक्कन संबंधित सभासदाच्या किसान क्रेडिट कर्ज खाती(नावे चलनाने) नावे टाकून सभासदाचे बचत क्रेडिट कार्ड खाती वर्ग करणेत यावी.
    </p>
    <div style="display: flex; margin: 10px 0;">
      <div style="width: 33%;">
        <p style="margin: 5px 0;">कर्ज क्र. <span>______</span></p>
      </div>
      <div style="width: 33%;"><p style="margin: 5px 0;">रक्कम रु. _____</p></div>
      <div style="width: 34%;">
        <p style="text-align: end; margin: 3px 0;">विकास अधिकारी</p>
        <hr style="margin:2px 0;">
        <p style="text-align: end; margin: 3px 0;">शाखा</p>
      </div>
    </div>
    <div style="display: flex; margin: 10px 0;">
      <div style="width: 40%;"><p style="margin: 5px 0;">सस्थेचा गोल शिक्का</p></div>
      <div style="width: 60%;">
        <p style="text-align: end; margin: 3px 0;">मॅनेजर</p>
        <hr style="margin:2px 0;">
        <p style="text-align: end; margin: 3px 0;">शाखा</p>
      </div>
    </div>
  </div>

  <div style="width: 33%; padding: 10px; box-sizing: border-box;">
    <table style="width: 100%; border-collapse: collapse; font-size: 12px; line-height: 20px">
      <tbody>
      <tr>
        <td colspan="6">कर्ज वाटपाचा एकुण तपशिल</td>
      </tr>
      <tr>
        <td>सभासद तपशिल</td>
        <td>पीक व क्षेत्र</td>
        <td style="font-size: 10px;">सभासदाचे बचत खाती वर्ग करावयाची रक्कम</td>
        <td>भाग रक्कम</td>
        <td>विमा शुल्क रक्कम</td>
        <td>एकूण कर्ज वाटप रक्कम </td>
      </tr>
      <tr>
        <td>१) सबल संख्या</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>२) दुर्बल संख्या</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="width: 33%; padding: 10px; box-sizing: border-box;">
    <p style="margin: 5px;">आज दि. ___ /___ / ______ रोजी संस्थेची एकुण सर्व रोख शिल्लक रू. _________</p>
    <p style="margin: 5px;">अक्षरी रूपये. __________________</p>
    <p style="text-indent: 30px;">सागर दिलीप ढेरगे याचे जवळ आहे आज दिनाकास कोणीही</p>
    <p>पंच थकबाकीदार नाही. गुळाणी वि.का.सेवा सह संस्थेतर्फेच करिता</p>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <p style="margin: 40px 0 0 20px;">सचिव</p>
      </div>
      <div>
        सही,
        <p>___________________ अध्यक्ष</p>
        <p>___________________ सदस्य</p>
        <p>___________________ सदस्य</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
