<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karyalayeen Nivedan</title>
  <style>
      table, th {
        border: 1px solid;
        padding: 2px;
      }

      table, td {
        border: 1px solid;
        padding: 2px;
        text-align: center;
      }
    </style>
</head>
<body style="line-height: 25px; font-size: 14px;">
<div>
  <div style="text-align: center; margin-bottom: 12px;">
    <h2 style="margin: 0px;"><strong>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</strong></h2>
    <h3 style="margin: 10px; "><strong>कार्यालयीन निवेदन <span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.financialYear)}"></span></strong></h3>
  </div>
  <div>
    <span style="text-align: right;">दिनांक: ____ / ____ /२०२__ </span>
    <span th:text="${kamalSociety.kmDateMr}"></span>
    <span><strong><span th:text="${kamalSociety.pacsName}"></span> </strong> तालुका: <strong> <span th:text="${kamalSociety.talukaName}"></span></strong> </span>
    <span>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे <strong><span th:text="${kamalSociety.branchName}"></span></strong> शाखा.</span>
    <span>संस्थेची जिंदगी पत्रक तपासणी दिनांक:  रोजी केलेली आहे.</span>
  </div>
  <h3 style="margin: 8px 0; font-size: medium;">संस्थेच्या कार्यक्षेत्रात येणारी गावे :</h3>
  <div style="margin: 5px 0;">
    <span>१) __________________________ </span>
    <span>२) __________________________ </span>
    <span>३) __________________________ </span>
  </div>
  <div style="margin: 5px 0;">
    कार्यक्षेत्रातील गावामधील एकूण क्षेत्र : हेक्टर / आर <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.totalLand)}"></span></strong>
    पैकी बागायत क्षेत्र <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.bagayat)}"></span></strong> <br>
    पैकी जिरायत क्षेत्र : हेक्टर / आर <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.jirayat)}"></span> </strong> संस्थेच्या सभासदांची संख्या <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.memberFarmer)}"></span></strong><br>
    संस्थेचे सभासद नसलेल्या शेतकऱ्यांची संख्या <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.nonMemberFarmer)}"></span> </strong><br>
    कार्यक्षेत्रातील गावामधील जमिनधारक शेतकऱ्यांची एकूण संख्या <strong><span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.totalFarmer)}"></span></strong>
  </div>
  <div>
    <p style="text-align: center; margin: 10px 0;">पीककर्ज मागणी (सन <span th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.financialYear)}"></span>)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td rowspan="2">सभासद प्रकार</td>
        <td rowspan="2">सभा संख्या</td>
        <td rowspan="2">पिकांचे नांव</td>
        <td colspan="2" style="text-align: center;">क्षेत्र</td>
        <td rowspan="2">पीककर्ज मागणी रुपये</td>
        <td rowspan="2">शाखा शिफारस रुपये</td>
        <td rowspan="2">विभागीय कार्यालय रुपये</td>
      </tr>
      <tr>
        <td style="text-align: center;">हेक्टर</td>
        <td style="text-align: center;">आर</td>
      </tr>

      <tr th:if="${#lists.isEmpty(marginalSummary)}">
        <td style="text-align: left;"> अत्यल्पभूधारक (दुर्बल सभासद)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr th:if="${not #lists.isEmpty(marginalSummary)}" th:each="marginal,iterStat : ${marginalSummary}">
        <td style="text-align: left;" th:rowspan="${iterStat.size}" th:if="${iterStat.first} "> अत्यल्पभूधारक (दुर्बल सभासद)</td>
        <td  th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.memberCount)}"></td>
        <td style="text-align: left;" th:text="${marginal.cropMaster.cropName}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.getIntegerPartOfNumber(marginal.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.getDecimalPartOfNumber(marginal.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.pacsAmount)}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.branchAmount)}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(marginal.divisionalOfficeAmount)}" ></td>
      </tr>


      <tr th:if="${#lists.isEmpty(smallSummary)}">
        <td style="text-align: left;"> अल्पभूधारक सभासद</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr th:if="${not #lists.isEmpty(smallSummary)}" th:each="small,iterStat : ${smallSummary}">
        <td style="text-align: left;" th:rowspan="${iterStat.size}" th:if="${iterStat.first} "> अल्पभूधारक सभासद </td>
        <td  th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.memberCount)}"></td>
        <td style="text-align: left;" th:text="${small.cropMaster.cropName}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.getIntegerPartOfNumber(small.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.getDecimalPartOfNumber(small.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.pacsAmount)}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.branchAmount)}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(small.divisionalOfficeAmount)}" ></td>
      </tr>


      <tr th:if="${#lists.isEmpty(otherSummary)}">
        <td style="text-align: left;"> इतर सभासद</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr th:if="${not #lists.isEmpty(otherSummary)}" th:each="other,iterStat : ${otherSummary}">
        <td style="text-align: left;" th:rowspan="${iterStat.size}" th:if="${iterStat.first} "> इतर सभासद </td>
        <td  th:rowspan="${iterStat.size}"  th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.memberCount)}"></td>
        <td style="text-align: left;" th:text="${other.cropMaster.cropName}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.getIntegerPartOfNumber(other.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.getDecimalPartOfNumber(other.area))}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.pacsAmount)}"></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.branchAmount)}" ></td>
        <td th:rowspan="${iterStat.size}" th:if="${iterStat.first} " th:text="${translationServiceUtility.numberTOMarathiNumber(other.divisionalOfficeAmount)}" ></td>
      </tr>

      <tr>
        <td style="text-align: left;" > एकूण</td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.memberCount)}" ></td>
        <td></td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.getIntegerPartOfNumber(totalSummaryToPrint.area))}" ></td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.getDecimalPartOfNumber(totalSummaryToPrint.area))}" ></td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.pacsAmount)}"></td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.branchAmount)}" ></td>
        <td  th:text="${translationServiceUtility.numberTOMarathiNumber(totalSummaryToPrint.divisionalOfficeAmount)}"></td>
      </tr>


      </tbody>
    </table>

    <p style="text-align: center; margin: 10px 0;">संस्थेची दि. <span th:text="${kamalSociety.talebandDate}"></span> अखेर कर्जे व वसुलीची माहिती (रु. लाखात)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td>तपशील</td>
        <td>येणेबाकी रु.</td>
        <td>थकबाकी</td>
        <td>पैकी वसुल रक्कम रु.</td>
        <td>वसुलीचे शे. प्रमाण</td>
      </tr>

      <tr>
        <td>सभासद कर्ज</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.memLoan)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.memDue)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.memVasuli)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.memVasuliPer)}"></td>
      </tr>
      <tr>
        <td>बँक कर्ज</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.bankLoan)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.bankDue)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.bankVasuli)}"></td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.bankVasuliPer)}"></td>
      </tr>
      </tbody>
    </table>

    <p style="text-align: center; margin: 10px 0;">संस्थेची दि. <span th:text="${kamalSociety.balanceSheetDate}"></span> अखेरील ताळेबंदावरुन सांपत्तिक स्थिती (रु. लाखात)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td style="width: 30%;">संस्थेचे अधिकृत भाग भांडवल</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityAdhikrutShareCapital)}"></td>
        <td style="width: 30%;"></td>
        <td></td>
      </tr>
      <tr>
        <td>वसुल भाग भांडवल</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityVasulShareCapital)}"></td>
        <td>रोख शिल्लक</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetCash)}"></td>
      </tr>
      <tr>
        <td>सर्व निधी</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityFund)}"></td>
        <td>गुंतवणूक</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetInvestment)}"></td>
      </tr>
      <tr>
        <td>सर्व ठेवी</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityDeposite)}"></td>
        <td>सभासद कर्जे</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetMemberLoan)}"></td>
      </tr>
      <tr>
        <td>बँक कर्ज</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityBalanceSheetBankLoan)}"></td>
        <td>डेडस्टॉक</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetDeadStock)}"></td>
      </tr>
      <tr>
        <td>इतर देणी</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityOtherPayable)}"></td>
        <td>इतर येणी</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetOtherReceivable)}"></td>
      </tr>
      <tr>
        <td>नफा</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.liabilityProfit)}"></td>
        <td>तोटा</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.assetLoss)}"></td>
      </tr>
      <tr>
        <td>एकूण</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.totalLiability)}"></td>
        <td>एकूण</td>
        <td th:text="${translationServiceUtility.numberTOMarathiNumber(kamalSociety.totalAsset)}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
