<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LanManjuri</title>
  <style>
      table, th {
        border: 1px solid;
        padding: 4px;
      }

      table, td {
        border: 1px solid;
        padding: 4px;
        text-align: center;
      }
    </style>
</head>
<body style="line-height: 25px; font-size: 15px;">
<div>
  <div style="text-align: center; margin-bottom: 12px;">
    <h2 style="margin: 0px;"><strong>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</strong></h2>
    <h3 style="margin: 10px;"><strong>कार्यालयीन निवेदन २०२३-२०२४</strong></h3>
  </div>
  <div>
    <p style="text-align: end;">दिनांक: ____ / ____ /२०२__ </p>
    <p>________________________ वि. का. से. सह. सोसा. लि. _______________ तालुका _______________ </p>
    <p>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे ________________________ शाखा.</p>
    <p>संस्थेची जिंदगी पत्रक तपासणी दिनांक: ____ / ____ /२०२__ रोजी केलेली आहे.</p>
  </div>
  <h3 style="margin: 8px 0; font-size: medium;">संस्थेच्या कार्यक्षेत्रात येणारी गावे :</h3>
  <div style="margin: 5px 0;">
    <span>१) __________________________ </span>
    <span>२) __________________________ </span>
    <span>३) __________________________ </span>
  </div>
  <div style="margin: 5px 0;">
    कार्यक्षेत्रातील गावामधील एकूण क्षेत्र : हेक्टर / आर _________________ पैकी बागायत क्षेत्र _________________ <br>
    पैकी जिरायत क्षेत्र : हेक्टर / आर __________________ संस्थेच्या सभासदांची संख्या __________________ <br>
    संस्थेचे सभासद नसलेल्या शेतकऱ्यांची संख्या _________________ <br>
    कार्यक्षेत्रातील गावामधील जमिनधारक शेतकऱ्यांची एकूण संख्या ___________________
  </div>
  <div>
    <p style="text-align: center; margin: 10px 0;">पीककर्ज मागणी (सन २०२३-२०२४)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td rowspan="2">सभासद प्रकार</td>
        <td rowspan="2">सभा संख्या</td>
        <td rowspan="2">पिकांचे नांव</td>
        <td colspan="2" style="text-align: center;">क्षेत्र</td>
        <td rowspan="2">पीककर्ज मागणी रुपये</td>
        <td rowspan="2">शाखा शिफारस रुपये</td>
        <td rowspan="2">विभागीय कार्यालय रुपये</td>
      </tr>
      <tr>
        <td style="text-align: center;">हेक्टर</td>
        <td style="text-align: center;">आर</td>
      </tr>
      <tr>
        <td>अल्पभूधारक (दुर्बल सभासद)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>अत्यल्पभूधारक सभासद</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>इतर सभासद</td>
        <td></td>
        <td>
          <div style="text-align: left;">१)</div>
          <div style="text-align: left;">२)</div>
          <div style="text-align: left;">३)</div>
          <div style="text-align: left;">४)</div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>एकूण</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <p style="text-align: center; margin: 10px 0;">संस्थेची दि. ___________________ अखेर कर्जे व वसुलीची माहिती (रु. लाखात)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td>तपशील</td>
        <td>येणेबाकी रु.</td>
        <td>थकबाकी</td>
        <td>पैकी वसुल रक्कम रु.</td>
        <td>वसुलीचे शे. प्रमाण</td>
      </tr>

      <tr>
        <td>सभासद कर्ज</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>बँक कर्ज</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <p style="text-align: center; margin: 10px 0;">संस्थेची दि. ___________________ अखेरील ताळेबंदावरुन सांपत्तिक स्थिती (रु. लाखात)</p>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td style="width: 30%;">संस्थेचे अधिकृत भाग भांडवल</td>
        <td></td>
        <td></td>
        <td style="width: 30%;"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>वसुल भाग भांडवल</td>
        <td></td>
        <td></td>
        <td>रोख शिल्लक</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>सर्व निधी</td>
        <td></td>
        <td></td>
        <td>गुंतवणूक</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>सर्व ठेवी</td>
        <td></td>
        <td></td>
        <td>सभासद कर्जे</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>बँक कर्ज</td>
        <td></td>
        <td></td>
        <td>डेडस्टॉक</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>इतर देणी</td>
        <td></td>
        <td></td>
        <td>इतर येणी</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>नफा</td>
        <td></td>
        <td></td>
        <td>तोटा</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>एकूण</td>
        <td></td>
        <td></td>
        <td>एकूण</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Page 2 -->
<div>
  <div style="text-align: center; margin-bottom: 12px; margin-top: 25px ">
    <h2 style="margin: 0px;"><strong>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</strong></h2>
    <h3 style="margin: 10px;"><strong>मुख्य कचेरी : ४ ब, बी.जे.रोड, पुणे ४११००१.</strong></h3>
    <p style="margin: 0px;">* पो. बॉक्स नं. १०९ * दुरध्वनी क्र. : २६१३३८३३, ३६१३९३०० Email : agri@pdccbank.com</p>
  </div>
  <hr style="margin: 5px 0; border: 1px solid black;">
  <div>
    <h3 style="margin: 8px 0 5px 0; text-align: center;">मुख्य कचेरी शिफारस</h3>
    <h4 style="margin: 5px 0; text-align: center;">सन २०२__ -२०२__</h4>
  </div>
  <div>
    <p style="margin: 5px 0;">संस्थेचे नाव _________________________ वि. का. सह. से. सोसायटी लि., _______________</p>
    <p style="margin: 5px 0;">शाखा _________________________ </p>
  </div>
  <div>
    <table style="width: 100%; border-collapse: collapse; ">
      <tbody>
      <tr>
        <td rowspan="2">सभासद प्रकार</td>
        <td rowspan="2">सभा संख्या</td>
        <td colspan="2" style="text-align: center;">क्षेत्र</td>
        <td rowspan="2">रक्कम</td>
      </tr>
      <tr>
        <td style="text-align: center;">हेक्टर</td>
        <td style="text-align: center;">आर</td>
      </tr>
      <tr>
        <td>अत्यल्प दुर्बल सभासद</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>अल्प दुर्बल सभासद</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>सबल</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>एकूण</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <p style="margin: 8px 0;">अक्षरी रु. ____________________________________________</p>
    <p style="margin: 8px 0;">
      सोबत कमाल कर्ज मर्यादा पत्रकामध्ये नमूद केलेल्या सभासदाची तो संस्थेचा सभासद असल्याची, सभासदाच्या क्षेत्राची व पीकांची खात्री संस्थेचे चेअरमन,
      सचिव व पंचकमिटी तसेच शाखा विकास अधिकारी यांनी केल्याबद्दल संस्था शिफारस पत्रकावर सचिव, चेअरमन, संस्थेचे पंचकमिटी सर्व सदस्य व विकास
      अधिकारी यांनी सह्या केल्या आहेत. तसेच झोनल ऑफीसर यांनी शिफारशीसह सदर क. म. पत्रक मुख्य कचेरीकडे दाखल केलेले आहे. सदरची मागणी
      ग्राह्य धरुन मुख्यकचेरीने बँकेच्या संमत धोरणाप्रमाणे दर व क्षेत्राची सांगड घालून केलेली शिफारस बरोबर असल्याची खात्री करुन वरीलप्रमाणे शिफारस केली आहे.
    </p>
    <p style="margin: 8px 0;">
      कमाल मर्यादा पत्रकामध्ये कर्ज मागणी करणारा सभासद हा संस्थेचा सभासद असल्याची तसेच तो संस्थेच्या कार्यक्षेत्राबाहेर असल्यास 'के' नमुना घेण्याची तसेच क्षेत्राची,
      पिकांची पहाणी व वाटप करण्याची सर्वस्वी जबाबदारी बँक संमत धोरणानुसार मा. शाखा विकास अधिकारी यांची राहील. वरील वस्तुस्थिती विचारात घेऊन कमाल मर्यादा
      पत्रक मंजुरीस कार्यालयीन शिफारस आहे.
    </p>

    <div style="display: flex;">
      <div style="width: 8%;">अट :</div>
      <div>
        <div>१) रु.५०/- मुल्यांकन की प्रथम भरुन घेऊन नंतरच कर्ज वितरण करावे.</div>
        <div>२) बँक नमुन्यातील संस्था शिफारस प्रथम शाखा दप्तरी दाखल करुन घेऊनच</div>
        <div>३) पुरेशी कर्जशक्ती सहकारी संस्था/सहकार खाते यांचेकडून प्रथम वाढवून घेऊनच कर्ज वितरण करावे.</div>
        <div>४) अनिष्ट तफावत आहे. बँक धोरणानुसार १०% भाग रक्कम कपात करावी व रु.५०० चे स्टॅपपेपरवर त्रिपक्षीय करार ॲफिडिव्हेट करुन घ्यावा.</div>
        <div>५) मूळ क. म. पत्रकातील सभासदांची मंजूरी व वाटपाची खात्री करावी.</div>
        <div>६) संस्थेस रु.___________ (लाख) इतका तोटा दिसत आहे. थकबाकी वसुलीबाबत प्रयत्न करावेत</div>
        <div>७) संस्थेचे नवीन सभासद झालेबाबतचा संस्था ठराव क्र. व दिनांक प्रथम नमुद करावा.</div>
        <div>८) कमाल कर्ज मर्यादेचे उल्लंघन होणार नाही याची खात्री करुनच कर्ज वितरण करावे. सोबतच्या कमाल मर्यादा पत्रकाची मी पूर्ण छाननी केलेली आहे. शिफारशीसह सादर......</div>
      </div>
    </div>

    <div style="display: flex; margin-top: 20px;">
      <div style="width: 50%;">
        <p>मा. कर्ज अधिक्षक यांच्यामार्फत सादर</p>
        <p>मा. सहा. सरव्यवस्थापक यांचेमार्फत सादर</p>
      </div>
      <div style="width: 50%; text-align: center;">
        <p>छाननी अधिकारी/सिनिअर ऑफिसर</p>
        <p>कर्ज अधिक्षक</p>
        <p>सहा. सरव्यवस्थापक</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
