<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
      table, th {
        border: 1px solid;
        padding: 4px;
      }

      table, td {
        border: 1px solid;
        padding: 4px;
        text-align: center;
      }
    </style>
</head>
<body>
<div>
  <p style="text-align: justify; margin: 5px 0;">
    संस्थेची बँक तपासणी दि. ______________ अखेर झालेली असून सरकारी तपासणी दि. _______________ अखेर झालेली आहे. तपासणी वर्ग _________ मिळाला आहे.
    तपासणीचा दोष पुर्तता अहवाल दि. _____________ रोजी पाठविलेला आहे.
  </p>
  <p>सरकारी/बँक तपासणीमधील गंभीर दोष : __________________________________________</p>

  <h3 style="margin: 8px 0; font-size: medium;">पीककर्ज मंजुरीसाठी शिफारस हंगाम २०२३-२०२४ (रक्कम रुपयात)</h3>
  <table style="width: 100%; border-collapse: collapse; ">
    <tbody>
    <tr>
      <td rowspan="2">सभासद प्रकार</td>
      <td rowspan="2">पिकांचे नांव</td>
      <td rowspan="2">कर्जदार हेक्टरी रु.</td>
      <td rowspan="2">सभा संख्या</td>
      <td colspan="2" style="text-align: center;">मुख्य कचेरी शिफारस</td>
      <td rowspan="2">रक्कम</td>
    </tr>
    <tr>
      <td style="text-align: center;">क्षेत्र</td>
      <td style="text-align: center;">रक्कम</td>
    </tr>
    <tr th:each="crop,iterStat : ${all}">
      <td th:rowspan="${iterStat.size}" th:if="${iterStat.first}">१) ऊस <br> अल्पभूधारक  सभासद</td>
      <td th:text="${crop.cropMaster.cropName}">१) </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <p style="margin: 10px 0 5px 0;">अक्षरी रक्कम रु. _________________________________________________________</p>
  <p style="margin: 5px 0;">संस्थेच्या पोटनियमानुसार कर्ज शक्ती रक्कम रु. (लाख) ____________________________________</p>
  <p style="margin: 5px 0;">कमाल कर्ज मर्यादा रु. ____________________________________ (लाख)</p>
</div>

</body>
</html>
