<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>sanchalak Shifaras</title>
</head>
<body>
<h2 style="text-align: center;">शाखेचे नाव</h2>
<p style="text-indent: 35px;">
  ठराव क्रमांक _________________________________________________ या कारणापुरता उतारा विषय क्रमांक _________ किसान
  क्रेडीट कार्ड योजनेअंतर्गत संस्था सभासदांना पिक कर्ज मर्यादा मंजूर
  करणेबाबत...
</p>
<p>ठराव क्रमांक _______</p>
<p style="text-indent: 35px;">आपल्या संस्थेचे खालील सभासदांनी त्यांचेकडे येणे असलेल्या वसुलपात्र रकमेच्या संपूर्ण
  भरणा व्याजासह केलेला आहे. त्यांचेकडे इतर कोणत्याही सहकारी संस्थेची अथवा राष्ट्रीयकृत
  बँकेची थकबाकी नसलेची खात्री संस्थेने केली आहे. वाटपासंबंधी लागणान्या आवश्यक त्या सर्व कागदपत्रांची सभासदानी
  संस्थेस पुर्तता करून दिलेली आहे.</p>
<p style="text-indent: 35px;">सदर सभासद किसान क्रेडीट कार्ड योजनेअंतर्गत कर्ज वाटपास पात्र आहेत. या योजनेखाली
  सभासदांना देण्यात आलेल्या किसान क्रेडीट कार्डावर सभासदांनी त्यांना मंजूर असलेल्या पातमर्यादेस पात्र राहून
  वेळोवेळी परस्पर
  बँकेत कर्जव्यवहार करावयाचा आहे. सभासदानी वेळोवेळी बँकेतून उचल केलेली कर्जाची रक्कम बँकेतील संस्थेचे किसान
  क्रेडीट कार्ड सबल सभासद ___ क्षेत्र ___ रक्कम ___ व किसान क्रेडीट कार्ड दुर्बल
  सभासद ___ क्षेत्र ___ रक्कम _____ कर्ज खाती टाकण्याचा अधिकार या ठरावामध्ये पुणे जिल्हा
  मध्यवर्ती सहकारी बैंक मर्यादित ____ शाखा यांना देण्यात येत आहे.</p>
<p style="text-indent: 35px;">सदर सभासद कर्जवाटप क्षेत्राचे प्रमाणात पिकांची लागवड करणार असलेबाबत समिती या
  ठरावान्वये बँकेस हमी देत आहे. तरी सोबतच्या तपशिलाप्रमाणे सन ________ चे खरीप/रब्बी
  हंगामाकरीता संस्थेचे किसान क्रेडीट कार्ड योजनेअंतर्गत पतमर्यादा बैंकेस मंजूर करणेबाबत व्यवस्थापक समिती शिफारस
  करीत आहे. त्या संबंधी आवश्यक त्या कागदपत्रांची पुर्तता करून देण्यात
  यावी.</p>
<p style="text-align: right;">असे सर्वानुमते ठरले</p>
<p style="text-align: right;">ठराव सर्वानुमते मंजूर</p>
<p style="text-align: right;">सूचक श्री. __________</p>
<p style="text-align: right;">अनुमोदक श्री. __________</p>
</body>

</html>
