<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vachan Patrika</title>
</head>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd; /* Add a border around the table */
    }

    th,
    td {
      border: 1px solid #ddd; /* Add a border to each table cell */
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2; /* Add a background color to the table header */
    }
  </style>
<body>

<table style="border: none;">
  <tr style="border: none;">
    <td style="border: none;"><h2 style="text-align: center;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</h2>
      <p style="text-align: center;">४ ब, बी. जे. रोड, पुणे - ४११००१.</p>
    </td>
    <td style="border: none;">
      <div style="text-align: center; background-color: black; color: white; padding: 10px;"><h3>वचन पत्रिका</h3></div>
    </td>
  </tr>
</table>
<table style="border: none;">
  <tr style="border: none;">
    <td style="width: 40%; border: none; padding:0px 0px 5px 0px"></td>
    <td style="width: 60%; border: none; padding:0px 0px 5px 0px">
      <table>
        <tr>
          <td style="width: 35%;">कर्जाचा प्रकार</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="border: none;">
    <td style="border: none; padding: 0px 0px 5px 0px;"></td>
    <td style="border: none; padding: 0px 0px 5px 0px;">
      <table>
        <tr>
          <td style="width: 35%;">कर्ज क्रमांक</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="border: none;">
    <td style="border: none; padding: 0px 0px 5px 0px;">
      <table style="width: 70%;">
        <tr>
          <td style="width: 15%; background-color: black; color: white; text-align: center;">&#8377; </td>
          <td></td>
        </tr>
      </table>
    </td>
    <td style="border: none; padding: 0px 0px 5px 0px;">
      <table>
        <tr>
          <td style="width: 35%;">कर्ज फेडीचा दिनांक</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p style="text-indent: 35px;">आम्ही ___________ विविध कार्यकारी सेवा सह‌कारी संस्था मर्यादित _______ तालुका _________________  जि. __________ तर्फे खालील सह्या करणारे, पुणे जिल्हा मध्यवर्ती सहकारी बँक
  मर्यादित, पुणे शाखा _________ यांस अगर ती पावती लिहून घेणाऱ्यास लिहून देतो / देते की, आम्ही आपल्याकडून अल्पमुदत पीक कर्जाची कर्जाऊ घेतलेली रक्कम रुपये अक्षरी ______ ची दर साल
  दर शेकडा _____% अगर आपण वेळोवेळी ठरवाल त्या व्याजदराने दि. __________ रोजी सव्याज परतफेड करण्याचे वचन देतो. या देणे कर्जाची थकबाकी झाल्यास थकीत रकमेवर वरील निर्दिष्ट दरापेक्षा ____%
  टक्का जास्त दराने व्याजे देऊन आम्ही सर्व देणे कर्जाची व्याजासह परतफेड करण्याचे या वचन प्रतिकेद्वारे वचन देतो / देते. </p>
<p>दिनांक: ________</p>
<table style="border: none;">
  <tr>
    <td rowspan="5" style=" width: 30%; text-align: end; vertical-align: middle; border: none;">अधिकार दिलेले {</td>
    <td style="text-align: end; width: 70%; border: none;">__________________________ वि.का. सेवा सह. सोसा. लि.<br>करिता आणि तिचे वतीने</td>
  </tr>
  <tr>
    <td style="text-align: end; border: none;">_______________________________________ घेअरमन</td>
  </tr>
  <tr>
    <td style="text-align: end; border: none;">___________________________________________ पंच</td>
  </tr>
  <tr>
    <td style="text-align: end; border: none;">___________________________________________ पंच</td>
  </tr>
  <tr>
    <td style="text-align: end; border: none;">_________________________________ सचिव / प्रशासक</td>
  </tr>
</table>
<h4>
  संस्थेचा गोल शिका
</h4>
<p>
  टिप : मुळे क. म. पत्रकामध्ये ठरावानुसार ज्या
  पदाधिकाऱ्यांना सह्यांचे अधिकार दिलेले आहेत त्याच पदाधिकाऱ्यांचे सह्या वचन पत्रिका
  मध्ये असणे आवश्यक आहे.
</p>
</body>
</html>
