<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="courtCase">
      <h2 data-cy="courtCaseDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.courtCase.detail.title">Court Case</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ courtCase.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.srNo">Sr No</span></dt>
        <dd>
          <span>{{ courtCase.srNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.accountNo">Account No</span></dt>
        <dd>
          <span>{{ courtCase.accountNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.nameOfDefaulter">Name Of Defaulter</span></dt>
        <dd>
          <span>{{ courtCase.nameOfDefaulter }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.address">Address</span></dt>
        <dd>
          <span>{{ courtCase.address }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.loanType">Loan Type</span></dt>
        <dd>
          <span>{{ courtCase.loanType }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.loanAmount">Loan Amount</span></dt>
        <dd>
          <span>{{ courtCase.loanAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.loanDate">Loan Date</span></dt>
        <dd>
          <span>{{ courtCase.loanDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.termOfLoan">Term Of Loan</span></dt>
        <dd>
          <span>{{ courtCase.termOfLoan }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.interestRate">Interest Rate</span></dt>
        <dd>
          <span>{{ courtCase.interestRate }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.installmentAmount">Installment Amount</span></dt>
        <dd>
          <span>{{ courtCase.installmentAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.totalCredit">Total Credit</span></dt>
        <dd>
          <span>{{ courtCase.totalCredit }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.balance">Balance</span></dt>
        <dd>
          <span>{{ courtCase.balance }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.interestPaid">Interest Paid</span></dt>
        <dd>
          <span>{{ courtCase.interestPaid }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.penalInterestPaid">Penal Interest Paid</span></dt>
        <dd>
          <span>{{ courtCase.penalInterestPaid }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.dueAmount">Due Amount</span></dt>
        <dd>
          <span>{{ courtCase.dueAmount }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.dueDate">Due Date</span></dt>
        <dd>
          <span>{{ courtCase.dueDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.dueInterest">Due Interest</span></dt>
        <dd>
          <span>{{ courtCase.dueInterest }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.duePenalInterest">Due Penal Interest</span></dt>
        <dd>
          <span>{{ courtCase.duePenalInterest }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.dueMoreInterest">Due More Interest</span></dt>
        <dd>
          <span>{{ courtCase.dueMoreInterest }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.interestRecivable">Interest Recivable</span></dt>
        <dd>
          <span>{{ courtCase.interestRecivable }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOne">Gaurentor One</span></dt>
        <dd>
          <span>{{ courtCase.gaurentorOne }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOneAddress">Gaurentor One Address</span></dt>
        <dd>
          <span>{{ courtCase.gaurentorOneAddress }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwo">Gaurentor Two</span></dt>
        <dd>
          <span>{{ courtCase.gaurentorTwo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwoAddress">Gaurentor Two Address</span></dt>
        <dd>
          <span>{{ courtCase.gaurentorTwoAddress }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.firstNoticeDate">First Notice Date</span></dt>
        <dd>
          <span>{{ courtCase.firstNoticeDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCase.secondNoticeDate">Second Notice Date</span></dt>
        <dd>
          <span>{{ courtCase.secondNoticeDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/court-case', courtCase.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
