<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-occupation-master-heading"
        data-cy="OccupationMasterCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.occupationMaster.home.createOrEditLabel"
      >
        Create or edit a Occupation Master
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.occupationMaster.occupationCode" for="field_occupationCode"
            >Occupation Code</label
          >
          <input
            type="number"
            class="form-control"
            name="occupationCode"
            id="field_occupationCode"
            data-cy="occupationCode"
            formControlName="occupationCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.occupationMaster.occupationName" for="field_occupationName"
            >Occupation Name</label
          >
          <input
            type="text"
            class="form-control"
            name="occupationName"
            id="field_occupationName"
            data-cy="occupationName"
            formControlName="occupationName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
