<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="courtCaseSetting">
      <h2 data-cy="courtCaseSettingDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.detail.title">Court Case Setting</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ courtCaseSetting.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliAdhikariName">Vasuli Adhikari Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.vasuliAdhikariName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.arOfficeName">Ar Office Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.arOfficeName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.chairmanName">Chairman Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.chairmanName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.sachivName">Sachiv Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.sachivName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.suchakName">Suchak Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.suchakName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.anumodakName">Anumodak Name</span></dt>
        <dd>
          <span>{{ courtCaseSetting.anumodakName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.vasuliExpense">Vasuli Expense</span></dt>
        <dd>
          <span>{{ courtCaseSetting.vasuliExpense }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.otherExpense">Other Expense</span></dt>
        <dd>
          <span>{{ courtCaseSetting.otherExpense }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.noticeExpense">Notice Expense</span></dt>
        <dd>
          <span>{{ courtCaseSetting.noticeExpense }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingNo">Meeting No</span></dt>
        <dd>
          <span>{{ courtCaseSetting.meetingNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDate">Meeting Date</span></dt>
        <dd>
          <span>{{ courtCaseSetting.meetingDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.subjectNo">Subject No</span></dt>
        <dd>
          <span>{{ courtCaseSetting.subjectNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingDay">Meeting Day</span></dt>
        <dd>
          <span>{{ courtCaseSetting.meetingDay }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.courtCaseSetting.meetingTime">Meeting Time</span></dt>
        <dd>
          <span>{{ courtCaseSetting.meetingTime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/court-case-setting', courtCaseSetting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
