<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="kamalCrop">
      <h2 data-cy="kamalCropDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.kamalCrop.detail.title">Kamal Crop</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ kamalCrop.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.pacsNumber">Pacs Number</span></dt>
        <dd>
          <span>{{ kamalCrop.pacsNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memNo">Mem No</span></dt>
        <dd>
          <span>{{ kamalCrop.memNo }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memHector">Mem Hector</span></dt>
        <dd>
          <span>{{ kamalCrop.memHector }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memNoMr">Mem No Mr</span></dt>
        <dd>
          <span>{{ kamalCrop.memNoMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memHectorMr">Mem Hector Mr</span></dt>
        <dd>
          <span>{{ kamalCrop.memHectorMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memAar">Mem Aar</span></dt>
        <dd>
          <span>{{ kamalCrop.memAar }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.memAarMr">Mem Aar Mr</span></dt>
        <dd>
          <span>{{ kamalCrop.memAarMr }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.farmerTypeMaster">Farmer Type Master</span></dt>
        <dd>
          <div *ngIf="kamalCrop.farmerTypeMaster">
            <a [routerLink]="['/farmer-type-master', kamalCrop.farmerTypeMaster.id, 'view']">{{ kamalCrop.farmerTypeMaster.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.cropHangam">Crop Hangam</span></dt>
        <dd>
          <div *ngIf="kamalCrop.cropHangam">
            <a [routerLink]="['/crop-hangam', kamalCrop.cropHangam.id, 'view']">{{ kamalCrop.cropHangam.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.cropMaster">Crop Master</span></dt>
        <dd>
          <div *ngIf="kamalCrop.cropMaster">
            <a [routerLink]="['/crop-master', kamalCrop.cropMaster.id, 'view']">{{ kamalCrop.cropMaster.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.kamalCrop.kamalSociety">Kamal Society</span></dt>
        <dd>
          <div *ngIf="kamalCrop.kamalSociety">
            <a [routerLink]="['/kamal-society', kamalCrop.kamalSociety.id, 'view']">{{ kamalCrop.kamalSociety.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/kamal-crop', kamalCrop.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
