<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appendix4</title>
</head>

<body style="margin: 50px;">

<h2 style="text-align: center;">मागणी नोटीस</h2>
<p style="text-align: center;">परिशिष्ट ४</p>
<p style="text-align: center; font-size: medium;">(महाराष्ट्र सहकारी संस्था अधिनियम १५६ व नियम १०७(५) अन्वये)</p>

<div style="display: flex; justify-content: right; margin-top: 30px;">
  <div>
    <h3 style="margin: 5px; font-size: medium;">जावक क्रमांक १०१/वा/ जि.म. बँक/ सन</h3>
    <p style="margin: 5px;">वसुली अधिकारी <u><span th:text="${courtCaseSetting.sachivName}"/></u> यांचे कार्यालय</p>
    <p style="margin: 5px;">Clo. पुणे जिल्हा मध्यवर्ती सहकारी बैंक मर्यादित, पुणे</p>
    <p style="margin: 5px; margin-bottom: 10px;"><strong><u></u></strong> तालुका द्वारा <strong><u></u></strong></p>
    <h3 style="margin: 0; font-size: medium;">दिनांक:  </h3>
  </div>
</div>

<div>
  <p style="text-indent : 35px;  line-height: 25px; text-align: justify; margin-top: 50px;">
    श्री. <u><span th:text="${courtCase.nameOfDefaulter}"/></u> राहणार <u><span th:text="${courtCase.address}"/></u> 
    तालुका <strong><u></u></strong> यांस तुम्ही <u><span th:text="${courtCase.bankName}"/></u>  <strong><u>.,</u></strong>
    तालुका <strong><u></u></strong> चे थकवाकीदार असून संस्थेने तुमचे विरुद्ध महाराष्ट्र सहकारी संस्था अधिनियम १०१ चे पोटनियम
    (१) खाली प्रमाणपत्र मिळविले असून तुम्ही अद्याप थकीत रक्कम भरलेली नाही व अद्यापही रुपये <u><span th:text="${courtCase.dueAmount}"/></u> अधिक होणारे
    व्याज तुमचेकडे येणे आहे.

    तरी तुम्हास सदर नोटीसी अन्वये कळविण्यात येते की, सदरची नोटीस प्राप्त होताच आपणांकडे येणे असलेल्या रकमेची
    परतफेड करावी. परतफेड न केल्यास तुमची जंगम व स्थावर मालमत्ता जप्त करून वसुली केली जाईल व वसुलीच्या इतर खर्चास
    तुम्ही जबाबदार राहाल. याची नोंद घ्यावी.
  </p>

  <div style="display: flex; justify-content: right; margin-top: 70px;">
    <div>
      <h3 style="margin: 0; font-size: medium;">वसुली अधिकारी</h3>
      <p>तालुका <strong><u></u></strong> जि. पुणे.</p>
    </div>
  </div>
</div>

</body>

</html>
