<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appendix3</title>
</head>
<body style="margin: 30px 20px 30px 55px;">
        <div>
            <h3 style="text-align: center;">मागणी नोटीस</h3>
            <p style="text-align: center;">परिशिष्ट ३</p>
            <p style="text-align: center;">(महाराष्ट्र सहकारी संस्था अधिनियम १५६ व नियम १०७ अन्वये)</p>
        </div>
        <div style="text-align: right;">
            <div>
                <p>जावक नं. वसुली : १०१ /</p>
                <p>विशेष वसुली अधिकारी <b><span th:text="${courtCaseSetting.arOfficeName}"/></b> यांचे कार्यालय</p>
                <p>Clo. <b><span th:text="${courtCase.bankName}"/></b></p>
                <p>________ तालुका द्वारा <b><span th:text="${courtCase.societyBranchName}"/></b> शाखा </p>
                <p>दिनांक: __ / __ / __ </p>
            </div>
        </div>
    
        <div>
            <p style="text-indent : 35px; line-height: 35px; text-align: justify;">
                श्री. <b><span th:text="${courtCase.nameOfDefaulter}"/></b> राहणार <b><span th:text="${courtCase.address}"/></b> तालुका ______ जि. पुणे. यांस तुम्ही <b><span th:text="${courtCase.societyBranchName}"/></b> वि. का. सेवा सहकारी सोसायटी लि.,
                _________ तालुका _________ जि. पुणे. चे थकवाकीदार असून संस्थेने तुमचे विरुद्ध महाराष्ट्र सहकारी संस्था
                अधिनियम १०१ चे पोटनियम (१) (२) खाली प्रमाणपत्र मिळविले असून तुम्ही अद्याप थकीत रक्कम भरलेली नाही व अद्यापही
                रुपये claim amount अधिक होणारे व्याज तुमचेकडे येणे आहे.
            </p>
            <p style="text-indent : 35px; line-height: 35px; text-align: justify;">
                तरी तुम्हास सदर नोटीसी अन्वये कळविण्यात येते की, तुम्ही सदर नोटीशीच्या दिनांकापासून दहा दिवसाचे संपूर्ण
                रकमेची परतफेड करावी. तुम्ही मुदतीत वसूल न दिल्यास तुमची जंगम व स्थावर मालमत्ता जप्त करून वसुली केली जाईल व
                वसुलीच्या इतर खर्चास तुम्ही जबाबदार राहाल याची नोंद घ्यावी.
            </p>
            <div style="text-align: right;">
                <div>
                    <p>वसुली अधिकारी</p>
                    <p>______ तालुका</p>
                    <p>द्वारा <b><span th:text="${courtCase.societyBranchName}"/></b> शाखा</p>
                </div>
            </div>
        </div>
</body>
</html>