<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appendix4</title>
</head>

<body style="margin: 30px 20px 30px 55px;">

    <h3 style="text-align: center;">मागणी नोटीस</h3>
    <p style="text-align: center;">परिशिष्ट ४</p>
    <p style="text-align: center;">(महाराष्ट्र सहकारी संस्था अधिनियम १५६ व नियम १०७(५) अन्वये)</p>

    <div style="display: flex; flex-direction: column-reverse; flex-wrap: wrap; align-content: flex-end;">
        <div>
            <p>जावक क्रमांक १०१/वा/ जि.म. बँक/ सन</p>
            <p>वसुली अधिकारी ____ यांचे कार्यालय</p>
            <p>Clo. पुणे जिल्हा मध्यवर्ती सहकारी बैंक मर्यादित, पुणे</p>
            <p>________ तालुका द्वारा ______ शाखा </p>
            <p>दिनांक: _ / _ / _ </p>
        </div>
    </div>

    <div>
        <p style="text-indent : 35px;  line-height: 35px;">
            श्री. _____ राहणार __________ तालुका ______ यांस तुम्ही ________ वि. का. सेवा सहकारी सोसायटी लि., _________
            तालुका _________ चे थकवाकीदार असून संस्थेने तुमचे विरुद्ध महाराष्ट्र सहकारी संस्था अधिनियम १०१ चे पोटनियम
            (१) खाली प्रमाणपत्र मिळविले असून तुम्ही अद्याप थकीत रक्कम भरलेली नाही व अद्यापही रुपये ________ अधिक होणारे
            व्याज तुमचेकडे येणे आहे.

            तरी तुम्हास सदर नोटीसी अन्वये कळविण्यात येते की, सदरची नोटीस प्राप्त होताच आपणांकडे येणे असलेल्या रकमेची
            परतफेड करावी. परतफेड न केल्यास तुमची जंगम व स्थावर मालमत्ता जप्त करून वसुली केली जाईल व वसुलीच्या इतर खर्चास
            तुम्ही जबाबदार राहाल. याची नोंद घ्यावी.
        </p>

        <div style="display: flex; flex-direction: column-reverse; flex-wrap: wrap; align-content: flex-end;">
            <div>
                <p>वसुली अधिकारी</p>
                <p>तालुका ____________ जि. पुणे.</p>
            </div>
        </div>
    </div>

</body>

</html>