<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtiVSharti</title>
</head>

<body>
        <div class="text-center">
            <h3 class="border-bottom mb-2" style="text-align: center">
                पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे
            </h3>
        </div>
        <hr />
        <div>
            <b>
                <h5 class="text-center mt-3" style="text-align: center">
                    जमा केलेल्या स्थावर मिळकतीची जाहीर लिलावाने विक्री करण्याबाबतच्या
                    अटी व शर्ती'
                </h5>
            </b>
        </div>
        <div>
            <p style="text-indent: 35px; text-align: justify;">
                लिलावात भाग घेणाऱ्या इसमांना कळविण्यात येते की, त्यांनी जाहीर
                लिलावाबाबत खालील अटी व शर्ती यांची पुर्णपणे माहिती करून घ्यावी. सदर
                अटी व शर्ती हया लिलावात भाग घेणाऱ्या इसमांना बंधनकारक राहतील. ज्या
                इसमांना सदर अटी व शर्ती मान्य नसतील अशा इसमास लिलावात भाग घेता येणार
                नाही.
            </p>
        </div>
        <div>
            <p style="text-align: justify;">
                १. लिलावात भाग घेणाऱ्या इसमास रू_________/- (रु. दहा हजार मात्र)
                डिपॉझीट म्हणून ठेवावे लागतील. सदर रक्कम रोख स्वरूपात
            </p>
            <p style="text-align: justify;">
                २. सोबत जाहीर लिलावाच्या नोटिशीत नमूद केलेल्या स्थावर मिळकतीमधील हक्क,
                हितसंबंध, मालकी हक्क, वगैरेबाबत विशेष वसुली अधिकारी, पुणे जबाबदार
                नाहीत. मालकी हक्क, हितसंबंध, याबाबत लिलावात भाग घेणाऱ्या इसमांनी
                स्वतःच्या जबाबादारीवर आणि स्वतः च्या खर्चाने खात्री करून घ्यावी.
            </p>
            <p style="text-align: justify;">
                ३. जप्त केलेल्या स्थावर मालमत्तेची विक्री, जेथे आहे तेथे त्या
                परिस्थितीत विशेष वसुली अधिकारी, पुणे लिलावामध्ये स्थावर मिळकतीबाबत
                योग्य ती किंमत आल्यास लिलाव मंजूर करतील. याबाबत वसुली अधिकारी, पुणे
                यांच्याकडे संपूर्ण अधिकार राहील. लिलावात भाग घेणाऱ्या सर्व इसमांना
                त्यांचा निर्णयय बंधनकारक राहील.
            </p>
            <p style="text-align: justify;">
                ४. लिलाव ज्या किंमतीस मंजूर होईल त्या किंमतीच्या १५% रक्कम लिलावात भाग
                घेणाऱ्या इसमांस ताबडतोब विशेष वसुली अधिकारी, पुणे किंवा
                ................ यांच्याकडे जमा करावी लागेल. मात्र उरलेली ८५% रकमेचा
                भरणा लिलावाचे मंजूरीचे तारखेपासून १५ दिवसांच्या आत विशेष वसुली अधिकारी
                किंवा ...........यांचेकडे जमा करावी लागेल.
            </p>
            <p style="text-align: justify;">
                ५. ज्यांच्या नावाने लिलाव मंजूर झाला आहे अशा इसमांनी जर वरील मुदतीत
                संपूर्ण रकमेचा भरणा न केल्यास त्यांनी कलम नं. ४ मध्ये नमूद केलेल्या
                १५% रकमेतून ५% रक्कम नुकसान भरपाई म्हणून विशेष वसुली अधिकारी, पुणे
                यांच्याकडे जमा करून घेण्यात येईल. सदर रक्कम ज्यांचे नावाने लिलाव मंजूर
                झाला आहे त्यास परत मिळणार नाही.
            </p>
            <p style="text-align: justify;">
                अ) ज्या इसमाचे नावाने लिलाव मंजूर झाला आहे त्या इसमांस अगर त्याचे
                प्रतिनिधीस वर नमूद केल्याप्रमाणे खुला मोकळा कब्जा अगर ताबा विशेष वसुली
                अधिकारी, पुणे यांचेकडुन मिळणार नाही. वसुली अधिकारी, पुणे हे फक्त लिलाव
                मंजूर झाल्याबद्दल सर्व रक्कम मिळाल्यानंतर "विक्री दाखला " लिहुन देतील.
            </p>
            <p style="text-align: justify;">
                ६. लिलावात भाग घेण्यापूर्वी ज्या इसमाने रक्कम रू._______/- (रु. दहा
                हजार मात्र) विशेष वसुली अधिकारी, पुणे यांचेकडे जमा केलेली आहे. त्या
                जमा रकमेवर कसलेही व्याज मिळणार नाही.
            </p>
            <p style="text-align: justify;">
                ७. लिलाव जर एखाद्याचे नावाने मंजूर झाला नाही तर त्यास जमा केलेली रक्कम
                रू._______/- (रू. दहा हजार मात्र) रोख स्वरूपात रीतसर परत करण्यात येईल.
            </p>
            <p style="text-align: justify;">
                ८. ज्या इसमांच्या नावाने लिलाव मंजूर झाला आहे अशा इसमास प्रचलित
                नियमाप्रमाणे "विक्री दाखला " देण्याबाबत योग्य त्या रकमेचे स्टॅम्प पेपर
                स्वतः च्या खर्चाने विशेष वसुली अधिकारी, पुणे यांचेकडे सादर करावे
                लागतील, आणि मग सदर स्टॅम्प पेपर स्वतः च्या खर्चाने विशेष वसुली
                अधिकारी, पुणे यांचेकडे सादर करावे लागतील. सदर स्टॅम्प पेपरवर "विक्रीचा
                दाखला " लिहून देण्यात येईल.
            </p>
            <p style="text-align: justify;">
                ९. विक्रीचा दाखला में सब रजिस्ट्रार,............ यांच्याकडे रजिस्टर
                करणे आवश्यक आहे. आणि त्याबाबतचा खर्चही लिलाव ज्याच्या नावाने मंजूर
                झाला आहे अशा इसमास करावा लागेल.
            </p>
 
            <p style="text-align: justify;">
                १०. वरील सर्व नियमात आयत्या वेळेला फेरबदल करणे किंवा नवीन नियम
                समाविष्ट करणे याचे सर्व अधिकार विशेष वसुली अधिकारी, पुणे यांनी राखुन
                ठेवलेले आहेत. व लिलावात भाग घेणाऱ्या इसमांवर ते बंधनकारक राहतील.
            </p>
            <p style="text-align: justify;">
                ११. मिळकतीच्या सरकारी आधारभूत किंमतीपेक्षा कमी बोली लिलावात बोलता
                येणार नाही. बोली मंजूर करणे अगर नामंजूर करणे याबाबतचे सर्व अधिकार
                विशेष वसुली अधिकारी, पुणे यांनी राखुन ठेवलेले आहेत.
            </p>
            <p style="text-align: justify;">
                १२. कोणतेही कारण नमूद न करता लिलाव तहकुब करणे अगर रद्द करणे याबाबतचे
                सर्व अधिकार विशेष वसुली अधिकारी, पुणे यांचेकडे राहतील.
            </p>
            <div style="display: flex; justify-content: end;">
                <div>
                    <p>विशेष वसुली अधिकारी व विक्री अधिकारी, ता...........</p>
                    <p>पुणे जिल्हा मध्य. सह. बँक मर्या..,.......शाखा</p>
                    <p>मु. पो.. ता.............., जि. पुणे....</p>
                </div>
            </div>
            <div>
                <p style="text-align: justify;">
                    वरीलप्रमाणे लिलाव अनुषंगिक माहिती व लिलावाच्या सर्व अटी व शर्ती
                    आम्ही वाचल्या व माहिती करून घेतल्या असून त्या आम्हास मान्य व कबुल
                    आहेत. सदर लिलावाच्या कामी आम्ही दि.............रोजी सकाळी ठीक
                    .............वाजता हजर राहिलो आहोत.
                </p>
            </div>

            <table style="margin: auto; border-collapse: collapse; width: 80%;">
                <tbody>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black; width: 15%">अ.क्र.</td>
                        <td style="border: 1px solid black; width: 70%">
                            लिलावात भाग घेणाऱ्याचे नाव, पत्ता व सेल नं.
                        </td>
                        <td style="border: 1px solid black; width: 15%">स्वाक्षरी</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">------</td>
                        <td style="border: 1px solid black">-------</td>
                        <td style="border: 1px solid black">-----</td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>

</html>