<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BigarShetiKarj</title>
  </head>
  <body style="font-size: 15px">
    <h3 style="text-align: center; margin: 0px">
      <b>पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे.</b>
    </h3>
    <p style="text-align: center; margin: 0px">
      <u>१०९ नुसार कारवाई करणेपूर्वीची नोटीस</u>
    </p>
    <p style="text-align: center; margin: 0px">रजिस्टर ए. डी./यु.पी.सी.</p>
    <div style="display: flex; justify-content: space-between; width: 100%">
      <div style="width: 80%">जावक क्रमांक</div>
      <div style="width: 20%">दिनांक: ________</div>
    </div>

    <table
      style="
        margin: 0px 0px 0px 30px;
        width: 90%;
        border-spacing: 0px !important;
      "
    >
      <tbody>
        <tr>
          <td colspan="2" style="text-align: justify">
            कर्ज खाते क्रमांक: _____
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: justify">
            कर्जदार: ______________
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: justify">
            राहणार: ______________
          </td>
        </tr>
        <tr>
          <td style="text-align: justify; vertical-align: baseline" rowspan="2">
            १)
          </td>
          <td>जमीनदार: ______________</td>
        </tr>
        <tr>
          <td>राहणार: ______________</td>
        </tr>

        <tr>
          <td style="text-align: justify; vertical-align: baseline" rowspan="2">
            २)
          </td>
          <td>जमीनदार: ______________</td>
        </tr>
        <tr>
          <td>राहणार: ______________</td>
        </tr>
        <tr>
          <td style="text-align: justify; vertical-align: baseline" rowspan="2">
            ३)
          </td>
          <td>जमीनदार: ______________</td>
        </tr>
        <tr>
          <td>राहणार : ___________</td>
        </tr>
      </tbody>
    </table>

    <p style="margin: 0px">तुम्हास नोटीस देण्यात येते की,</p>
    <table>
      <tr>
        <td style="vertical-align: baseline">१)</td>
        <td style="margin-bottom: 10px; text-align: justify; line-height: 20px">
          तुम्ही बँकेच्या ______________ शाखेकडून दिनांक ______ रोजी थेट शेती
          कर्ज योजनेअंतर्गत ______________ कारणासाठी रुपये _____ चे कर्ज
          द.सा.द.शे. ___% व्याजदराने घेतले आहे.
        </td>
      </tr>
      <tr>
        <td style="vertical-align: baseline">२)</td>
        <td style="margin-bottom: 10px; text-align: justify; line-height: 20px">
          सदर कर्ज व्यवहारास श्री. ______________ व श्री. ______________ हे
          व्यक्तिश: जमीनदार आहेत.
        </td>
      </tr>

      <tr>
        <td style="vertical-align: baseline">३)</td>
        <td style="margin-bottom: 10px; text-align: justify; line-height: 20px">
          मूळ कर्जदार व जामीनदार यांनी बँकेस दिनांक ______ रोजी रितसर वचनचिठ्ठी, करारनामे व इतर सर्व कागदपत्रे लिहून दिलेली आहेत.
        </td>
      </tr>
      <tr>
        <td style="vertical-align: baseline">४)</td>
        <td style="margin-bottom: 10px; text-align: justify; line-height: 20px">
          वचनचिठ्ठी व कारारनाम्यातील तपशीलाप्रमाणे तसेच तुम्ही सदर कर्ज रक्कम
          मंजूरी पत्रातील अटी व शर्तीनुसार परतफेड करण्यास वैयक्तिक व सामुदायिक
          जबाबदार आहात.
        </td>
      </tr>
      <tr>
        <td style="vertical-align: baseline">५)</td>
        <td style="margin-bottom: 10px; text-align: justify; line-height: 20px">
          आपण बँकेकडून घेतलेल्या कर्ज रकमेची परतफेड वेळेवर व करारातील अटी व
          शर्तीप्रमाणे केलेली नाही. म्हणून तुम्हास या पूर्वीही नोटिस पाठविण्यात
          आल्या होत्या तरीही तुम्ही थकीत कर्जाच्या रकमेची संपूर्ण परतफेड केलेली
          नाही. त्यामुळे महाराष्ट्र सहकारी संस्था अधिनियम १९६० चे कलान १०१ (१)
          अन्वये संबंधित मा. उपनिबंधक / मा. सहाय्यक निबंधक, सहकारी संस्था
          यांचेकडे अर्ज दाखल करून बसूली दाखला मिळणेबाबतचा अर्ज करण बाबतचा निर्णय
          घेण्यात आलेला आहे. तथापि तुम्हास एक संधी म्हणून सदर प्रकरणी अंतिम
          नोटिस देण्यात येत आहे.
        </td>
      </tr>
    </table>

    <p style="margin: 0px">
      <b>दिनांक ________ अखेर तुमचेकडून खालीलप्रमाणे येणे बाकी आहे</b>
    </p>
    <table
      style="
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        border: 1px solid black;
        border-spacing: 0px !important;
      "
    >
      <tr style="border: 1px solid black; max-height: 2px">
        <td style="border: 1px solid black; vertical-align: baseline">१)</td>
        <td style="border: 1px solid black">मुदल</td>
        <td style="border: 1px solid black">रुपये</td>
      </tr>
      <tr style="border: 1px solid black">
        <td style="border: 1px solid black; vertical-align: baseline">२)</td>
        <td style="border: 1px solid black">व्याज येणे + दंड व्याज</td>
        <td style="border: 1px solid black">रुपये</td>
      </tr>
      <tr style="border: 1px solid black">
        <td style="border: 1px solid black; vertical-align: baseline">३)</td>
        <td style="border: 1px solid black">इतर खर्च - विमा,नोटीस इ.</td>
        <td style="border: 1px solid black">रुपये</td>
      </tr>
      <tr style="border: 1px solid black">
        <td style="border: 1px solid black"></td>
        <td style="border: 1px solid black">एकूण</td>
        <td style="border: 1px solid black">रुपये</td>
      </tr>
    </table>

    <p
      style="
        text-indent: 35px;
        text-align: justify;
        line-height: 20px;
        margin: 0px;
      "
    >
      तरी तुम्हास या नोटीशीने कळविण्यात येते की, ही नोटीस मिळाल्यापासून आठ
      दिवसांचे आत वर नमूद केल्याप्रमाणे रकम बँकेत रोख आणून भरावी व पावती घ्यावी.
      सदर मुदतीत संपूर्ण कजांची राम न भरल्यास तुमचे विरुद्ध पुढील कायदेशीर
      कारवाई करण्यात येईल व स्टॅम्प ड्यूटी खर्च, सरचार्ज, पोस्टेज, जाहिरात इ.
      खर्च तुमचे कर्ज खाती नावे टाकले जातील व परिणामाची जबाबदारी तुमचेवर राहील,
      याची नोंद घ्यावी.
    </p>
    <div style="display: flex; justify-content: end">
      <div>
        <p style="margin: 0px">
          शाखा व्यवस्थापक / वसुली अधिकारी / विकास अधिकारी
        </p>
        <p style="margin: 0px">
          विभाग :- ______________ द्वारा :- ______________ शाखा,
        </p>
        <p style="margin: 0px">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्या., पुणे</p>
      </div>
    </div>
  </body>
</html>
