
    <div style="text-align:center;">
        <p>जिल्हा उपनिबंधक, सहकारी संस्था, पुणे</p>
        <p>वाजवी किंमत ठरविणेबाबतच्या प्रस्तावाचा छाननी तक्ता</p>
    </div>
    <table class="table table-bordered" style="border-collapse: collapse;">
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">१</td>
            <td colspan="2"  style="border: 1px solid #000;">बॅंकचे नाव </td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">२</td>
            <td colspan="2" style="border: 1px solid #000;">विशेष वसुली अधिकान्याचे नाव</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">३</td>
            <td colspan="2" style="border: 1px solid #000;">प्रस्ताव विशेष वसुली अधिकारी सहाय्यक निबंघ यांचे सहीने दाखल केला आहे काय ? दिनांक
            </td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">४</td>
            <td colspan="2" style="border: 1px solid #000;">कर्जदाराचे नाव</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">५</td>
            <td colspan="2" style="border: 1px solid #000;">थकबाकीची रक्कम (वसुली दाखल्यानुसार)</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">६</td>
            <td colspan="2" style="border: 1px solid #000;">मालमत्तेचा तपशील</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">७</td>
            <td colspan="2" style="border: 1px solid #000;">मालमत्ता कोणाचे नावाने आहे</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">८</td>
            <td colspan="2" style="border: 1px solid #000;">ज्याचे नावाने मालमता आहे त्यांचे नावाचा वसुली दाखला आहे काय ? दिनांक</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">९</td>
            <td colspan="2" style="border: 1px solid #000;">मालमत्तेचे गहाणखत केले आहे काय ?</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;">१०</td>
            <td colspan="2" style="border: 1px solid #000;"><b>प्रस्तावासोबत पुढील कागदपत्रे आहेत काय ?</b></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">१</td>
            <td>क. १०१/९८ चा वसुली दाखला / अॅवॉर्ड</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">२</td>
            <td style="border: 1px solid #000;">मागणी नोटीस १) जंगम माल जप्तीपूर्वीची मागणी नोटीस जोडली आहे काय ? दिनांक २) स्थावर मालमत्ता
                जप्ती पूर्वीची मागणी नोटीस
                जोडली आहे काय ? दिनांक</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">३</td>
            <td style="border: 1px solid #000;">जंगम जप्ती निरंक पंचाना जोडला आहे काय ?</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">४</td>
            <td style="border: 1px solid #000;">१) जंगम जप्ती निरंक पंचाना जोडला आहे
                काय ?
            </td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">५</td>
            <td style="border: 1px solid #000;">स्थावर मालमत्ता जप्ती आदेश तारीख</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">६</td>
            <td style="border: 1px solid #000;">स्थावर मालमत्ता लिलावाने विक्री करण्यात येईल या दास दिलेल्या नोटिशीचा दिनांक</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">७</td>
            <td style="border: 1px solid #000;">स्थावर मालमत्ता जप्त करून योग्य त्या अस नोंद घेण्यास आन आहेत काय ? त्यानुसार संस्थेच्या नावाची
                नोंद घेण्यात आली आहे का ?</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">८</td>
            <td style="border: 1px solid #000;">सदर मालाबाबत कोणत्याही न्यायालयात दावा वि.व.अ./प्रमाणपत्र जोडले आहे काय ?</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">९</td>
            <td style="border: 1px solid #000;">स्थावर मालमत्ता जप्ती आदेश तारीख</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">१०</td>
            <td style="border: 1px solid #000;"> स्थावर मालमत्तेचे मुल्यांकन शासकीय मूल्यवान अधिकारी यांनी केले आहे का ? असल्यास मूल्यांकन अधिकारी यांचे नाव मुल्यांकन</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">११</td>
            <td style="border: 1px solid #000;"> नोंदणी महानिरीक्षा / समरजिस्ट्रार मूल्यदरपत्रक जोडले आहे काय?</td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;">१२</td>
            <td style="border: 1px solid #000;">सदर मुल्य सुचीप्रमाणक येणारे शासकीय
                मुल्यांकन</td>
            <td style="border: 1px solid #000;">........चौ.मी. x.........दर प्रती एक्ट.......होत आहे.</td>
        </tr>
    </table>

    <p>
        मा. सहकार आयुक्त व निबंधक, सहकारी संस्था, म. रा. पुणे यांचे दि.................... ..चे परिपत्रकीय सूचनेप्रमाणे शासकीय मुल्यांकनकारांनी प्रचलित बाजारभावानुसार किंमत (Fair Market Value) ठरविलेली असेल - त्या किंमतीस संबंधित निबंधकांनी अपसेट प्राईज म्हणून निश्चित करावी अशा सूचना आहेत. म्हणून बाजारभावानुसार सदर मिळकतीचे मुल्य रू... रु. इतके ठरविण्यात आलेले आहे. तरी सदर स्थावर मिळकतीची वाजवी किंमत ) निश्चित करून द्यावी असे वाटते. कृपया मान्य ४ ( (अक्षरी रु. असल्यास सोबतचे मसुदा आदेशावर स्वाक्षरी व्हावी ही विनंती.
    </p>
    
<p>आपला विश्वासू</p>
<p style="text-align:justify;text-align-last: right;">विशेष वसुली अधिकारी</p>

<p>
    सोबत:- 
    वर नमूद केलेल्या कागदपत्रांच्या झेरॉक्स प्रती
</p>

