
    <div class="row">
                <p>जा.क्र./. ..... शाखा / विवअ /</p>
                <p style="text-align:justify;text-align-last: right;">दिनांक :-</p>
                <p style="text-align:center"><strong>दाखला</strong></p>
        <div>
            <p style="text-indent : 35px">
                ..................सह.संस्थेचे थकबाकीदार श्री..............................यांचेकडील थकबाकी
                वसुलीसाठी प्राप्त झालेल्या वसुली दाखल्यास अनुसरून दाखला देण्यात येतो की,
                सदर मालमत्तेबाबत कोणत्याही न्यायालयात दावा / बाद चालू असल्याबाबत अद्यापही आम्हास कोणतीही नोटीस
                प्राप्त झालेली नाही.
            </p>
        </div>
    </div>
    <p style="text-align:justify;text-align-last: right;">
        <strong>विशेष वसुली अधिकारी</strong>
    </p>