<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jahirnama</title>
</head>

<body style="margin: 20px; line-height: 25px;">
    <div style="display: flex; justify-content: space-between">
        <div style="width: 65%;">
            <p class="text-start" style="margin: 0; margin-bottom: 5px;">जा.क्र.वि.अ.</p>
            <p class="text-start" style="margin: 0; margin-bottom: 5px;">दिनांक: <strong><u></u></strong></p>
        </div>
        <div>
            <table>
                <tr>
                    <td ><strong><u>श्री.  </u></strong></td>
                </tr>
                <tr>
                    <td >वसुली अधिकारी तथा विक्री अधिकारी</td>
                </tr>
                <tr>
                    <td >व्दारा - पुणे जिल्हा मध्य. सह. बँक मर्या.,</u></strong></td>
                </tr>
                <tr>
                    <td ><strong><u>श्री.  </u></strong></td>
                </tr>
                <tr>
                    <td ><strong><u></u></strong> शाखा, मु. पो. <strong><u></u></strong>,</u></strong></td>
                </tr>
                <tr>
                    <td >ता. <strong><u></u></strong>, जि. पुणे.</u></strong></td>
                </tr>
            </table>
            
        </div>
    </div>


    <h2 class="text-center" style="margin: 30px 0; text-align: center">
        <strong>जाहीरनामा</strong>
    </h2>
    <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
        ज्या अर्थी पुणे जिल्हा मध्य. सह. बँक मर्या. न्हावरे, ता. शिरूर या
        शाखेचे थेट कर्ज थकबाकीदार सभासद श्री. _____ ता. शिरूर जि.पुणे यांची
        खाली नमुद केलेली मालमत्ता रक्कम ______ व व्याज रु. _____ एकूण _______
        व रु. ____ यावर दि. _____ पासून द. सा. द. शे. ___ दराने होणारे
        व्याजाचे वसुलीसाठी जा.क्र वसुली / स्थावर जप्ती दि ______ स्थावर मिळकत
        जाती आदेशान्वये नमः करण्यात आलेली आहे.
    </p>
    <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
        आणि ज्या वर्षी दि.____ अखेर मुद्दल रु.___ + व्याज ____ एकूण रु. ____
        रक्कम वसुल होईपर्यंत होणारे व्याज- सरचार्ज + कोर्ट देणे रक्कम वसूल
        करण्यासाठी सदर मिळकतीची विक्री करणे आवश्यक आहे.
    </p>
    <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
        त्या वर्षी या नोटीसी अन्वये जाहीर करण्यात येते की, दि००१०२०१५ वार
        शुक्रवार रोजी दुपारी ठीक ____ वाजता विक्रो अधिकारी श्री. _____ पुणे-
        जिल्हा मध्य. सह. बँक मर्या. ____ शाखा, ता. _____ येथे डालील मु
        केलेल्या गालगालेवर श्री_____ हितसंबंध आणि नामव्यावर काही किंवा त्यातुन
        मिळणा-याची विल्हेवाट लावण्याचा जो जो अधिकार श्री. ____ आपल्या हिताठी
        कायदेशीररीतीने हल्ली चालवू शकतात तो तो अधिकार जाहीर लिलाव करून सर्वान
        अधिक रक्कम बोलत साबाट पुकारलेल्या किंमती बद्दलच्या या शर्तीवर
        अनुसनविक्री करतील.
    </p>



    <table style="margin: auto; border-collapse: collapse; margin-top: 30px;">
        <tbody>
            <tr>
                <td style="width: 5%; border: 1px solid black; padding: 6px;">अ.क्र</td>
                <td style="width: 10%; border: 1px solid black; padding: 6px;">
                    गावाचे / शहराचे नांव
                </td>
                <td style="border: 1px solid black">भोगवटादाराचे नांव</td>
                <td style="width: 10%; border: 1px solid black; padding: 6px;">
                    भूमापन क्र./गट क्र.
                </td>
                <td style="border: 1px solid black; width: 10%; padding: 6px;">
                    क्षेत्र हे. आर
                </td>
                <td style="border: 1px solid black; padding: 6px;">शेरा</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 6px;">१</td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px; line-height: 25px; text-align: justify;">
                    मा. सहायक निबंधक, सह संस्था __ यांनी दिलेला वसुली दाखला. पुणे
                    जिल्हा मध्य. सह. बँक मर्या. ___ शाखेचे दि.___ अखेरचे येणे कर्ज
                    मुददल रु ___/- + व्याज रु. ___/- एकूण रु. ____/- व रु. _____/-
                    वर दि. ____ पासून द.सा.द.शे ___% प्रमाणे रक्कम वसुल होईपर्यत
                    होणारे व्याज + सरचार्ज + कोर्टखर्च
                </td>
            </tr>
        </tbody>
    </table>
    <p style="line-height: 25px; text-align: justify; page-break-before: always;">
        उक्त मालमत्तेच्या हक्कासंबंधी किंवा त्रयस्थ पक्षांनी दावा सांगितलेल्या
        कोणत्याही अधिका-याच्या बोजाच्या किंदर हितसंबंधांच्या विधीग्राहयतेविषयी
        कोणतीही हमी देण्यात आलेली नाही. थकबाकीदाराकडुन येणे असलेल्या ज्या
        रकमेच्या वसुलीसाठी विक्रीचा आदेश देण्यात आलेला आहे ती रक्कम + होणारे
        व्याज येणे आहे.
    </p>
    <div style="display: flex; justify-content: flex-end; ">
        <div>
            <h3 style="font-size: medium; margin: 4px 0;">वसुली अधिकारी</h3>
            <p style="font-size: medium; margin: 4px 0;">तालुका ____, जि. पुणे</p>
            <p style="font-size: medium; margin: 4px 0;">द्वारा - पुणे जिल्हा मध्य. सह. बँक मर्या.,</p>
            <p style="font-size: medium; margin: 4px 0;">____ शाखा, मु. पो. ____</p>
            <p style="font-size: medium; margin: 4px 0;">ता. ____, जि. पुणे</p>
        </div>
    </div>
    <div>
        <p style="margin: 6px 0;">प्रत रवाना:-</p>
        <p style="text-align: justify;">
            १) मा. गावकामगार तलाठी, ____ सजा मु.पो. ___, ता. ____, जि. पुणे.
            यांचेकडे माहितीसाठी व दवंडी पिटवुन प्रसिध्दीसाठी सादर..
        </p>
        <p style="text-align: justify;">
            २) मा.ग्रामविकास अधिकारी ____ ग्रामपंचायत, मु.पो. ____, ता. ____ जि.
            पुणे, यांचेकडे माहितीसाठी व प्रसिध्दीसाठी सादर....
        </p>
        <p style="text-align: justify;">
            ३) चेअरमन / सचिव, ____, वि. का. सोसा. मर्या. _____, ता. _____ जि.
            पुणे
        </p>
        <p style="text-align: justify;">४) श्री. ____ -मु. पो. ____, ता. ____, जि. पुणे.</p>
    </div>


    <div style="display: flex; justify-content: space-between">
        <div style="margin: 2%;">
            <p style="text-align: justify;">प्रत माहितीसाठी</p>
            <p style="text-align: justify;">
                १) मे. तहसिलदारसो तहसिल कार्यालय <strong><u></u></strong> मु. पो. <strong><u>कोंची</u></strong> ता. <strong><u></u></strong> जि. पुणे
            </p>
            <p style="text-align: justify;">
                ३) मा. विभागीय सहनिबंधक, सहकारी संस्था, पुणे विभाग पुणे, साखर संकुल,
                शिवाजीनगर, पुणे-५
            </p>
            <p style="text-align: justify;">५) मा. सहायक निबंधक, 
                <strong><u></u></strong> तालुका मु. पो. <strong><u>कोंची</u></strong> ता. <strong><u></u></strong> जि. पुणे
            </p>
            <p style="text-align: justify;">७) मा.विकास अधिकारी, पुणे जिल्हा मध्य. सह. बँक मर्या., <strong><u></u></strong> शाखा</p>
        </div>
        <div style="margin: 2%;">
            <p>&nbsp;</p>
            <p style="text-align: justify;">२) मे. प्रांतसो, <strong><u>____/____</u></strong> कलेक्टर ऑफीस कंपाउंड, पुणे- १</p>
            <p style="text-align: justify;">
                ४) मा. जिल्हा उपनिबंधक, सहकारी संस्था, पुणे जिल्हा, पुणे, साखर संकुल,
                शिवाजीनगर, पुणे-५
            </p>
            <p style="text-align: justify;">
                ६) मा. विभागीय अधिकारी, <strong><u>________</u></strong> विभाग <strong><u>________</u></strong> 
                शाखा मु.पो. <strong><u>कोंची</u></strong> ता. <strong><u></u></strong> जि. पुणे
            </p>
        </div>
    </div>
</body>

</html>