<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JahirLilav</title>
</head>

<body style="margin: 30px 20px 30px 55px">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="display: flex; justify-content: space-between">
                    <div class="col-md-6">
                        <p class="text-start">जा.क्र./ ___ / स्थावर जाहीर लिलाव /</p>
                        <p class="text-start">दिनांक :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-end">श्री. ______</p>
                        <p class="text-end">वसुली अधिकारी तथा विक्री अधिकारी</p>
                        <p class="text-end">तालुका ______, जि. पुणे</p>
                        <p class="text-end">व्दारा - पुणे जिल्हा मध्य. सह. बँक मर्या.,</p>
                        <p class="text-end">____ शाखा, मु. पो. ____,</p>
                        <p class="text-end">ता. ____, जि. पुणे.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center">
                    <b>स्थावर मालमत्तेचा जाहीर लिलाव</b>
                </h3>
                <p style="text-indent: 35px; text-align: justify;">
                    ज्याअर्थी पुणे जिल्हा मध्य. सह. बँक मर्या., टाकळी हाजी, निमोणे व
                    न्हावरे शाखेचे खाली नमूद केलेले थकबाकीदार सभासद यांची शिरूर
                    तालुक्यातील, जि.पुणे येथील स्थावर मालमत्ता खाली नमूद केलेल्या
                    व्याजासह रकमेच्या वसुलीसाठी जप्त करण्यात आलेली आहे.
                </p>
                <p style="text-indent: 35px; text-align: justify;">
                    आणि ज्याअर्थी खाली नमूद केलेल्या दिनांकास त्यांचेकडे येणे असलेले
                    मुद्दल + व्याज + रक्कम वसुल होईपर्यंत होणारे व्याज + सरचार्ज + कोर्ट
                    खर्च इ. येणे रक्कम वसुल करण्यासाठी सदर मिळकतीची विक्री करणे आवश्यक
                    आहे.
                </p>
                <p style="text-indent: 35px; text-align: justify;">
                    त्याअर्थी या नोटिसीअन्वये जाहीर करण्यात येते की, दि. ____ रोजी
                    दुपारी ठीक ____ वाजता विक्री अधिकारी श्री. एल. बी. दाभाडे हे पुणे
                    जिल्हा मध्य. सह. बँक मर्या., _______ शाखा, मु.पो. ____, ता. ____,
                    जि. पुणे येथे व
                </p>
                <p style="text-indent: 35px; text-align: justify;">
                    दि.______ रोजी दुपारी ठीक ____ वाजता विक्री अधिकारी श्री._____ हे
                    पुणे जिल्हा मध्य. सह. बँक मर्या., _____ शाखा, मु. पो. ____, ता.
                    _____, जि. पुणे येथे व
                </p>
                <p style="text-indent: 35px; text-align: justify;">
                    दि.______ रोजी दुपारी ठीक ____ वाजता विक्री अधिकारी श्री. ____ हे
                    पुणे जिल्हा मध्य. सह. बँक मर्या., _____ शाखा, मु. पो. ____, ता.
                    _____, जि. पुणे
                </p>
                <p style="text-indent: 35px; text-align: justify;">
                    येथे खाली नमूद केलेल्या मालमत्तेवर, खाली नमूद केलेले थकबाकीदार यांचा
                    हक्क, दावा व हितसंबंध आणि मालमत्तेची अथवा त्यावर काही भागाची किंवा
                    त्यातुन मिळणाऱ्या उप्तन्नाची अथवा फायद्याची विल्हेवाट लावण्याचा जो
                    जो अधिकार खाली नमूद केलेले थकबाकीदार हे आपल्या हितासाठी
                    कायदेशीररीतीने हल्ली चालवु शकतात तो तो अधिकार जाहीर लिलाव करून
                    सर्वांहुन अधिक रक्कम बोलेल त्यास लिलावात पुकारलेल्या वाजवी
                    किंमतीबद्दलच्या त्या त्या शर्तीवर अनुसरून विक्री करतील.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table style="margin: auto; border-collapse: collapse">
                    <tbody>
                        <tr>
                            <th style="border: 1px solid black; width: 10%">अ. क्र.</th>
                            <th style="border: 1px solid black; width: 10%">
                                गावाचे नाव / शहराचे नाव
                            </th>
                            <th style="border: 1px solid black">भोगवटादाराचे नाव</th>
                            <th style="border: 1px solid black">भूमापन क्र. / गट क्र.</th>
                            <th style="border: 1px solid black; width: 10%">
                                क्षेत्र हे. आर
                            </th>
                            <th style="border: 1px solid black; width: 39%">
                                वसुली दाखल्याप्रमाणे तपशील
                            </th>
                        </tr>
                        <tr style="border: 1px solid black">
                            <td style="border: 1px solid black"></td>
                            <th colspan="5" style="border: 1px solid black">निमोणे शाखा</th>
                        </tr>
                        <tr style="border: 1px solid black">
                            <td style="border: 1px solid black">१</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr style="border: 1px solid black">
                            <td style="border: 1px solid black">२</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr style="border: 1px solid black">
                            <td style="border: 1px solid black">३</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black"></td>
                            <th colspan="5" style="border: 1px solid black">
                                टाकळी हाजी शाखा
                            </th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">१</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">२</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">३</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">४</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black"></td>
                            <th colspan="5" style="border: 1px solid black">
                                न्हावरे शाखा
                            </th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">१</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">२</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black; text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black">३</td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black"></td>
                            <td style="border: 1px solid black;text-align: justify;">
                                दि.___ अखेर येणे कर्ज मुद्दल रू. ___/- + व्याज रू.___/- = एकूण
                                रु.___/- व रू. ___/- वर दि. ___ पासुन द. सा. द. शे ___%
                                प्रमाणे होणारे व्याज + सरचार्ज + कोर्ट खर्च + वसुली खर्च
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p style="text-indent: 35px; text-align: justify;">
                    उक्त मालमत्तेच्या हक्कासंबंधी किंवा त्रयस्थ पक्षांनी दावा
                    सांगीतलेल्या कोणत्याही अधिकाऱ्याच्या बोजाच्या किंवा हितसंबंधाच्या
                    विधीग्राहयतेविषयी कोणतीही हमी देण्यात आलेली नाही. थकबाकीदारांकडुन
                    येणे असलेल्या ज्या रकमेच्या वसुलीसाठी विक्रीचा आदेश देण्यात आलेला
                    आहे ती रक्कम + होणारे व्याज येणे आहे.
                </p>

                <div style="display: flex; justify-content: flex-end; ">
                    <div>
                        <p class="text-end">वसुली अधिकारी</p>
                        <p class="text-end">तालुका ____, जि. पुणे</p>
                        <p class="text-end">द्वारा - पुणे जिल्हा मध्य. सह. बँक मर्या.,</p>
                        <p class="text-end">____ शाखा, मु. पो. ____</p>
                        <p class="text-end">ता. ____, जि. पुणे</p>
                    </div>
                </div>
                <div>
                    <p>टीप:-</p>
                    <p style="text-align: justify;">
                        १) लिलावाच्या अटी व शर्ती लिलावाचेवेळी वाचुन दाखविण्यात येतील.
                    </p>
                    <p style="text-align: justify;">
                        २) लिलाव तारखेपूर्वी अगर लिलावाचे दिवशी थकबाकीदाराने संपूर्ण रक्कम
                        भरल्यास लिलाव रद्द करण्यात येईल.
                    </p>
                    <p style="text-align: justify;">
                        ३) लिलाव तहकुब करणे, नाकारणे किंवा पुढे ढकलणे हे सर्व अधिकार विशेष
                        वसुली अधिकारी व विक्री अधिकारी यांनी राखुन ठेवले आहेत.णे
                    </p>
                </div>
            </div>
        </div>
</body>

</html>