<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JangamJaptiPanchanama</title>
</head>

<body style="margin-left: 50px; size: a4;">
    <h2 style="text-align: center; margin: 0px;">जंगम जप्ती पंचनामा</h2>
    <p style="text-align: right; margin: 0px;">दिनांक: _ / _ / _ </p>
    <table style="width: 80%; ">
        <tr>
            <td style="vertical-align: baseline;">संदर्भ:</td>
            <td> विशेष वसुली अधिकारी जाक्र एसबी / रिकव्हरी / एसआरओ / १५६ / &nbsp; / १७-१८ <br>
                दिनांक:- / /२० रोजी दिलेली जंगम जप्तीची नोटीस.</td>
        </tr>
    </table>
    <p style="text-indent : 35px; text-align: justify;">आज रोजी आम्ही खाती सही करणार पंच मंडळी आपण बोलावलेवरून बँकेचे
        थकबाकीदार,</p>
    <p style="text-indent : 35px;  line-height: 20px; text-align: justify; margin: 0px;">
        श्री. ______________________ रा. _________________ यांचे राहते घरी पाळीवर हजर झालो. इसमाकडे असलेली बाकी
        रुपये ___________________ या
        रकमेची वसुली त्याचे चरात / पाळीवर खालीलप्रमाणे जंगम माल मिळून आला, वर्णन अंदाजे किंमत व आमचे कयासाने
        खालीलप्रमाणे येत आहे. जप्तीत बी-बियाणे, खावटी व प्रपंचाची भांडी, कपडालत्ता घेतलेला नाही</p>
    <div style="display: flex; margin-left: 90px;">
        <div style="width: 40%;">
            <p style="text-align: center; margin: 0px;">जप्त जंगम मालमत्तेचे वर्णन </p>
            <table>
                <tr>
                    <td>१)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>२)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>३)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>४)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>५)</td>
                    <td>___________________________</td>
                </tr>
            </table>
        </div>
        <div style="width: 40%;">
            <p style="text-align: center; margin: 0px;">पंचनुमतें अंदाजे किंमत </p>
            <table>
                <tr>
                    <td>१)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>२)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>३)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>४)</td>
                    <td>___________________________</td>
                </tr>
                <tr>
                    <td>५)</td>
                    <td>___________________________</td>
                </tr>
            </table>
        </div>
    </div>
    <p style="text-align: justify; margin: 0px;">येणेप्रमाणे जप्तीच्या वेळी श्री. _________________ हे हजर होते. जप्तीच्या वेळी
        नियमबाह्य काहीही घडलेलं नाही. </p>
    <table>
        <tr>
            <td rowspan="5" style="vertical-align: baseline; width: 12%;">समक्ष </td>
            <td style="text-align: center;">पंच सह्या </td>
        </tr>
        <tr>
            <td>
                १)&nbsp; &nbsp; सही: ______________ <br>
                श्री. ___________________ रा. ___________________
            </td>
        </tr>
        <tr>
            <td>
                २) &nbsp; &nbsp; सही: ______________ <br>
                श्री. ___________________ रा. ___________________
            </td>
        </tr>
        <tr>
            <td>
                ३) &nbsp; &nbsp; सही: ______________ <br>
                श्री. ___________________ रा. ___________________
            </td>
        </tr>
        <tr>
            <td>
                ४) &nbsp; &nbsp; सही: ______________ <br>
                श्री. ___________________ रा. ___________________
            </td>
        </tr>
    </table>
    <p style="margin-bottom: 0px;">विशेष वसुली अधिकारी,</p>
    <h3 style="text-align: center;margin-top: 0px; margin: 0px;"><u>पावती</u></h3>
    <p style="text-indent: 35px; text-align: justify; margin: 0px;  line-height: 20px;">वरील जप्त केलेला सर्व माल माझे ताब्यात मिळाला, मी तो लिलावाच्या
        वेळी सांगाल त्या
        ठिकाणी हजार करिन यात चूक होणार नाही. </p>
    <div style="display: flex; justify-content: space-between;">
        <div>
            दिनांक :-<br>
            समक्ष :
        </div>
        <div style="margin-right: 8%;">
            ___________________________
        </div>
    </div>
    <p>विशेष वसुली अधिकारी</p>
</body>

</html>