<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JaptiAdesh</title>
</head>

    <body>
        <h2 style="text-align: center;"><strong><u>स्थावर मालमत्ता जप्त करण्यासंबंधी आदेश</u></strong></h2>
        <div style="display: flex; justify-content: end;">
            <div style="line-height: 25px;">
                <p style="margin: 6px 0;">जा.क्र. वसुली / स्थावर जप्ती</p>
                <p style="margin: 6px 0;">वसुली अधिकारी यांचे कार्यालय</p>
                <p style="margin: 6px 0;">द्वारा <strong><u>___________</u></strong>, पुणे</p>
                <p style="margin: 6px 0;"><strong><u>___________</u></strong> जिल्हा   तालुका, </p>
                <p style="margin: 6px 0;"><strong><u>___________</u></strong> शाखा </p>
                <p style="margin: 6px 0;">दिनांक: <strong><u></u></strong></p>
            </div>
        </div>

        <h3 style="text-align: center; margin-bottom: 0px; margin: 20px 0; "><strong>आदेश</strong></h3>
        <p style="text-indent: 35px; line-height: 25px; margin: 0px; text-align: justify;">ज्या अर्थी <strong><u>___________</u></strong>.  <strong><u>___________</u></strong>. <strong><u>___________</u></strong> तालुका
            ________ जिल्हा पुणे या संस्थेने सहाय्यक निबंधक, सहकारी संस्था, तालुका ______
            यांच्या दिलेल्या क्रमांक _____ दिनांक __________ च्या प्रमाणपत्रान्वये मुलीसाठी महाराष्ट्र सहकारी संस्था
            अधिनियम १९६० च्या कलम १५६ अन्वये अर्ज केला आहे.
        </p>
        <p style="text-indent: 35px; line-height: 20px; margin: 0px; text-align: justify;">त्याअर्थी मी श्री. _________  वसुली अधिकारी, पुणे महाराष्ट्र सहकारी संस्था नियम १९६१
            च्या नियम १०७ (१०) अन्वये आदेश देतो की, खाली उल्लेख केलेली मालमत्ता जप्त करण्यात येत आहे, आणि हा आदेश देण्यात
            आल्यानंतर पुढील आदेश हाईतोपर्यंत त्या मालमतेची केलेले कोणतेही खाजगी हस्तांतरण किया स्वाधीन करणे किंवा तिच्यावर
            निर्माण केलेला कोणताही भार किया देणगी, खरेदी अगर हस्तांतराने स्वीकृत करणेस अगर बोल करणेकरिता तारण मेगेस बावरून
            मनाई करण्यात येत आहे.
        </p>

        <table style="margin: auto; border-collapse: collapse;">
            <tr>
                <th style="text-align: center;" colspan="7"><h3>मालमत्तेचे वर्णन</h3></th>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">प्रमाणपत्राचा क्रमांक व दिनांक</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">ज्या पक्षकाराविरुद्ध उक्त प्रमाणपत्र देण्यात आले असेल त्याचे नाव</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px; width: 15%;">गावाचे नाव व तालुका</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px; width: 15%;">भूमापन क्रमांक</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px; width: 10%;">क्षेत्र</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px; width: 10%;">आकारणी</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px; width: 10%;">चतु:सीमा </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">१)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">२)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">३)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">४)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">५)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">६)</td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">७)</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px;"></td>
                <td style="border: 1px solid black; padding: 6px; line-height: 20px;">
                    पूर्वेस<br>
                    पश्चिमेस<br>
                    दक्षिणेस<br>
                    उत्तरेस 
                </td>
            </tr>
        </table>
        

        <p style="margin: 20px 0;"><strong>शेरा: </strong> (ज्या भारास मालमत्ता पात्र असेल असा कोणताही भार)</p>
        <p style="text-indent: 35px; line-height: 20px; margin: 0px; text-align: justify;">देय असलेली व्याज आणि खर्च यासह या आदेशाच्या दिनांकापासून १५ दिवसांचे आत देण्यात
            आली नाही तर वर उल्लेख केलेली मालमत्ता विक्रीस काढण्यात येईल.
        </p>
        <div style="display: flex; justify-content: end;">
            <div>
                <h3 style="font-size: medium; margin-top: 20px;"></h3>
                तालुका <strong><u>___________</u></strong> जि. पुणे 
            </div>
        </div>

        <table style="page-break-before: always;">
            <tr>
                <th colspan="2"><h3 style="margin: 15px 0;">प्रत रवाना: </h3></th>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">१)</td>
                <td style="text-align: justify;">श्री. <strong><u>___________</u></strong> राहणार <strong><u>___________</u></strong> तालुका <strong><u>___________</u></strong> जि. पुणे.</td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">२)</td>
                <td style="text-align: justify;">मे. चेअरमन, <strong><u>___________</u></strong> राहणार <strong><u>___________</u></strong></td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">३)</td>
                <td style="text-align: justify;">मा. तहसीलदार <strong><u>___________</u></strong> सस्नेह</td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">४)</td>
                <td style="text-align: justify;">गावकामगार तलाठी <strong><u>___________</u></strong> तालुका <strong><u>___________</u></strong> जि. पुणे.</td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">५)</td>
                <td style="text-align: justify;">मा. उपनिबंधक / सहाय्यक निबंधक सहकारी संस्था ता. <strong><u>___________</u></strong> जि. पुणे यांचेकडे सूचना फलकावर
                    लावणेसाठी सविनय सादर.</td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">६)</td>
                <td style="text-align: justify;">मा. उपसरव्यवस्थापक यमुली कक्ष पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित</td>
            </tr>
        </table>

    </body>

</html>