<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LilavPurvNotice</title>
</head>

<body style="line-height: 24px;">
    <div class="row" style="display: flex; justify-content: space-between">
        <div style="width: 60%;">
            <p class="text-start" style="margin: 0; margin-bottom: 5px;">जा.क्र./ ___ / शाखा /</p>
            <p class="text-start" style="margin: 0; margin-bottom: 5px;">दिनांक: <strong><u></u></strong></p>
        </div>
        <div>
            <table style="width: 100%;">
                <tr>
                    <td ><strong><u>श्री.  </u></strong></td>
                </tr>
                <tr>
                    <td ><strong><u>वसुली अधिकारी</u></strong></td>
                </tr>
                <tr>
                    <td >द्वारा पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे.</u></td>
                </tr>
                <tr>
                    <td ><strong><u>श्री.  </u></strong></td>
                </tr>
                <tr>
                    <td ><strong><u></u></strong> शाखा, मु. पो. <strong><u></u></strong>,</u></strong></td>
                </tr>
                <tr>
                    <td >ता. <strong><u></u></strong>, जि. पुणे.</u></strong></td>
                </tr>
            </table>

        </div>
    </div>

    <h2 style="text-align: center">
        <strong>लिलावापूर्वीची नोटीस</strong>
    </h2>
    <h3 style="margin: 0; font-size: medium;">प्रति,</h3>
    <div style="text-indent: 45px;">
        <p style="margin: 2px 0;"><strong><u>श्री. <span th:text="${courtCase.nameOfDefaulter}"/> </u></strong>, कर्जदार</p>
        <p style="margin: 2px 0;"><strong><u></u></strong> शाखा, मु. पो. <strong><u></u></strong>,</u></strong></p>
        <p style="margin: 2px 0;"><strong><u>श्री.  जामीनदार</u></strong>,</p>
        <p style="margin: 2px 0;">ता. <strong><u><span th:text="${courtCaseSetting.talukaName}"/> </u></strong>, जि. पुणे.</u></strong></p>
    </div>

    <div style="margin: 20px 0; display: flex; justify-content: space-between">
        <div style="width: 8%;">
            <h3 style="margin: 0; font-size: medium;">संदर्भ :-</h3>
        </div>
        <div style="width: 90%;">
            <p style="text-align: justify; margin: 0;">
                १) मा. सहाय्यक निबंधक, सह.संस्था, <strong><u></u></strong> यांचेकडुन सह. कायदा कलम १०१
                    अन्वये  दि. <strong><u></u></strong> रोजी मिळविलेला हुकूमनामा
            </p>
            <p style="text-align: justify; margin: 0;">
                २) महा.सह.संस्था नियम १९६१ चा नियम १०७ (३) अन्वये पाठविलेली मागणी
                    नोटीस दि. <strong><u></u></strong>
            </p>
            <p style="text-align: justify; margin: 0;">
                ३) वसुली अधिकान्यांनी दि. <strong><u></u></strong> रोजी दिलेला स्थावर मिळकत जप्ती आदेश
            </p>
            <p style="text-align: justify; margin: 0;">
                ४) मा. सहाय्यक निबंधक, सह. संस्था,____ तालुका यांना जप्त केलेल्या
                    मालमत्तेची वाजवी  किंमत ठरवुन देण्याबाबत पाठविलेले पत्र दि. <strong><u></u></strong>
            </p>
            <p style="text-align: justify; margin: 0;">
                ५) मा. जिल्हा उपनिबंधक, सह.संस्था, पुणे जिल्हा यांनी वाजवी किंमत ठरवून
                    दिल्याबाबतचे पत्र दि. <strong><u></u></strong>
            </p>
        </div>
    </div>

    <p style="text-indent: 35px; text-align: justify; margin: 0;">
        आपण बँकेच्या _____ शाखेकडुन. _____ कारणासाठी रु . ______ चे. _____
        कर्ज घेतले होते. सदर कर्ज थकल्याने व बँकेने पकवाकीच्या वसुलीसाठी
        प्रयत्न करूनही रक्कम न भरल्याने बँकेने मा. सहाय्यक निबंधक, सह.संस्था,
        ______ तालुका यांचेकडून संदर्भ क्र.१ ने वसुली दाखला मिळविला आहे. सदर
        दाखल्यानुसार संदर्भ क्र. २ ने मागणी नोटीस देवूनही रक्कम न भरल्याने
        वसुली अधिकान्यांनी संदर्भ क्र. ३ ने आपली स्थावर मालमत्ता जप्त केली
        आहे.
    </p>
    <p style="text-indent: 35px; text-align: justify; margin: 0;">
        संदर्भ क्र.४ चे पत्राने मा. सहाय्यक निबंधक, सह.संस्था, ______ तालुका
        यांना आपल्या जप्त स्थावर मालमत्तेची वाजवी किंमत ठरवून मिळण्याबाबत
        कळविल होते. त्यांनी संदर्भ क्र.५ थे पत्राने मा. जिल्हा उपनिबंधक, सह.
        संस्था, पुणे जिल्हा पुणे यांनी आपल्या जप्त मालमत्तेची वाजवी किंमत
        ठरवून दिली असून सदर मालमत्ता आहीर लिलावाने विकण्याचा आदेशही दिलेला
        आहे.
    </p>
    <p style="text-indent: 35px; text-align: justify; margin: 0;">
        आपणास कळविण्यात येते की, आपण घेतलेल्या कर्जाची वसुली दाखल्याप्रमाणे
        सव्याज परतफेड या पत्राच्या दिनांकापासून १५ दिवसांत करावी. अन्यथा
        आपल्या स्थावर मालमत्तेचा जाहीर लिलाव केला जाईल व त्याच्या परिणामाची व
        खर्चाची जबाबदारी आपली राहील याची नोंद घ्यावी.
    </p>

    <div style="display: flex; justify-content: flex-end">
        <div>
            <h3 style="margin: 30px 0 0 0;">वसुली अधिकारी</h3>
            <p>तालुका <strong><u> <span th:text="${courtCaseSetting.talukaName}"/></u></strong></p>
        </div>
    </div>
</body>

</html>
