<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LilavPurvNotice</title>
</head>

<body style="margin: 30px 20px 30px 55px">
    <div style="display: flex; justify-content: space-between">
        <div>
            <p>जा.क्र. / शाखा/</p>
            <p>दिनांक :</p>
        </div>
        <div>
            <p  style="margin: 2px;">श्री. ______</p>
            <p  style="margin: 2px;">वसुली अधिकारी,</p>
            <p  style="margin: 2px;">तालुका _____</p>
            <p  style="margin: 2px;">द्वारा पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे.</p>
            <p  style="margin: 2px;">मर्या._____ शाखा,</p>
            <p  style="margin: 2px;">पत्ता ______</p>
        </div>
    </div>
            <h3 style="text-align: center">
                <b>लिलामापूर्वीची नोटीस</b>
            </h3>
            <p style="margin: 2px;">प्रति,</p>
            <p style="margin: 2px;">श्री. _________, कर्जदार</p>
            <p style="margin: 2px;">_____________________</p>
            <p style="margin: 2px;">श्री. _________ जामीनदार,</p>
            <p style="margin: 2px;">_____________________</p>


    <div style="margin: auto; display: flex; justify-content: space-between">
        <div>
            <p>संदर्भ :-</p>
        </div>
        <div>
            <p>
                १) मा. सहाय्यक निबंधक, सह.संस्था,_______ यांचेकडुन सह. कायदा कलम १०१
                    अन्वये <br> दि. ____ रोजी मिळविलेला हुकूमनामा
            </p>
            <p>
                २) महा.सह.संस्था नियम १९६१ चा नियम १०७ (३) अन्वये पाठविलेली मागणी
                    नोटीस <br>दि. ______
            </p>
            <p>
                ३) वसुली अधिकान्यांनी दि. ____ रोजी दिलेला स्थावर मिळकत जप्ती आदेश<br>
            </p>
            <p>
                ४) मा. सहाय्यक निबंधक, सह. संस्था,____ तालुका यांना जप्त केलेल्या
                    मालमत्तेची वाजवी <br> किंमत ठरवुन देण्याबाबत पाठविलेले पत्र दि. ______
            </p>
            <p>
                ५) मा. जिल्हा उपनिबंधक, सह.संस्था, पुणे जिल्हा यांनी वाजवी किंमत ठरवून<br>
                    दिल्याबाबतचे पत्र दि.____
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p style="text-indent: 35px;">
                आपण बँकेच्या _____ शाखेकडुन. _____ कारणासाठी रु . ______ चे. _____
                कर्ज घेतले होते. सदर कर्ज थकल्याने व बँकेने पकवाकीच्या वसुलीसाठी
                प्रयत्न करूनही रक्कम न भरल्याने बँकेने मा. सहाय्यक निबंधक, सह.संस्था,
                ______ तालुका यांचेकडून संदर्भ क्र.१ ने वसुली दाखला मिळविला आहे. सदर
                दाखल्यानुसार संदर्भ क्र. २ ने मागणी नोटीस देवूनही रक्कम न भरल्याने
                वसुली अधिकान्यांनी संदर्भ क्र. ३ ने आपली स्थावर मालमत्ता जप्त केली
                आहे.
            </p>
            <p style="text-indent: 35px;">
                संदर्भ क्र.४ चे पत्राने मा. सहाय्यक निबंधक, सह.संस्था, ______ तालुका
                यांना आपल्या जप्त स्थावर मालमत्तेची वाजवी किंमत ठरवून मिळण्याबाबत
                कळविल होते. त्यांनी संदर्भ क्र.५ थे पत्राने मा. जिल्हा उपनिबंधक, सह.
                संस्था, पुणे जिल्हा पुणे यांनी आपल्या जप्त मालमत्तेची वाजवी किंमत
                ठरवून दिली असून सदर मालमत्ता आहीर लिलावाने विकण्याचा आदेशही दिलेला
                आहे.
            </p>
            <p style="text-indent: 35px;">
                आपणास कळविण्यात येते की, आपण घेतलेल्या कर्जाची वसुली दाखल्याप्रमाणे
                सव्याज परतफेड या पत्राच्या दिनांकापासून १५ दिवसांत करावी. अन्यथा
                आपल्या स्थावर मालमत्तेचा जाहीर लिलाव केला जाईल व त्याच्या परिणामाची व
                खर्चाची जबाबदारी आपली राहील याची नोंद घ्यावी.
            </p>
        </div>
    </div>

    <div class="row mt-3" style="display: flex; justify-content: flex-end">
        <div class="col-md-12">
            <p class="text-end">वसुली अधिकारी</p>
            <p class="text-end">तालुका _____</p>
        </div>
    </div>
</body>

</html>