<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MudrakBharane</title>
</head>

<body>
    <h3 style="text-align: center;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</h3>
    <hr>
    <div style="display: flex; justify-content: end;">
        <div>
            <p style="line-height: 25px;">जा.क्र./वि.व.अ. / वसुली / <br>
            स्थावर मालमत्ता जाहीर लिलाव विक्री /<br>
            श्री.............................. <br>
            विशेष वसुली व विक्री अधिकारी, ता...................<br>
            पुणे जिल्हा मध्य. सह. बँक मर्या., ...........शाखा,<br>
            मु.पो. .................., ता...................,जि. पुणे.<br>
            दिनांक :-</p>
        </div>
    </div>
    <p style="line-height: 25px;">प्रति,<br>
    श्री / श्रीमती .........................<br>
    ..............................................................,<br>
    ..............................................................</p>

    <table style="width: 80%; margin: auto;">
        <tr>
            <td style="width: 10%; vertical-align: baseline;"><b>विषय :-</b></td>
            <td><b>स्थावर मालमत्ता (&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ) जाहीर
                लिलावांतर्गत उर्वरित ८५% रक्कम तसेच मुद्रांक शुल्क व नोंदणी शुल्क भरणा करणेबाबत.</b></td>
        </tr>
    </table>
        <p>महोदय </p>
        <p>वरील विषयाकडे आपले लक्ष वेधण्यात येत आहे</p>
        <p style="line-height: 25px;">१. पुणे जिल्हा मध्य. सह. बँक मर्या., पुणे,.................,येथील कक्षात दि..............., रोजी
            ................वाजता आयोजित केलेल्यास्थावर स्थावर मालमत्ता (अंतर्गत जमीन) जाहीर लिलाव सर्वात जास्त बोली
            बोलुन आपण रू...............किंमतीस घेतलेला असून त्यानुसार सदरचा जाहीर लिलाव आपण कबुल केल्याची जाहीर लिलाव
            प्रोसिडींगवर माझेसमोर व पंचासमोर स्वाक्षरी केलेली आहे. व याशिवाय सदर लिलावाच्या अटी व शर्ती मान्य असलेबाबत
            अटी व शर्तींच्या मसुद्यावर सही केलेली आहे.
        </p>
        <p style="line-height: 25px;">
            २. सदरच्या आपण घेतलेल्या लिलावांतर्गत लिलाव रकमेच्या ..........% रक्कम रू............,
            दि................ रोजीच ................वाजता भरणा केलेला / आहे. लिलावांतर्गतची उर्वरित
            ...............................% रक्कम रू....................व सदर लिलाव रकमेवर होणारी मुद्रांक शुल्क रक्कम
            रू.................... व त्याच लिलाव रकमेवर १% इतकी होणारी नोंदणी शुल्क रक्कम रू.
            ............................. सर्व रक्कम लिलाव दिनांकापासून १५ दिवसांचे आत या कार्यालयाकडे भरणा करावी. सदर
            पत्रात नमूद केलेले / निर्धारित दिवस ओलांडल्यास सदर लिलावांतर्गतच्या लिलाव डिपॉझीट व .................%
            रकमेतून सदर जाहीर लिलावाचा खर्च वसुल केला जाईल याची नोंद घ्यावी.
        </p>
    <div style="display: flex; justify-content: end;">
        <div>
            <p>आपला विश्वासू</p>
            <p>विशेष वसुली व विक्री अधिकारी,</p>
            <p>...........तालुका, जि. पुणे</p>
        </div>
    </div>


</body>

</html>