<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Repay Notice</title>
</head>
<body>

    <!-- Karj Magani Notice -->
<div style="margin: 30px 20px 30px 55px;">
    <!-- <h4 style="text-align: end;"><b>दिनांक : ______</b> </h4> -->
    <div style="height: 217px;">
        <div style="float: left; width: 30%;">
            <div>
                <p style="margin-top: 0px;"><b>जावक क्रमांक : ___ </b></p>
            <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px; text-align: end;"><b>थकीत मुदद्ल : </b></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px;">_________</td>
                </tr>
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px; text-align: end;"><b>व्याज :  </b></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px;">_________</td>
                </tr>
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px; text-align: end;"><b>दंड व्याज :  </b></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px;">_________</td>
                </tr>
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px; text-align: end;"><b>पोस्टेज व इतर : </b></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px;">_________</td>
                </tr>
                <tr style="border: 1px solid black; border-collapse: collapse;">
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px; text-align: end;"><b>एकुण :  </b></td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 6px;">_________</td>
                </tr>
            </table>
            </div>
        </div>
        <div style="float: right; width: 65%;">
            <!-- <div style="text-align: center;">
                <p><b>कर्ज खाते नं : ______ &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;कर्ज प्रकार : _____</b></p>
            </div> -->
            <table style="margin: 0px auto; line-height: 30.6px">
                <tr>
                    <td style="text-align: end;"><b>दिनांक : </b></td>
                    <td style="text-align: start;">  ________ </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><b>कर्ज खाते नं :</b></td>
                    <td style="text-align: start;">  ________ </td>
                </tr>
                <tr>
                    <td style="text-align: end;"><b>कर्ज प्रकार : </b></td>
                    <td style="text-align: start;">  ________ </td>
                </tr>
            </table>
        
                <div style="border: 1px solid black; text-align: center; width: 100%; margin: 7px auto;">
                    <h5 style="font-size: medium; margin: 5px;">कर्ज मागणी नोटीस १०१ (कलम १०१ अन्वये कारवाईकरणेसाठी)</h5>
                </div>
            
            <table style="width: 100%; margin: 0px; line-height: 30.6px">
                <tr>
                    <td style="text-align: center;">______________________________________,</td>
                </tr>
                <tr>
                    <td style="text-align: center;">____________</td>
                </tr>
            </table>  
        </div>
    </div>

    <hr>
    <div style=" padding: 0px;">
        <p style="margin: 0px;"><b>प्रति,</b></p>
    <table style="margin-left: 30px; width: 90%;  border-collapse: separate; border-spacing: 10px !important;">
        <tr>
            <td style=" vertical-align: baseline;"rowspan="2" ><b>१)</b></td>
           
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<b>कर्जदाराचे नाव : <span th:text="${courtCase.nameOfDefaulter} "></span>  </b></td>
        </tr>
        <tr >
            <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>राहणार : </b>_____________________<b>व्यवसाय : </b>__________________</td>
        </tr>
        <tr >
            <td style=" vertical-align: baseline;" rowspan="2" ><b>२)</b></td>
            <td><b>जमीनदारांचे नाव : ______________________________________________</b></td>
        </tr>
        <tr >
            <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>राहणार : </b>_____________________<b>व्यवसाय : </b>__________________</td>
        </tr>

        <tr >
            <td style=" vertical-align: baseline;" rowspan="2" ><b>३)</b></td>
            <td><b>जमीनदारांचे नाव : ______________________________________________</b></td>
        </tr>
        <tr >
            <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>राहणार : </b>_____________________<b>व्यवसाय : </b>__________________</td>
        </tr>
    </table>
    </div>
    
        <div style="height: 350px;">
            <p style="text-indent: 35px; line-height: 25px;">
                या नोटीसीने कळविण्यात येते की, सदर <b>____________________,</b> कडून घेतलेल्या रू : <b>______</b> कर्जापैकी रू <b>_____</b> अक्षरी ( <b>_________________</b>) थकीत झालेली आहे.
                 सदरची थकीत रक्कम व्याजासह ता. <b>________</b> रोजी अगर मुदतीत परतफेड केली नसल्यामुळे महाराष्ट्र सहकारी संस्था अधिनियम १९६० च्या कलम १०९ प्रमाणे कर्ज वसूली बाबत तुमच्यावर कारवाई करणेस तुम्ही पात्र झाला आहात. 
                 तरी तुम्ही जर तुमच्याकडे असलेली थक मुदलाची रक्कम व व्याज <b>______</b> पर्यत होणारे व्याज ची बाकी नोटीस पोहचले पासून ८ दिवसाच्या आत बँकेकडे भरली नाही तर बॅक तुमच्या विरूध्द सहकारी संस्था अधिनियम 
                 १०१ अन्वये सक्षम प्राधिकरणाकडे वसुलीसपात्र रक्कम वसुलीचा दाखला मिळणेसाठी दावा / अर्ज दाखल करून कायदेशीर इलाज करेल व तुमच्याकडील येणे बाकी होणाऱ्या व्याजासह जमीन महसुलीचे थकबाकीप्रमाणे 
                 वसुल करण्यात येईल, तसेच तुम्ही, सदर रक्कम वसुल करणेस होणाऱ्या खर्चाच्या रक्कमेसही जबाबदार होत असुन सदरची रक्कम आपलेकडून वसुल केली जाईल.
            </p>
        </div>
        <div>
        <p style="text-align: center; margin: 0px"><b>सचिव</b></p>
        <p style="text-align: center; margin-bottom: 0px"><b>______________________</b></p>

        <div style="margin: 15px auto; padding: 0px 50px;">
            <table style="width: 70%;">
                <tr>
                    <td><b>१)</b></td>
                    <td><b>कर्जदारचे नाव : </b></td>
                    <td><b>_______________________________</b></td>
                </tr>
                <tr>
                    <td><b>२)</b></td>
                    <td><b>जामिनदाराचे नाव : </b></td>
                    <td>_______________________________</td>
                </tr>
                <tr>
                    <td><b>३)</b></td>
                    <td><b>जामिनदाराचे नाव : </b></td>
                    <td>_______________________________</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <hr style="height: 1px; background-color: black;">
        <p style="text-align: center;">सुचना :थकबाकी भरणा केली असल्यास ही नोटीस रद्द समजावी, परंतु तशी शाखेत
            येऊन खात्री करावी.</p>
    </div>
</div>
</body>
</html>