<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proceding</title>
</head>

<body style="line-height: 25px;">
    <h2 style="text-align: center">
        पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे
    </h2>
    <hr />
    <strong>
        <h3 style="text-align: center">
            स्थावर मालमत्तेच्या जाहीर लिलावाचे टाचण टिपण
        </h3>
    </strong>
    <strong>
        <h2 style="text-align: center">प्रोसीडिंग</h2>
    </strong>
    <p style="line-height: 26px; text-align: justify;">
        पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्या. <strong><u></u></strong> शाखेचे लवादी थकबाकीदार
        श्री. <strong><u> </u></strong>, रा. <strong><u>, ता.  </u></strong> निम्नलिखित स्थावर मालमत्ता (शेतजमीन) त्यांचेकडील
        थकबाकी वसुलीकरीता दि.: <strong><u></u></strong> सकाळी / दुपारी लिलावाने दि.: <strong><u></u></strong> , जि. पुणे
        यांचे रोजी <strong><u></u></strong> वाजता जप्त केली होती व आहे. सदर जप्त केलेली स्थावर
        मालमत्ता रीतसर जाहीर दि.: <strong><u></u></strong> रोजी दुपारी <strong><u> </u></strong> वाजता विकण्यात येणार आहे. याबाबतचा
        जाहीरनामा काडुन तो संबंधीत कर्जदार व त्यांचे जामीनदार यांना दि.<strong><u></u></strong> रोजी वाजता रोजी पाठविला होता व आहे. याशिवाय सदरचा जाहीर लिलाव
        दि. रोजी दुपारी पुणे जिल्हा मध्य. सह. बँक मर्या., शाखेत ठेवण्यात आला आहे. याबाबतचे जाहीर निवेदन .... हया वृत्तपत्रामध्ये दि. रोजी प्रसिध्द केले होते
        व आहे. सदर निम्नलिखित स्थावर मालमत्ता आज दि.... ........... रोजी वाजता रीतसर जाहीर लिलावाने विक्रीस काढली. त्यावेळी उपस्थित असलेल्या व
        लिलावामध्ये भाग घेतलेल्या लोकांची (इसमांची) यादी व जप्तीअंतर्गत जाहीर लिलावाने विक्रीस काढलेल्या स्थावर मालमत्तेच्या (शेतजमिनीचा) तपशील व वर्णन खालीलप्रमाणे
    </p>
    <p style="line-height: 26px; text-align: justify;">जाहीर लिलावाने विक्रीस काढलेल्या स्थावर मालमत्तेचे वर्णन</p>
    <table style="width: 100%">
        <tbody>
            <tr>
                <td style="vertical-align: baseline;">१)</td>
                <td style="vertical-align: baseline">
                    ज्यांच्या विरुध्द म. स. का. क. १०१ (१)
                </td>
                <td>
                    <div style="line-height: 30px;">
                        <p style="margin: 3px 0;">१). <strong><u> </u></strong> कर्जदार</p>
                        <p style="margin: 3px 0;">रा. <strong><u>, ता. , जि. पुणे </u></strong></p>
                        <p style="margin: 3px 0;">२). <strong><u> </u></strong> जामीनदार क्र. १ </p>
                        <p style="margin: 3px 0;">रा. <strong><u>, ता. , जि. पुणे </u></strong> </p>
                        <p style="margin: 3px 0;">३). <strong><u> </u></strong> जामीनदार क्र. २ </p>
                        <p style="margin: 3px 0;">रा. <strong><u>, ता. , जि. पुणे </u></strong></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: baseline">२)</td>
                <td style="vertical-align: baseline">
                    स्थावर मालमत्ता तारण देणाराचे नाव व पत्ता
                </td>
                <td>
                    १)<strong><u> </u></strong> <br />रा. <strong><u>, ता. , जि. पुणे </u></strong>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: baseline">३)</td>
                <td style="vertical-align: baseline">
                    मा. स. का. क. १०१ (१) अन्वयेचा वसुली
                </td>
                <td>..............<br />..............</td>
            </tr>
            <tr>
                <td style="vertical-align: baseline">४)</td>
                <td style="vertical-align: baseline">
                    स्थावर मालमत्ता ज्या ठिकाणी आहे.
                </td>
                <td>मौजे <strong><u>, ता. , जि. पुणे </u></strong></td>
            </tr>
        </tbody>
    </table>

    <!-- Page 32-->
    <div>
        <p style="line-height: 26px; text-align: justify;">
            ५) स्थावर मिळकतीचे वर्णन, चतुःसीमा, मिळकतीचा गट क्र. व मिळकतीचे क्षेत्र
        </p>

        <table style="border-collapse: collapse; border: 1px solid black; page-break-before: always;">
            <tbody>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">
                        सर्व्हे क्र. / गट क्र.
                    </td>
                    <td colspan="2" style="border: 1px solid black; padding: 5px; width: 35%">
                        क्षेत्र
                    </td>
                    <td colspan="2" style="border: 1px solid black; padding: 5px; width: 35%">
                        आकार
                    </td>
                    <td style="border: 1px solid black; padding: 5px">चतुःसीमा</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px"></td>
                    <td style="border: 1px solid black; padding: 5px"></td>
                    <td style="border: 1px solid black; padding: 5px"></td>
                    <td style="border: 1px solid black; padding: 5px"></td>
                    <td style="border: 1px solid black; padding: 5px"></td>
                    <td style="border: 1px solid black; padding: 5px">
                        <p style="border: none">पूर्वेस ............</p>
                        <p style="border: none">पश्चिमेस .........</p>
                        <p style="border: none">दक्षिणेस ........</p>
                        <p style="border: none">उत्तरेस .........</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p style="text-indent: 35px; line-height: 26px; text-align: justify;">
            सदर स्थावर मालमतता (शेतजमीन) जाहीर लिलावाने विक्री करतेवेळी हजर
            असणाऱ्या लोकांची (इसमांची) यादी
        </p>

        <table style="border-collapse: collapse; width: 100%; border: 1px solid black">
            <tbody>
                <tr>
                    <td style="border: 1px solid black; padding: 5px; width: 7%">
                        अ.क्र.
                    </td>
                    <td style="border: 1px solid black; padding: 5px; width: 50%">
                        <p style="border: none">जाहीर लिलावाचे वेळी हजर</p>
                        <p style="border: none">असणाऱ्या इसमांची</p>
                        <p style="border: none">(लोकांची) नावे</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px; width: 20%">
                        पत्ता
                    </td>
                    <td style="border: 1px solid black; padding: 5px; width: 12%">
                        व्यवसाय
                    </td>
                    <td style="border: 1px solid black; padding: 5px; width: 12%">
                        स्वाक्षरी
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">१</td>
                    <td style="border: 1px solid black; padding: 5px">२</td>
                    <td style="border: 1px solid black; padding: 5px">३</td>
                    <td style="border: 1px solid black; padding: 5px">४</td>
                    <td style="border: 1px solid black; padding: 5px">५</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">२</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">३</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">४</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">५</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">६</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">७</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">---</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                    <td style="border: 1px solid black; padding: 5px">----</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3">
            <p style="text-indent: 35px; line-height: 26px; text-align: justify;">
                पुणे जिल्हा मध्यवर्ती सहकारी बैंक मर्या., ........... शाखेचे लवादी
                थकबाकीदार श्री.
                ............................................................,
                रा.......................................,ता............., जि. पुणे
                यांनी कर्ज घेण्यासाठी तारण गहाण खताने पुणे जिल्हा मध्यवर्ती सहकारी
                बँकेस सदरच्या स्थावर क्षेत्राचे ७/१२ उतान्यावर गहाण खताचा बोजा
                नोंदविला आहे. सदर जाहीर लिलावाने रीतसर विक्रीस काढलेल्या स्थावर
                मालमत्तेच्या (जमिनीच्या) जाहीर लिलावाचेवेळी वरील परिशिष्ठामध्ये नमूद
                तपशिलाप्रमाणे व्यक्ती / लोक उपस्थित असताना सदर जाहीर लिलावाचे कामकाजास
                आज दि........................... रोजी दु...........................
                वाजता सुरुवात करण्यात आली.
            </p>
            <p style="text-indent: 35px; line-height: 26px; text-align: justify;">
                श्री. ............................... विशेष वसुली व विक्री अधिकारी,
                तालुका ................................ यांनी सदर स्थावर मालमत्तेच्या
                शेतजमिनीचा रीतसर जाहीर लिलाव पुकारला. त्याचा तपशील खालीलप्रमाणे-
            </p>
            <p style="text-indent: 35px; line-height: 26px; text-align: justify;">
                जाहीर लिलावांतच्या स्थावर मालमत्तेचे (अंतर्गत जमिनीचे) वर्णन
            </p>
            <p style="text-indent: 35px; line-height: 26px; text-align: justify;">
                स्थावर मिळकत तुकडी पुणे, पोट तुकडी.......... .जि.पुणे, मे, दुय्यम
                निबंधक,......., जिल्हा परिषद, पुणे, पंचायत समिती, जि. पुणे येथील मौजे
                ....................ता.............,, जि.पुणे, यांच्या हद्दीतील स्थावर
                मिळकत (अंतर्गत जमीन) तिथे चतुःसीमा वर्णन खालीलप्रमाणे -
            </p>
        </div>
    </div>

    <!-- page-33 -->
    <div class="mt-3">
        <table style="
          width: 100%;
          margin: auto;
          border-collapse: collapse;
          border: 1px solid black;
        ">
            <tbody>
                <tr>
                    <td style="border: 1px solid black; width: 25%; padding: 5px;">
                        <p>जाहीर लिलावांतर्गतच्या स्थावर मिळकत धारकाचे नाव</p>
                    </td>
                    <td style="width: 25%; border: 1px solid black; padding: 5px;">
                        <p>म.स.का. क. १०१ (१) खालील वसुली दाखला क्र.व दिनांक</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p style="width: 10%">गावाचे नाव</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p style="width: 10%">क्षेत्र <br />हे. आर</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p style="width: 10%">आकार</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p style="width: 10%">चतुःसीमा</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p style="width: 10%">सरकारी आधारभूत किंमत रू.</p>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>-----</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>----</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>----</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>---</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>---</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>पूर्वेस</p>
                        <p>पश्चिमेस</p>
                        <p>दक्षिणेस</p>
                        <p>उत्तरेस</p>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>------</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="line-height: 26px;">जाहीर लिलावातील बोलीचा तपशील व बोलीची रक्कम</p>
    <table style="margin: auto; border-collapse: collapse; border: 1px solid black; width: 100%;">
        <tr style="border: 1px solid black; padding: 5px;">
            <th style="border: 1px solid black; padding: 5px;" rowspan="2">अ.क्र.</th>
            <th style="border: 1px solid black; padding: 5px;" rowspan="2">लिलाव बोलणाराचे नाव व पत्ता</th>
            <th style="border: 1px solid black; padding: 5px;" colspan="3">बोलीची रक्कम रूपये</th>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">एक वार</td>
            <td style="border: 1px solid black; padding: 5px;">दोन वार</td>
            <td style="border: 1px solid black; padding: 5px;">तीन वार</td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">१</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">२</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">३</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">४</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">५</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">६</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
        <tr style="border: 1px solid black; padding: 5px;">
            <td style="border: 1px solid black; padding: 5px;">७</td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
            <td style="border: 1px solid black; padding: 5px;"></td>
        </tr>
    </table>
    <div class="mt-3">
        <p style="text-indent: 35px; text-align: justify; margin: 4px 0;">
            जाहीर लिलावांतर्गत सर्वात जास्त बोली रू............... (अक्षरी
            रु...................) फक्त ला श्री. .......................
            रा................................, ता.
            ........................................, जि. पुणे, यांनी बोललेल्या
            बोलीवर इतर कोणीही लिलावामध्ये जादा बोली रक्कम न बोलल्यामुळे सदर जाहीर
            लिलावांतर्गतची विक्री मान्य करण्यात आली.
        </p>
        <p style="text-indent: 35px; text-align: justify; margin: 4px 0;">
            सदर जाहीर लिलावाची अंतिम बोली रू.......... ला अधिन राहून कबुल करतो,
            खरेदीदाराचे नाव, पत्ता व सही श्री.
            ................................................,
            रा..................................
            .ता..................................., जि. पुणे. जाहीर लिलाव मान्य सही
            .................................
        </p>
        <p style="text-indent: 35px; text-align: justify; margin: 4px 0;">
            जाहीर लिलावाचे अटी व शर्तीपमाणे मा. जिल्हा उपनिबंधक सहकारी संस्था, पुणे
            यांची जाहीर लिलाव विक्री कायम करण्यास मंजूरी मिळण्याचे अटीवर १५% रक्कम
            रू......................... अक्षरी रु...................... फक्त) पावती
            क्र. ............ दि.................... नुसार भरून घेण्यात आली. व
            उर्वरित ८५% रक्कम १५ दिवसांचे आत संस्थेकडे भरणा करण्याचे कबुल केले. तसेच
            जाहीर लिलावांतर्गतचे स्थावर मालमत्ता खरेदीवर यांनी स्टॅम्प ड्युटी व
            नोंदणी शुल्काची रक्कम लिलाव तारखेपासून १५ दिवसांचे आत भरणा करावयाचे आहेत
            असे लिलाव खरेदीदार यांनी कबुल केले.
        </p>
        <p style="text-indent: 35px; text-align: justify; margin: 4px 0;">
            सदर स्थावर मालमत्ता जाहीर लिलावाचे कामकाज आमचे समक्ष रीतसर पूर्ण केले
            असून सदर जाहीर लिलावाचे कामकाजाचेवेळी नियमबाहय काहीही घडलेले नाही आणि
            नियमबाहय काहीही घडलेले नाही.
        </p>
    </div>

    <!-- page 34 -->
        <p style="text-indent: 35px; text-align: justify;">
            सदरचा जाहीर लिलाव आज आज दि..................................रोजी दु...
            वाजता आमचेसमोर मा. विशेष वसुली व विक्री अधिकारी,
            तालुका.......................यांनी रीतसर पूर्ण केलेला आहे.
        </p>

        <table style="margin: auto; border-collapse: collapse; border: 1px solid black; width: 100%;">
            <tbody>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">अ.क्र.</td>
                    <td style="border: 1px solid black; padding: 5px;">साक्षीदाराचे नाव / पंचाचे नाव</td>
                    <td style="border: 1px solid black; padding: 5px;">पत्ता</td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <p>साक्षीदाराचे नाव /</p>
                        <p>पंचाचे सही</p>
                    </td>
                </tr>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">१</td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                </tr>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">२</td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                </tr>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">३</td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                </tr>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">४</td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                </tr>
                <tr style="border: 1px solid black; padding: 5px;">
                    <td style="border: 1px solid black; padding: 5px;">५</td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                    <td style="border: 1px solid black; padding: 5px;"></td>
                </tr>
            </tbody>
        </table>
        
        <div style="margin-top: 60px;">
            <h3 style="margin: 4px 0; font-size: medium;">विकास अधिकारी,</h3>
            <p style="margin: 4px 0">पुणे जिल्हा मध्य. सह. बँक मर्या., ..................... शाखा</p>
            <div style="display: flex; justify-content: space-between; line-height: 26px;">
                <div>
                    <p style="margin: 4px 0">ठिकाण :-</p>
                    <p style="line-height: 26px;">दिनांक: <strong><u></u></strong></p>
                </div>
                <div>
                    <p style="margin: 4px 0">विशेष वसुली व विक्री अधिकारी, ता..............</p>
                    <p style="margin: 4px 0">पुणे जिल्हा मध्य. सह. बँक मर्या., ............. शाखा,</p>
                    <p style="margin: 4px 0">मु. पो.......... , ता. ................ जि. पुणे.</p>
                </div>
            </div>
        </div>
    </body>
</html>
