<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShetiKarj</title>
</head>

<body style="line-height: 25px;">
<h2 style="text-align: center; margin-bottom: 10px 0px;"><strong><u><span th:text="${courtCase.bankName}"/></u></strong></h2>
<p style="text-align: center; margin: 0px;">रजिस्टर ए. डी.</p>
<div style="display: flex; justify-content: space-between; width: 100%;">
  <div style="width: 80%;">
    जावक क्रमांक
  </div>
  <div style="width: 20%;">
    दिनांक: <u><span th:text="${noticeDate}"/></u>
  </div>
</div>
<h3 style="text-align: center;  margin: 0px; font-size: medium;"><u>१०९ नुसार कारवाई करणेपूर्वीची नोटीस</u></h3>
<p style="text-align: center; margin: 0px;">(थेट शेती कर्जासाठी)</p>
<div style="display: flex; margin-top: 30px;">
  <div style="width: 20%;">
    <p style="margin: 4px 0;">कर्ज खाते क्रमांक:</p>
    <p style="margin: 4px 0;">कर्जदार, मे. / श्री./ सौ.: </p>
  </div>
  <div style="width: 75%;">
    <p style="margin: 4px 0;"><strong><u><span th:text="${courtCase.accountNo}"/></u></strong></p>
    <p style="margin: 4px 0;"><strong><u><span th:text="${courtCase.nameOfDefaulter}"/> </u></strong></p>
    <p style="margin: 4px 0;"> <strong><u><span th:text="${courtCase.address}"/></u></strong></p>
  </div>
</div>
<h3 style="text-align: center;"><strong>विषय: कर्ज फेड करण्याबाबत.</strong></h3>
<p style="margin: 0px;">तुम्हास नोटीस देण्यात येते की,</p>
<table>
  <tr>
    <td style="vertical-align: baseline;">१)</td>
    <td style="margin-bottom: 10px; text-align: justify; line-height: 25px;">
      तुम्ही बँकेच्या <strong><u><span th:text="${courtCase.societyBranchName}"/>.</u></strong>
      शाखेकडून दिनांक <strong><u><span th:text="${courtCase.loanDateMr}"/></u></strong>
      रोजी थेट शेती कर्ज योजनेअंतर्गत <strong><u><span th:text="${courtCase.loanType}"/></u></strong>
      कारणासाठी रुपये <strong><u><span th:text="${courtCase.loanAmount}"/></u></strong>
      चे कर्ज द.सा.द.शे. <strong><u><span th:text="${courtCase.interestRate}"/></u></strong>% व्याजदराने घेतले आहे.
    </td>
  </tr>
  <tr>
    <td style="vertical-align: baseline;">२)</td>
    <td style="margin-bottom: 10px; text-align: justify; line-height: 25px;">मूळ कर्जदार यांनी बँकेस दिनांक
      <strong><u><span th:text="${courtCase.loanDateMr}"/> </u></strong>
      रोजी रितसर गहाणखत, (सिंपल मॉर्गेज) वचनचिठ्ठी आणि करारनामे लिहून दिलेले आहेत.</td>
  </tr>
  <tr>
    <td style="vertical-align: baseline;">३)</td>
    <td style="margin-bottom: 10px; text-align: justify; line-height: 25px;">वचनचिठ्ठी व करारनाम्यातील
      तपशिलाप्रमाणे तुम्ही सदर कर्ज रकम परतफेड करण्यास व्यक्तीशः जबाबदार आहात.</td>
  </tr>
  <tr>
    <td style="vertical-align: baseline;">४)</td>
    <td style="margin-bottom: 10px; text-align: justify; line-height: 25px;">तुम्ही बँकेकडून घेतलेल्या कर्ज
      रकमेची परतफेड वेळेवर केलेली नाही म्हणून तुम्हास यापूर्वीही नोटीसा पाठविण्यात आल्या होत्या. तरीही तुम्ही
      थकीत कर्जाच्या रकमेची संपूर्ण परतफेड केलेली नाही. त्यामुळे महाराष्ट्र सहकारी संस्था अधिनियम १९६० चे कलम
      १०१ (१) अन्वये संबंदित मा. उपनिबंधक व मा. सहाय्यक निबंधक, सहकारी संस्था यांचेकडे अर्ज दाखल करून वसुली
      दाखला मिळणेबाबत अर्ज करण्याचा निर्णय घेण्यात आलेला आहे. तथापि सदर कारवाई करणेपूर्वी तुम्हारा एक संधी
      देण्यासाठी तुम्हास सदर अंतिम नोटीस देण्यात येत आहे.</td>
  </tr>
</table>

<p><strong>दिनांक <strong><u><span th:text="${courtCase.firstNoticeDateMr}"/></u></strong> अखेर तुमचेकडून खालीलप्रमाणे येणेबाकी / थकबाकी आहे</strong></p>
<table style="width: 80%; margin: auto; border-collapse: collapse; border: 1px solid black;">
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 5px; vertical-align: baseline;">१)</td>
    <td style="border: 1px solid black; padding: 5px;">मुदल</td>
    <td style="border: 1px solid black; padding: 5px;">रुपये <strong><u><span th:text="${courtCase.dueAmount}"/></u></strong></td>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 5px; vertical-align: baseline;">२)</td>
    <td style="border: 1px solid black; padding: 5px;">व्याज येणे + दंड व्याज</td>
    <td style="border: 1px solid black; padding: 5px;">रुपये <strong><u><span th:text="${courtCase.getMarathiAddition(courtCase.dueInterest,courtCase.duePenalInterest,courtCase.dueMoreInterest,courtCase.interestRecivable)}"/></u></strong></td>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 5px; vertical-align: baseline;">३)</td>
    <td style="border: 1px solid black; padding: 5px;">इतर खर्च - विमा,नोटीस इ.</td>
    <td style="border: 1px solid black; padding: 5px;">रुपये <strong><u><span th:text="${courtCase.getMarathiAddition(courtCase.vasuliExpense,courtCase.otherExpense,courtCase.insurance,courtCase.noticeExpense,courtCase.inquiryFee)}"/></u></strong></td>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 5px;"></td>
    <td style="border: 1px solid black; padding: 5px;">एकूण</td>
    <td style="border: 1px solid black; padding: 5px;">रुपये <strong><u><span th:text="${courtCase.getMarathiAddition(courtCase.dueAmount,courtCase.getMarathiAddition(courtCase.dueInterest,courtCase.duePenalInterest,courtCase.dueMoreInterest,courtCase.interestRecivable),courtCase.getMarathiAddition(courtCase.vasuliExpense,courtCase.otherExpense,courtCase.insurance,courtCase.noticeExpense,courtCase.inquiryFee))}"/></u></strong></td>
  </tr>
</table>
<p style="text-indent: 35px; text-align: justify; line-height: 25px;">तरी तुम्हास या नोटीशीने कळविण्यात येते की, ही
  नोटीस मिळाल्यापासून आठ दिवसांचे आत वर नमूद केल्याप्रमाणे रकम बँकेत रोख आणून भरावी व पावती घ्यावी. सदर मुदतीत
  संपूर्ण कजांची राम न भरल्यास तुमचे विरुद्ध पुढील कायदेशीर कारवाई करण्यात येईल व स्टॅम्प ड्यूटी खर्च, सरचार्ज,
  पोस्टेज, जाहिरात इ. खर्च तुमचे कर्ज खाती नावे टाकले जातील व परिणामाची जबाबदारी तुमचेवर राहील, याची नोंद घ्यावी.
</p>
</body>

</html>
