
                <h3 style="text-align:center;">रजिस्टर ए.डी./ यू.पी.सी.</h3>
                <p style="display:flex;text-align:left">जा.क्र. वसुली शेती कर्ज/ २०२२-२३/</p>
                <p style="display:flex;text-align:left">दिनांक :-</p>
            
                <div>
                    <p style="text-align:justify;text-align-last: right;">श्री.</p>
                    <p style="text-align:justify;text-align-last: right;">वसुली अधिकारी</p>
                    <p style="text-align:justify;text-align-last: right;">पुणे जिल्हा पुणे</p>
                    <p style="text-align:justify;text-align-last: right;">दारा, पुणे जिल्हा मध्यवर्ती सहकारी</p>
                    <p style="text-align:justify;text-align-last: right;">बैंक मर्यादित, पुणे</p>
                </div>


        <div>
            <p style="text-align:center">(रजिस्टर पोहोच पावतीसह)</p>
            <p style="text-align:center">स्थावर मालमत्ता जप्ती पूर्वीची मागणी नोटीस</p>
        </div>
        <div>
            <p>प्रति,</p>
            <p style="margin-left:5%">श्री.</p>
        </div>
        <div>
            <p style="text-indent : 35px">
                आपणास या नोटीसी द्वारे कळविण्यात येते की, पुणे जिल्हा मध्यवर्ती सहकारी बैंक मर्यादित, ४-व, वी.
                जे. रोड, पुणे ४११००१ या बँकेने महाराष्ट्र राज्य सहकारी संस्था अधिनियम १९६० चे कलम
            </p>
            <p style="text-indent : 35px">
                मे. आदेशांची महाराष्ट्र राज्य सहकारी संस्था अधिनियम १९६० चे कलम १५६ आणि सहकारी संस्था अधिनियम
                १९६२ चे नियम १०७(१) अन्वये .........................आदेशाची तुमचे विरुद्ध बजावणी करून विक्री
                करणेयावत वसुली अधिकारी यांना सूचना दिलेल्या आहेत.
            </p>
            <p style="text-indent : 35px">
                स्थावर मालमत्ता जप्त करून त्याची जाहिर लिलावाने विक्री करण्यापूर्वी नैसर्गिक न्यायाच्या दृष्टीने
                आपलेकडील जप्ती कारवाई का करू नये. याकामी आपले म्हणणे नोंदणी कामी दि. सकाळी ११.०० वाजता बँकेचे
                पुणे- ४११० • २०२२ रोजी या कार्यालयात हजर राहून आपले म्हणणे नोंदवावे. आपण हजर न राहिल्यास जन्ती
                करणेस आपली कोणतीही हरकत नाही. असे गृहित धरून पुढील कारवाई केली जाईल याची नोंद घ्यावी.सदरची नोटीस
                अर्ज दि. • २०२२ रोजी नी माझ्या सहीशिक्यानिशी दिली आहे.
            </p>
            <p>
                <b>विशेष टिप:</b> वसुली अधिकारी हे पूर्वगामी पोट कलमांन्वये अधिकारांचा वापरताना किंवा अशा
                वसुलीसाठी त्यांच्याकडे करण्यात आलेल्या कोणत्याही अर्जावर आदेश देताना (उदा. अधिनियम १९६३ च्या
                अनुसूचीतील बाद ११६) च्या प्रयोजना करीता दिवाणी न्यायालय असल्याने समजण्यात येईल. त्यांनी दिलेल्या
                अदेशाचे पालन न झाल्यास ई. पि. कोड प्रमाणे कंटेम्प्ट ऑफ अँथॅरिटी पब्लिक सपृहच्या विभागान्वये
                गुन्हा दाखल होतो ( भा.दं.संहिता कलम १७२ ते १९० प्रमाणे)
            </p>
            <p><b>सोबत:</b> मे. ऑर्डरच्या प्रती जोडून देत आहे.</p>
                <div style="text-align:justify;text-align-last: right;">
                    <p>वसुली अधिकारी</p>
                    <p>पुणे जिल्हा</p>
                    <p>(महा. सह. संस्था अधिनियम १९६० चे कलम १५६ व १९६२ चे नियम १०७ अन्वये )</p>
                </div>
        </div>
        <div>
            <p><b>प्रत माहितीसाठी सादर :-</b></p>
            <p><b>२. मा. विभागीय सहनिबंधक,</b></p>
            <p>सहकारी संस्था, पुणे विभाग,</p>
            <p>साखर संकुल, शिवाजीनगर, पुणे-५</p>
            <p>४. मा. जिल्हा उपनिबंधक,</p>
            <p>सहकारी संस्था, पुणे (ग्रामीण)</p>
            <p>महाराष्ट्र राज्य सहकारी संघ इमान्त, पुणे-१</p>
            <p>५. मा. पोलीस निरिक्षक साहेब,</p>
            <p>पोलीस स्टेशन मार्केट यार्ड, विवेवाडी, पुणे</p>
            <p><b>६. मा. मुख्य कार्यकारी अधिकारी</b></p>
            <p>पुणे जि.म.स. बँक मर्या . ,पुणे</p>
        </div>
        <div style="text-align:justify;text-align-last: right;">
                <p>वसुली अधिकारी</p>
                <p>पुणे जिल्हा</p>
                <p>द्वारा: पुणे जिल्हाध्ती सहकारी बँक मर्या. पुणे</p>
        </div>
    </div>
</div>
