
<p style="text-align:justify;text-align-last:right;">दिनांक :- ________</p>
<h4 style="text-align:center">ताबा पावती</h4>
 <p style="text-indent:35px">मी _____ पत्ता, ____ , ताबा पावती लिहुन देतो की, पुणे जिल्हा मध्य. सह. बँक मर्या., वसुली व विक्री अधिकारी श्री. ______ . यांनी, पुणे जिल्हा मध्य. सह. बँक मर्या., _______ शाखेचे थकबाकीदार यांच्या स्थावर मालमत्तेचा दि. ______. रोजी पुकारलेल्या / ठेवलेल्या लिलावामध्ये मौजे _____ ता. _____  जि. पुणे येथील गट क्र. _________ ही स्थावर मालमत्ता दि. रोजी जास्तीत जास्त बोलीने रक्कम रू. ______ ची जास्तीत जास्त बोली बोललो. माझी अंतिम बोली मा. विशेष वसुली अधिकारी व विक्री अधिकारी यांनी सदरची स्थावर मालमत्ता वरील बोलीस मान्य करून सदर रक्कम दि. _________  रोजी मी, सदर रकमेचा संपूर्ण भरणा बँकेकडे केलेला आहे. त्यामुळे वर नमूद केलेली स्थावर मालमत्ता आज रोजी माझे ताब्यात मिळाली, व ती मी घेतली. त्याबद्दल माझी कोणतीही तक्रार नाही. सबब ही पावती लिहुन दिली असे.</p>
<p style="text-align:justify;text-align-last:right;">जास्तीत जास्त बोलीस माल विकत घेणाऱ्याची सही</p>
 <p>दिनांक :- ________ </p>
