<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TabaghenyachiNotice</title>
</head>

    <body>
        <h2 style="text-align: center">
            <strong>महा.सह.संस्था. नियम १९६१ चा नियम १०७ अन्वये ११ (इ-१) ३ अन्वये तावा नोटीस</strong>
        </h2>
        <div style="display: flex; justify-content: space-between; width: 100%;">
            <div style="width: 80%;">
                <p style="margin: 4px 0;">जा. क्र.: / रिकव्हरी/ २०१८-१९.</p>
            </div>
            <div>
                <p style="margin: 4px 0; text-align: end;">दिनांक: <strong><u></u></strong></p>
            </div>
        </div>
       
        
        <p style="margin: 4px 0;"><strong><u></u></strong></p>
        <p style="margin: 4px 0;">वसुली अधिकारी,</p>
        <p style="margin: 4px 0;">पुणे जिल्हा पुणे</p>
        <p style="margin: 4px 0;">
            द्वारा पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे.
        </p>
        <p style="margin: 4px 0;">शाखा, <strong><u></u></strong></p>
        <p style="margin: 4px 0;">पत्ता <strong><u></u></strong></p>
    

        <div style="margin: 40px 0;">
            <p style="text-align: center; font-size: medium; "><strong>नमुना- झेड</strong> </p>
            <h3 class="text-center" style="text-align: center">
                <strong>स्थावर मालमत्तेचा ताबा घेण्याबाबतची नोटीस</strong>
            </h3>
        </div>
        <div>
            <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
                ज्याअर्थी खाली सही केलेला वसूली अधिकारी यांनी महाराष्ट्र सहकारी
                संस्था नियम १९६१ चा नियम १०७ (३) अन्वये दि. _____ रोजी मागणी नोटीस
                कर्जदार श्री _____ व जामीनदार सौ ____ व _______ यांना देऊनही त्यांनी
                नोटीसी मध्ये नमूद केलेल्या रक्कमेचा विहित मुदतीत व त्यानंतरही भरणा
                केलेला नाही.
            </p>
            <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
                ज्याअर्थी कर्जदार श्री ___ यांचे वाहनं क्र. _____ ची _____ जप्त करून
                दि ____ रोजी जाहिर लिलाव करून सदर वाहनाची विक्री केली आहे.
            </p>
            <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
                ज्याअर्थी कर्जदार श्री ____ यांच्या जप्त जंगम मालमत्तेच्या लिलावातून
                संपूर्ण कर्जाची परतफेड न झाल्याने खाली नमूद केलेली स्थावर मालमत्ता .
                दि ____ च्या आदेशाने जप्त करण्यात आलेली आहे.
            </p>
            <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
                ऋणकोने रक्कम जमा करण्यास कसूर केल्यामुळे ऋणकोला ह्या प्रमाणे नोटीस,
                देण्यात येत आहे कि आणि सर्व नागरिकांना खाली निर्दिष्टकेलेल्या
                मालमत्तेचा खाली सही करणाऱ्याने त्याला/तिला महा.सह.संस्था अधिनियम
                १९६० व नियम १९६१ चा नियम १०७ ११ (इ-१) अन्वये दिलेल्या अधिकारानुसार
                ______ या दिवशी प्रतीकात्मक ताबा घेतला आहे परंतु ऋणकोने प्रत्यक्ष
                ताबा देण्यास गैरहजर राहून प्रत्यक्ष ताबा देण्यास नकार दिला आहे.
            </p>
            <p style="text-indent: 35px; line-height: 25px; text-align: justify;">
                विशेष करून कृणकोला आणि नागरीकांना याद्वारे सावध करण्यात येत आहे कि,
                खालील मालमत्ते संबंधी कोणताही व्यवहार करू नये आणि व्यवहार केल्यास
                कर्जदाराच्या बोजाची रक्कम आणि त्यावरील व्याज स्थाला अधीन राहावे
                लागेल.
            </p>
        </div>

        <div style="page-break-before: always;">
            <h3 style="margin: 0; font-size: medium;">जप्त मालमत्तेचा तपशील</h3>
            <table style="margin: auto; border-collapse: collapse">
                <tbody>
                    <tr>
                        <td style=" border: 1px solid black; padding: 5px;">
                            हुकूमनामा आदेश क्र.
                        </td>
                        <td style="border: 1px solid black; padding: 5px;">
                            ज्याचे विरुद्ध हुकूमनामा आहे त्यांचे नाव
                        </td>
                        <td style="width: 10%; border: 1px solid black; padding: 5px;">गावाचे नाव</td>
                        <td style="width: 10%; border: 1px solid black; padding: 5px;">मिळकत न.</td>
                        <td style="border: 1px solid black; width: 10%; padding: 5px;">क्षेत्र</td>
                        <td style="border: 1px solid black; width: 30%; padding: 5px;">शेरा</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; vertical-align: baseline; text-align: justify;; padding: 5px;">
                            मा. सहाय्यक निबंधक / उपनिबंधक सहकारी संस्था पुणे जिल्हा  मध्यवर्ती सहकारी बँक मर्यादित, पुणे जिल्हा दावा क्र. ________
                                दिनांक ____
                        </td>
                        <td style="border: 1px solid black; padding: 5px;"></td>
                        <td style="border: 1px solid black; padding: 5px;"></td>
                        <td style="border: 1px solid black; padding: 5px;"></td>
                        <td style="border: 1px solid black; padding: 5px;"></td>
                        <td style="border: 1px solid black; padding: 5px;; padding: 5px;">
                            <p style="text-align: justify;; padding: 5px;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे ___ शाखा दि.
                                ____ अखेर येणेवाकी रु.___</p>
                            <p style="text-align: justify; padding: 5px;">इतरखर्च रु. ____</p>
                            <p style="text-align: justify; padding: 5px;">एकूण रु. ____</p>
                            <p style="text-align: justify; padding: 5px;">व रक्कम रु. ____</p>
                            <p style="text-align: justify; padding: 5px;">
                                वर दिनांक. ___ पासून द. शा. द. से. ____ व्याज दराने होणारे
                                व्याज + सरचार्ज
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p style="margin: 4px 0; text-align: right;">स्थळ- पुणे</p>
            <p style="margin: 4px 0; text-align: right;">दि. ____</p>
        </div>
        <div>
            <p style="margin: 4px 0; text-align: right;">श्री. _________</p>
            <h3 style="margin: 4px 0; margin-top: 30px; text-align: right; font-size: medium;">वसूली अधिकारी</h3>
            <p style="margin: 4px 0; text-align: right;">
                पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे बँक करीता
            </p>
        </div>

    </body>

</html>