<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabaNotice</title>
</head>
<body style="margin: 30px 20px 30px 55px;">
 
                    <h3 style="text-align: center;"><strong>रजि. ए. डी.</strong></h3>
                <div style="display: flex; justify-content: end;">
                    <div>
                        जा. क्र.: <br>
                        दिनांक : ______ <br>
                         वसुली अधिकारी, <br>
                         पुणे जिल्हा पुणे <br>
                         द्वारा पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे. <br>
                         ______ <br>
                         ______ पुणे 
                        </div>
                    </div>

                <h4 style="text-align: center; margin-bottom: 0px;"><strong>ताबा नोटीस</strong></h4>
                <h4 style="text-align: center; margin: 0px;"><strong>महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम (११) (ड-१) अन्वये नोटीस</strong></h4>
                <p>प्रति,</p>
                १) श्री. __________________ रा. __________<br>
                २) _____________________ <br>
                ३) _____________________


                <div>
                    <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी श्री ___________ रा. _______ , पुणे १२. यांनी पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे. शाखेकडून कर्ज गाठी खरेदीसाठी कर्ज घेतले आहे. सदर कर्ज घेताना
                        आपण हा बँकेचे सभासद झालेले आहात.</p>
                    <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी ________ रा. ____________ पुणे १२.
                        यांनी पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे. शाखेकडून गाडी खरेदी कारणासाठी घेतलेल्या कांची परतफेड करण्यास कसूर केलेला आहे.</p>
                    
                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">मा. सहाय्यक निबंधक / उपनिबंधक सहकारी संस्था द्वारा आपल्या कडून येणे / थकीत वसुली करण्यासाठी वसुली दाखले घेऊन निर्गमित केले आहेत. </p>
                    
                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी सदर वसूली दाखला पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे या बँकेने अंमलबजावणी करणेसाठी वसूली अधिकारी जिल्हा पुणे यांचे कडे पाठविले आहेत. त्यानुसार खाली स्वाक्षरी करणार यांनी मागणी नोटीस संबंधितांना पाठवून कर्ज रकमेची परतफेड करण्याचे निर्देश दिलेले आहेत.</p>
                
                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी आशाप्रकारे मागणी नोटीस बाजाहुनही संबंधितांनी कर्ज रकमेचा भरणा विहित मुदतीत व त्यानंतरही केलेला नाही वसूली अधिकारी यांनी दि _____ रोजी जप्ती पूर्वीच नोटीस देऊनही संबधीतानी कर्ज रक्कमेचा भरणा केला नाही.</p>

                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी जंगम मालमत्तेच्या तलावातून संपूर्ण कर्जाची परतफेड न झाल्याने खाली नमूद केलेली स्थावर मिळकत दि ____ च्या आदेशाने जप्त केलेली आहेत.</p>
                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी कर्जदार श्री. ______ जप्त करून दिनांक _____ रोजी जाहीर लिलाव करून सदर वाहनाची विक्री केली आह. </p>
                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी सदर वाहन विक्रीच्या आलेल्या रकमेतून कर्जाची संपूर्ण परतफेड झालेली नाही.</p>
                     <p style="page-break-before: always; ">अप्त कलेली स्थावर मालमत्ता तपशील :</p>

                     <table style="margin: auto; border-collapse: collapse;">
                        <tr>
                            <td style="border: 1px solid black; width: 25%;">हुकूमनामा आदेश क्र.</td>
                            <td style="border: 1px solid black; width: 25%;">ज्याचे विरुद्ध हुकूमनामा आहे त्यांचे नाव</td>
                            <td style="border: 1px solid black; width: 15%;">गावाचे नाव</td>
                            <td style="border: 1px solid black; width: 15%; text-align: justify;">मिळकत न. </td>
                            <td style="border: 1px solid black; width: 10%;">क्षेत्र</td>
                            <td style="border: 1px solid black; width: 10%;">शेरा</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; text-align: justify;">मा. सहाय्यक निबंधक / उपनिबंधक सहकारी संस्था पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे जिल्हा लवाद दावा क्र. ________ ते दिनांक ____ </td>
                            <td style="border: 1px solid black;"></td>
                            <td style="border: 1px solid black;"></td>
                            <td style="border: 1px solid black;"></td>
                            <td style="border: 1px solid black;"></td>
                            <td style="border: 1px solid black;"></td>
                        </tr>
                     </table>

                     <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी संबंधीत मिळकतीचे जप्ती आदेश देऊनही संबधातानी कर्ज रकमेचा भरणा न केल्याने संबंधित मिळकतीची जाहीर लिलावाने विक्री करणे आवश्यक आहे. त्यासाठी खाली स्वाक्षरी करणार यांनी संबंधित मिळकतीचे मुल्यांकन करून घेण्याचे ठरविले असून, मुल्यांकन करून घेतल्यानंतर मा. सहाय्यक निबंधक / उपनिबंधक सहकारी संस्था पुणे ग्रामीण यांचेकडून सदर मिळकतीचे वाजवा मूल्य निर्धारित करण्यासाठी प्रस्ताव दाखल करणार आहेत.</p>
                        <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी रोजी ______ खाली स्वाक्षरी करणार यांनी जप्ती आदेश देऊनही संबंधितांनी कर्ज रकमेचा भरणा केलेला नसल्याने सदर स्थावर मिळकतीचा ताबा घेऊन तिची रोतसर विक्री करणे अनिवार्य झालेले आहे.</p>
                        <p style="text-indent: 35px; line-height: 25px; text-align: justify;">ज्याअर्थी आपणास नोटीस देण्यात येते कि महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम १०७((१९) (ड)-१)१ अन्वर्ग आपल्या मालकीची वर नमूद केलेल्या व वसूली अधिकारी जिल्हा पुणे यांनी जप्त केलेल्या स्थावर मिळकतीचा ताबा घेण्यासाठी खाली स्वाक्षरी करणार वसूली अधिकारी जिल्हा पुणे दिनांक ______ रोजी दुपारी ______ वा प्रत्यक्ष जागेवर हजर राहून ताबा घेणार आहेत तरी सदरच्या वेळी आपण उपस्थीत राहून सहकार्य करावे ही विनंती.</p>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <p>प्रत माहितीसाठी</p>
                            <p>मा. शाखाधिकारी शाखा : ___ </p>
                        </div>
                        <div>
                            <p>वसूली अधिकारी</p>
                            <p>_________</p>
                            <p>पुणे जिल्हा पुणे</p>
                            <p> पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे करीता </p>
                        </div>
                    </div>


</body>
</html>