<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TabaPavti</title>
    </head>
    <body>
        <p style="text-align:justify;text-align-last:right;">दिनांक: <strong><u></u></strong></p>
        <h2 style="text-align:center">ताबा पावती</h2>
        <p style="text-indent:35px">
            मी <strong><u> </u></strong> पत्ता, <strong><u> </u></strong> , ताबा पावती लिहुन 
            देतो की, पुणे जिल्हा मध्य. सह. बँक मर्या., वसुली व विक्री अधिकारी श्री. <strong><u> </u></strong> . 
            यांनी, पुणे जिल्हा मध्य. सह. बँक मर्या., <strong><u></u></strong> शाखेचे थकबाकीदार यांच्या स्थावर मालमत्तेचा 
            दि. <strong><u></u></strong>. रोजी पुकारलेल्या / ठेवलेल्या लिलावामध्ये मौजे <strong><u></u></strong> 
            ता. <strong><u></u></strong>  जि. पुणे येथील गट क्र. <strong><u></u></strong> ही स्थावर मालमत्ता दि. रोजी जास्तीत जास्त बोलीने रक्कम 
            रू. <strong><u></u></strong> ची जास्तीत जास्त बोली बोललो. माझी अंतिम बोली मा. विशेष वसुली अधिकारी व विक्री अधिकारी यांनी सदरची स्थावर मालमत्ता 
            वरील बोलीस मान्य करून सदर रक्कम दि. <strong><u></u></strong>  रोजी मी, सदर रकमेचा संपूर्ण भरणा बँकेकडे केलेला आहे. त्यामुळे वर नमूद केलेली 
            स्थावर मालमत्ता आज रोजी माझे ताब्यात मिळाली, व ती मी घेतली. त्याबद्दल माझी कोणतीही तक्रार नाही. सबब ही पावती लिहुन दिली असे.
        </p>
        <p style="text-align:justify;text-align-last:right;">जास्तीत जास्त बोलीस माल विकत घेणाऱ्याची सही</p>
        <p style="margin-top: 50px;">दिनांक: <strong><u></u></strong> </p>
    </body>
</html>