<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VikriKayam</title>
</head>
<body>
                <h3 style="text-align: center;">स्थावर मालमत्ता विक्री कायम केल्याचा आदेश</h3>
                <hr>
                <p style="text-indent: 35px; text-align: justify; line-height: 35px;">थकबाकीदार श्री._____
                    पत्ता _____
                    यांची खाली नमूद केलेली स्थावर मालमत्ता पुणे जिल्हा मध्य. सह. बँक मर्या., _______ शाखेच्या थकबाकी वसुलीसाठी दि. _____ रोजी जाहीर लिलावाने विकण्यात आली. श्री.______
                    पत्ता _____ यांनी सर्वात जास्त बोली बोललेली आहे. आणि त्यांचे नावे लिलाव मंजूर करून लिलाव कायम केला आहे..</p>
                    <p style="text-indent: 35px; text-align: justify; line-height: 35px;">यास्तव दाखला देण्यात येतो की, खालील स्थावर मालमत्ता श्री. ______
                        पत्ता _____ यांना जाहीर लिलावाने महाराष्ट्र सहकारी संस्था अधिनियम १९६० चे कलम १५६ व महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम १०७ प्रमाणे विक्री केलेला असून विक्री कायम केली आहे.</p>
    
                    <p style="text-align: center;"><b>स्थावर मालमत्तेचे वर्णन </b></p>
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <p>वसुली अधिकारी व विक्री अधिकारी</p>
                            <p>ता.____</p>
                            <p>पुणे जिल्हा मध्य. सह. बँक मर्या., ____ तालुका</p>
                        </div>
                    </div>
    
                    <p><b>प्रती :- </b></p>
                    <p>खरेदीदार श्री. ____ <br>
                        पत्ता ____</p>
                        <br>
                    <p><b>प्रतिलीपी </b></p>
                    <p>१) थकबाकीदार श्री. ______<br>
                        पत्ता _____________</p>
                    <br>
                    <p><b>प्रतिलीपी माहितीसाठी व जरूर त्या कार्यवाहीसाठी :- </b></p>
                    <p style="line-height: 25px;">१) मा. तहसिलदारसो,<br>
                        ______तहसिल,<br>
                        मु.पो.ता._____ , जि. पुणे.<br>
                        २) मा. गाव कामगार तलाठी,<br> ______सजा,  <br>मु.पो.ता.____, जि. पुणे.</p>
    
</body>
</html>