<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VikriKalavane</title>
</head>

<body>
    <h2 style="text-align: center;">पुणे जिल्हा मध्यवर्ती सहकारी बँक मर्यादित, पुणे</h2>
    <hr>
    <div style="display: flex; justify-content: end;">
        <div>
            <p style="line-height: 25px;">जा.क्र./वि.व.अ. / वसुली / <br>
                स्थावर मालमत्ता जाहीर लिलाव विक्री /<br>
                श्री. <strong><u> </u></strong> <br>
                विशेष वसुली व विक्री अधिकारी, ता. <strong><u></u></strong><br>
                ., <strong><u></u></strong>शाखा,<br>
                मु.पो. <strong><u>,</u></strong>, ता. <strong><u></u></strong>,जि. पुणे.<br>
                दिनांक: <strong><u></u></strong>
            </p>
        </div>
    </div>
    <table>
        <tr>
            <td colspan="3">प्रति,</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: baseline;">१)</td>
            <td>श्री / श्रीमती <strong><u></u></strong>,</td>
            <td rowspan="3" style="padding-left: 40px;">लवादी थकबाकीदार</td>
        </tr>
        <tr>
            <td>..................................................................................,</td>
        </tr>
        <tr>
            <td>..................................................................................,</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: baseline;">२)</td>
            <td> श्री / श्रीमती <strong><u></u></strong></td>
            <td rowspan="3" style="padding-left: 40px;">जामीनदार क्र. १</td>
        </tr>
        <tr>
            <td>..................................................................................</td>
        </tr>
        <tr>
            <td>..................................................................................</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: baseline;">३)</td>
            <td>श्री / श्रीमती <strong><u></u></strong>,</td>
            <td rowspan="3" style="padding-left: 40px;">जामीनदार क्र. २</td>
        </tr>
        <tr>
            <td>..................................................................................,</td>
        </tr>
        <tr>
            <td>..................................................................................,</td>
        </tr>
    </table>
    <br>
    <table style="margin: auto; width: 80%;">
        <tr>
            <td style="width: 15%; vertical-align: baseline;">विषय:</td>
            <td style="line-height: 25px; text-align: justify;">महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम १०७ व त्याखालील उपनियम १३ (ब) नुसार स्थावर मालमत्तेची विक्री केलेविषयी कळविणेबाबत.</td>
        </tr>
    </table>
    <p>महोदय </p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">वरील विषयाकडे आपले लक्ष वेधण्यात येत आहे.</p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        पुणे जिल्हा मध्य. सह. बँक मर्या., ............ शाखेकडुन आपण घेतलेल्या रू.................या कर्जाची संपूर्ण
        थकबाकी झाल्याने आपल्याकडील कर्जबाकी सव्याज कायदेशीर मार्गाने वसुल करण्यासाठी संस्थेने म.स.का.क. १०१(१)
        अन्वये वसुलीचा दाखला मिळवुन म.स.का. क. १५६ नुसार आपल्या स्वतःच्या मालकीची मौजे ...............,
        ...............तालुका जि. पुणे येथील गट क्र............ मधील .......हे........आर ही गहाण खताने तारण दिलेल्या
        क्षेत्र जमिनीची दि.............. रोजी जप्ती केली होती व आहे. त्या अनुषंगाने सदर स्थावर मालमत्तेची अधिकार
        प्राप्त अधिकाऱ्यामार्फत त्या क्षेत्र जमीन क्षेत्राचा जाहीर लिलाव ......... रोजी दु............... वाजता पुणे
        जिल्हा मध्य. सह. बँक मर्या.,................. शाखेत ठेवले बाबतची जाहीर नोटीस आपणास व आपल्या जामीनदारांस
        पाठविली होती व आहे. त्याबाबतची पोहोचही आमच्या धारिकेस उपलब्ध आहे.
    </p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        आपल्या निर्दिष्ट केलेल्या स्थावर मालमत्तेचा दि............... रोजी रीतसर जाहीर लिलाव पुणे जिल्हा मध्य. सह.
        बँक मर्या.,..................शाखा येथे दु.............. वाजता पुकारला.
    </p>

    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        त्या जाहीर लिलावामध्ये जास्तीत जास्त बोली
        श्री................................,रा.....................................
        ता..............., जि. पुणे यांनी रू.......................... इतकी बोली बोललेली आहे. त्यापेक्षा अधिक बोली
        कोणीही बोललेली नसल्यामुळे सदरचा जाहीर लिलाव श्री.................. यांचे नावाने रू.......................
        इतक्या रकमेला मंजूर केलेला आहे. आपल्याकडे पुणे जिल्हा मध्य. सह. बँक मर्या., ........ .............. शाखेची
        मुद्दल, व्याज, दावा खर्च, वर्तमानपत्रामध्ये दिलेल्या जाहीर नोटिसीचा खर्च व <strong><u>%</u></strong> प्रमाणे होणारी अधिभार शुल्क
        रक्कम अशी सर्व होणारी एकूण रक्कम रू....................... इतकी आहे. जाहीर लिलावाची रक्कम
        रू..................... विचारात घेता आपलेकडील संपूर्ण कर्जबाकी निरंक होत नाही / होत आहे. अद्याप आपलेकडे
        रू................... इतकी रक्कम + व्याज येणे आहे.
    </p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        वरीलप्रमाणे स्थावर मालमत्तेचा जाहीर लिलाव झालेनंतर महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम १०७ खालील
        उपनियम १३ ( ब ) अन्वये आपणास या पत्राव्दारे रीतसर कळविण्यात येत आहे की, मा. जिल्हा उपनिबंधक सहकारी संस्था
        पुणे यांचेकडुन सदर लिलावांतर्गतच्या विक्री कायम करण्याच्या प्रस्तावास मान्यता मिळाल्यानंतर आपल्या स्थावर
        मालमत्तेच्या विक्रीतून आलेल्या रकमेच्या जमा पावत्या आपणास अलहिदा पाठविण्याची व्यवस्था करीत आहोत.
    </p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        आणि आपणास महा.सह.संस्था नियम १९६१ चा नियम १३ (अ) (ब) नुसार शेवटची संधी देण्यात येते
        की, वर नमूद केल्याप्रमाणे आपल्या स्थावर मालमत्तेचा जाहीर लिलाव झाला असुन, अद्यापही आपण
        आपल्याकडील येणे रक्कम व्याजासह + सरचार्ज + लिलावासाठी झालेला खर्च लिलाव घेणाऱ्या इसमाने
        भरलेल्या रकमेवर ५% व्याज ३० दिवसांचे आत भरण्यास तयार असल्यास आपल्या स्थावर मालमत्तेचा लिलाव रद्द करता येईल.
    </p>
    <div style="display: flex; justify-content: end;">
        <div>
            <p style="line-height: 25px;">आपला विश्वासू<br>
            विशेष वसुली व विक्री अधिकारी, ता. <strong><u> </u></strong><br>
            , <strong><u></u></strong> शाखा<br>
            मु. पो. <strong><u>, ता.  </u></strong>,जि. पुणे</p>
        </div>
    </div>

</body>

</html>