<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VikriTachan</title>
</head>

<body>
    <h3 style="text-align: center;">स्थावर मालमत्ता जाहीर लिलावाने विक्री केल्याचे टाचण</h3>
    <hr>
    <br>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        पुणे जिल्हा मध्यवर्ती
        सहकारी
        बँक
        मर्या.,.................
        शाखेचे
        थकबाकीदार
        श्री.....................................,पत्ता.................................,
        यांची निम्नलिखीत स्थावर मालमत्ता थकबाकी वसुलीकरीता दि. .........................
        रोजी जप्त केली होती.
        सदर स्थावर मालमत्ता आज दि. ............. लिलावाने विक्रीस काढली. त्यावेळी लिलावात भाग घेतलेल्या लोकांची
        यादी-
    </p>

    <table style="margin: auto; border-collapse: collapse; border: 1px solid black; width: 100%;">
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">अ.क्र.</td>
            <td style="border: 1px solid black;">इसमाचे नाव</td>
            <td style="border: 1px solid black;">पत्ता</td>
            <td style="border: 1px solid black;">धंदा</td>
            <td style="border: 1px solid black;">सही</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">१</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">२</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">३</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">४</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">५</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">६</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">७</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">८</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">९</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">१०</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
            <td style="border: 1px solid black;">------</td>
            <td style="border: 1px solid black;">------</td>
        </tr>
    </table>
    <br>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        वरीलप्रमाणे एकूण ................... व्यक्ती लिलावाचे वेळी उपस्थित होत्या. लिलावाचे कामास ठीक ..................... वाजता सुरूवात झाली. लिलावात खालीलप्रमाणे बोली झाली.
    </p>
    <br>
    <table style="margin: auto; border-collapse: collapse; border: 1px solid black; width: 100%;">
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">अ.क्र.</td>
            <td style="border: 1px solid black;">लिलावात बोली बोलणाऱ्याचे नाव</td>
            <td style="border: 1px solid black;">बोली बोललेली किंमत</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">१</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">२</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>

        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">३</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">४</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>

        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">५</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">६</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">७</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">८</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">९</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">१०</td>
            <td style="border: 1px solid black;">-------</td>
            <td style="border: 1px solid black;">----</td>
        </tr>
    </table>

    <br>
    <p style="text-indent: 35px; line-height: 25px;">
        श्री. .................................यांनी सर्वात जास्त बोली बोललेली आहे.
    </p>
    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">
        येणेप्रमाणे लिलावातील मला अटी व शर्तीनुसार रक्कम रू. .......................... ला
        लिलावाची रक्कम कबुल आहे.
    </p>
    <div style="display: flex; justify-content: end;">
        <div>
            <b>सर्वात जास्त बोली बोलणाऱ्याची सही- </b>
            <p>दिनांक</p>
        </div>
    </div>
    <p style="text-align: center; ">
        येणेप्रमाणे लिलाव झाला त्याचे टाचण / प्रोसिडींग आहे.
    </p>
    <div style="display: flex; justify-content: end;">
        <div>
            <b>विशेष वसुली अधिकारी व विक्री अधिकारी </b>
            <p>ता.................,
            <p>पुणे जिल्हा मध्य. सह. बँक मर्या., ...... ..तालुका</p>
        </div>
    </div>
    <p>पंचाचे नाव, पत्ता व सही :-</p>
    <p>१)</p>
    <p>२)</p>
</body>

</html>