<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VikriKayam</title>
</head>
<body style="line-height: 25px;">
                <h2 style="text-align: center;">स्थावर मालमत्ता विक्री कायम केल्याचा आदेश</h2>
                <hr>
                <p style="text-indent: 35px; text-align: justify; line-height: 25px; margin-top: 40px;">थकबाकीदार श्री._____
                    पत्ता _____
                    यांची खाली नमूद केलेली स्थावर मालमत्ता पुणे जिल्हा मध्य. सह. बँक मर्या., _______ शाखेच्या थकबाकी वसुलीसाठी दि. _____ रोजी जाहीर लिलावाने विकण्यात आली. श्री.______
                    पत्ता _____ यांनी सर्वात जास्त बोली बोललेली आहे. आणि त्यांचे नावे लिलाव मंजूर करून लिलाव कायम केला आहे..</p>
                    <p style="text-indent: 35px; text-align: justify; line-height: 25px;">यास्तव दाखला देण्यात येतो की, खालील स्थावर मालमत्ता श्री. ______
                        पत्ता _____ यांना जाहीर लिलावाने महाराष्ट्र सहकारी संस्था अधिनियम १९६० चे कलम १५६ व महाराष्ट्र सहकारी संस्था नियम १९६१ चा नियम १०७ प्रमाणे विक्री केलेला असून विक्री कायम केली आहे.</p>
    
                    <h3 style="text-align: center; margin: 30px 0;"><strong>स्थावर मालमत्तेचे वर्णन </strong></h3>
                    <div style="display: flex; justify-content: end;">
                        <div>
                            <h3 style="font-size: medium; margin: 4px 0;">वसुली अधिकारी व विक्री अधिकारी</h3>
                            <p style="margin: 4px 0;">ता.____</p>
                            <p style="margin: 4px 0;">पुणे जिल्हा मध्य. सह. बँक मर्या., ____ तालुका</p>
                        </div>
                    </div>
    
                    <p>प्रति:</p>
                    <p style="margin: 4px 0;">खरेदीदार श्री. ____ , पत्ता __________________</p>
                    <p style="margin: 4px 0;"><strong>प्रतिलीपी </strong></p>
                    <p style="margin: 4px 0;">१) थकबाकीदार श्री. <strong><u>__________________</u> </strong></p>
                    <p style="margin: 4px 0;"></p>
                    <p style="margin: 4px 0;">  पत्ता: <strong><u>_____________</u></strong></p>
                    <p style="margin: 4px 0;"><strong>प्रतिलीपी माहितीसाठी व जरूर त्या कार्यवाहीसाठी :- </strong></p>
                    <p style="line-height: 25px; margin: 4px 0;">१) मा. तहसिलदारसो,</p>
                    <p style="margin: 4px 0;"> <strong><u>_____</u></strong> तहसिल,</p>
                    <p style= "margin: 4px 0;"> मु.पो.ता. <strong><u>_____</u></strong> , जि. पुणे.</p>
    
</body>
</html>