<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-iss-portal-file-heading"
        data-cy="IssPortalFileCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.issPortalFile.home.createOrEditLabel"
      >
        Create or edit a Iss Portal File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.fileName" for="field_fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.fileExtension" for="field_fileExtension"
            >File Extension</label
          >
          <input
            type="text"
            class="form-control"
            name="fileExtension"
            id="field_fileExtension"
            data-cy="fileExtension"
            formControlName="fileExtension"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.branchCode" for="field_branchCode">Branch Code</label>
          <input
            type="number"
            class="form-control"
            name="branchCode"
            id="field_branchCode"
            data-cy="branchCode"
            formControlName="branchCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.financialYear" for="field_financialYear"
            >Financial Year</label
          >
          <input
            type="text"
            class="form-control"
            name="financialYear"
            id="field_financialYear"
            data-cy="financialYear"
            formControlName="financialYear"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.fromDisbursementDate" for="field_fromDisbursementDate"
            >From Disbursement Date</label
          >
          <div class="input-group">
            <input
              id="field_fromDisbursementDate"
              data-cy="fromDisbursementDate"
              type="text"
              class="form-control"
              name="fromDisbursementDate"
              ngbDatepicker
              #fromDisbursementDateDp="ngbDatepicker"
              formControlName="fromDisbursementDate"
            />
            <button type="button" class="btn btn-secondary" (click)="fromDisbursementDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.toDisbursementDate" for="field_toDisbursementDate"
            >To Disbursement Date</label
          >
          <div class="input-group">
            <input
              id="field_toDisbursementDate"
              data-cy="toDisbursementDate"
              type="text"
              class="form-control"
              name="toDisbursementDate"
              ngbDatepicker
              #toDisbursementDateDp="ngbDatepicker"
              formControlName="toDisbursementDate"
            />
            <button type="button" class="btn btn-secondary" (click)="toDisbursementDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.pacsCode" for="field_pacsCode">Pacs Code</label>
          <input type="number" class="form-control" name="pacsCode" id="field_pacsCode" data-cy="pacsCode" formControlName="pacsCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.applicationCount" for="field_applicationCount"
            >Application Count</label
          >
          <input
            type="text"
            class="form-control"
            name="applicationCount"
            id="field_applicationCount"
            data-cy="applicationCount"
            formControlName="applicationCount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.issPortalFile.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
