<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pacsMaster">
      <h2 data-cy="pacsMasterDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.pacsMaster.detail.title">Pacs Master</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pacsMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.pacsMaster.pacsName">Pacs Name</span></dt>
        <dd>
          <span>{{ pacsMaster.pacsName }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.pacsMaster.pacsNumber">Pacs Number</span></dt>
        <dd>
          <span>{{ pacsMaster.pacsNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pacs-master', pacsMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
