<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-court-case-heading"
        data-cy="CourtCaseCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.courtCase.home.createOrEditLabel"
      >
        Create or edit a Court Case
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.srNo" for="field_srNo">Sr No</label>
          <input type="text" class="form-control" name="srNo" id="field_srNo" data-cy="srNo" formControlName="srNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.accountNo" for="field_accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.nameOfDefaulter" for="field_nameOfDefaulter"
            >Name Of Defaulter</label
          >
          <input
            type="text"
            class="form-control"
            name="nameOfDefaulter"
            id="field_nameOfDefaulter"
            data-cy="nameOfDefaulter"
            formControlName="nameOfDefaulter"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.loanType" for="field_loanType">Loan Type</label>
          <input type="text" class="form-control" name="loanType" id="field_loanType" data-cy="loanType" formControlName="loanType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.loanAmount" for="field_loanAmount">Loan Amount</label>
          <input
            type="number"
            class="form-control"
            name="loanAmount"
            id="field_loanAmount"
            data-cy="loanAmount"
            formControlName="loanAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.loanDate" for="field_loanDate">Loan Date</label>
          <div class="input-group">
            <input
              id="field_loanDate"
              data-cy="loanDate"
              type="text"
              class="form-control"
              name="loanDate"
              ngbDatepicker
              #loanDateDp="ngbDatepicker"
              formControlName="loanDate"
            />
            <button type="button" class="btn btn-secondary" (click)="loanDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.termOfLoan" for="field_termOfLoan">Term Of Loan</label>
          <input
            type="text"
            class="form-control"
            name="termOfLoan"
            id="field_termOfLoan"
            data-cy="termOfLoan"
            formControlName="termOfLoan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.interestRate" for="field_interestRate">Interest Rate</label>
          <input
            type="number"
            class="form-control"
            name="interestRate"
            id="field_interestRate"
            data-cy="interestRate"
            formControlName="interestRate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.installmentAmount" for="field_installmentAmount"
            >Installment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="installmentAmount"
            id="field_installmentAmount"
            data-cy="installmentAmount"
            formControlName="installmentAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.totalCredit" for="field_totalCredit">Total Credit</label>
          <input
            type="number"
            class="form-control"
            name="totalCredit"
            id="field_totalCredit"
            data-cy="totalCredit"
            formControlName="totalCredit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.balance" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.interestPaid" for="field_interestPaid">Interest Paid</label>
          <input
            type="number"
            class="form-control"
            name="interestPaid"
            id="field_interestPaid"
            data-cy="interestPaid"
            formControlName="interestPaid"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.penalInterestPaid" for="field_penalInterestPaid"
            >Penal Interest Paid</label
          >
          <input
            type="number"
            class="form-control"
            name="penalInterestPaid"
            id="field_penalInterestPaid"
            data-cy="penalInterestPaid"
            formControlName="penalInterestPaid"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.dueAmount" for="field_dueAmount">Due Amount</label>
          <input type="number" class="form-control" name="dueAmount" id="field_dueAmount" data-cy="dueAmount" formControlName="dueAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.dueDate" for="field_dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.dueInterest" for="field_dueInterest">Due Interest</label>
          <input
            type="number"
            class="form-control"
            name="dueInterest"
            id="field_dueInterest"
            data-cy="dueInterest"
            formControlName="dueInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.duePenalInterest" for="field_duePenalInterest"
            >Due Penal Interest</label
          >
          <input
            type="number"
            class="form-control"
            name="duePenalInterest"
            id="field_duePenalInterest"
            data-cy="duePenalInterest"
            formControlName="duePenalInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.dueMoreInterest" for="field_dueMoreInterest"
            >Due More Interest</label
          >
          <input
            type="number"
            class="form-control"
            name="dueMoreInterest"
            id="field_dueMoreInterest"
            data-cy="dueMoreInterest"
            formControlName="dueMoreInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.interestRecivable" for="field_interestRecivable"
            >Interest Recivable</label
          >
          <input
            type="number"
            class="form-control"
            name="interestRecivable"
            id="field_interestRecivable"
            data-cy="interestRecivable"
            formControlName="interestRecivable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOne" for="field_gaurentorOne">Gaurentor One</label>
          <input
            type="text"
            class="form-control"
            name="gaurentorOne"
            id="field_gaurentorOne"
            data-cy="gaurentorOne"
            formControlName="gaurentorOne"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorOneAddress" for="field_gaurentorOneAddress"
            >Gaurentor One Address</label
          >
          <input
            type="text"
            class="form-control"
            name="gaurentorOneAddress"
            id="field_gaurentorOneAddress"
            data-cy="gaurentorOneAddress"
            formControlName="gaurentorOneAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwo" for="field_gaurentorTwo">Gaurentor Two</label>
          <input
            type="text"
            class="form-control"
            name="gaurentorTwo"
            id="field_gaurentorTwo"
            data-cy="gaurentorTwo"
            formControlName="gaurentorTwo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.gaurentorTwoAddress" for="field_gaurentorTwoAddress"
            >Gaurentor Two Address</label
          >
          <input
            type="text"
            class="form-control"
            name="gaurentorTwoAddress"
            id="field_gaurentorTwoAddress"
            data-cy="gaurentorTwoAddress"
            formControlName="gaurentorTwoAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.firstNoticeDate" for="field_firstNoticeDate"
            >First Notice Date</label
          >
          <div class="input-group">
            <input
              id="field_firstNoticeDate"
              data-cy="firstNoticeDate"
              type="text"
              class="form-control"
              name="firstNoticeDate"
              ngbDatepicker
              #firstNoticeDateDp="ngbDatepicker"
              formControlName="firstNoticeDate"
            />
            <button type="button" class="btn btn-secondary" (click)="firstNoticeDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.courtCase.secondNoticeDate" for="field_secondNoticeDate"
            >Second Notice Date</label
          >
          <div class="input-group">
            <input
              id="field_secondNoticeDate"
              data-cy="secondNoticeDate"
              type="text"
              class="form-control"
              name="secondNoticeDate"
              ngbDatepicker
              #secondNoticeDateDp="ngbDatepicker"
              formControlName="secondNoticeDate"
            />
            <button type="button" class="btn btn-secondary" (click)="secondNoticeDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
