<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stateMaster">
      <h2 data-cy="stateMasterDetailsHeading"><span jhiTranslate="cbsMiddlewareApp.stateMaster.detail.title">State Master</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ stateMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.stateMaster.stateCode">State Code</span></dt>
        <dd>
          <span>{{ stateMaster.stateCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.stateMaster.stateName">State Name</span></dt>
        <dd>
          <span>{{ stateMaster.stateName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/state-master', stateMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
