<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountHolderMaster">
      <h2 data-cy="accountHolderMasterDetailsHeading">
        <span jhiTranslate="cbsMiddlewareApp.accountHolderMaster.detail.title">Account Holder Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountHolderMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.accountHolderMaster.accountHolderCode">Account Holder Code</span></dt>
        <dd>
          <span>{{ accountHolderMaster.accountHolderCode }}</span>
        </dd>
        <dt><span jhiTranslate="cbsMiddlewareApp.accountHolderMaster.accountHolder">Account Holder</span></dt>
        <dd>
          <span>{{ accountHolderMaster.accountHolder }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-holder-master', accountHolderMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
