<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-pacs-master-heading"
        data-cy="PacsMasterCreateUpdateHeading"
        jhiTranslate="cbsMiddlewareApp.pacsMaster.home.createOrEditLabel"
      >
        Create or edit a Pacs Master
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.pacsMaster.pacsName" for="field_pacsName">Pacs Name</label>
          <input type="text" class="form-control" name="pacsName" id="field_pacsName" data-cy="pacsName" formControlName="pacsName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.pacsMaster.pacsNumber" for="field_pacsNumber">Pacs Number</label>
          <input
            type="text"
            class="form-control"
            name="pacsNumber"
            id="field_pacsNumber"
            data-cy="pacsNumber"
            formControlName="pacsNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cbsMiddlewareApp.pacsMaster.bankBranchMaster" for="field_bankBranchMaster"
            >Bank Branch Master</label
          >
          <select
            class="form-control"
            id="field_bankBranchMaster"
            data-cy="bankBranchMaster"
            name="bankBranchMaster"
            formControlName="bankBranchMaster"
            [compareWith]="compareBankBranchMaster"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="bankBranchMasterOption" *ngFor="let bankBranchMasterOption of bankBranchMastersSharedCollection">
              {{ bankBranchMasterOption.branchName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
